<div class="page-header">
  <h1 class="page-title">CPHC Migration</h1>
</div>

<%= render "action",
  method: :post,
  active: false,
  fa_icon: "cloud-exclamation",
  btn_type: :danger,
  path: admin_cphc_migration_cancel_all_path,
  btn_contents: "Cancel ongoing migration of #{@ongoing_migrations} patients",
  confirm: "Are you sure you want to cancel the migration of #{@ongoing_migrations} patients?" unless @ongoing_migrations.zero? %>

<%= render "region_summary", regions: @states %>

<script>
  $(".migrate-btn").click(function() {
      if($(this).children("i.fa-spinner").hasClass("d-none")) {
          $(this).children("i").toggleClass("d-none");
          $(this).children("i.fa-spinner").removeClass("d-none");
        }
    })

  $(".collapse-district-link").click(function() {
      $(this).children("i").toggleClass("fa-caret-right");
      $(this).children("i").toggleClass("fa-caret-down");
    })
</script>

<style>
.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}

  .collapse-district-link:hover {
    text-decoration: none;
  }
</style>
