<div class="snapshot">
  <div class="dashboard">
    <div class="snapshot-header">
      <span>IHCI Hypertension Control Report</span>
      Nov 2018
    </div>

    <h1>Brooklyn District</h1>
    <p class="dashboard-description"><b>#2 of 5</b> reporting districts in New York State.<br>State BP control average
      is 26% from reporting facilities. Albany is the #1 district with BP control of 45%.</p>

    <div class="featured">
      <table class="featured-table">
        <tr>
          <td class="featured-td">
            <div class="featured-section">
              <strong class="featured-title" style="color: #007A31;">Newly enrolled</strong>
              <span class="featured-number text-green">1,345</span>
              <span class="featured-label">New patients</span>

              <strong class="featured-title" style="color: #007A31; margin-top: 8px;">Return patients</strong>
              <span class="featured-number  text-green">12,456</span>
              <!--span class="featured-label">Return patients</span-->
            </div>
          </td>
          <td class="featured-td featured-middle">
            <div class="featured-section">
              <strong class="featured-title" style="color: #E0B000;">Didn't attend</strong>
              <span class="featured-number text-yellow">10,321</span>
              <span class="featured-label">Patients</span>

              <div class="featured-graph">
                <table>
                  <tr>
                    <td>
                      <div class="featured-graph-column featured-graph-column-yellow" style="height: 27.5px; margin-top: 22.5px;">55%</div>
                      <span class="featured-month">Sep</span>
                    </td>
                    <td>
                      <div class="featured-graph-column featured-graph-column-yellow" style="height: 32.5px; margin-top: 17.5px;">65%</div>
                      <span class="featured-month">Oct</span>
                    </td>
                    <td>
                      <div class="featured-graph-column featured-graph-column-yellow" style="height: 25.5px; margin-top: 24.5px;">51%</div>
                      <span class="featured-month">Nov</span></td>
                    <td>
                      <div class="featured-graph-column featured-graph-column-yellow" style="height: 21px; margin-top: 29px;">42%</div>
                      <span class="featured-month">Dec</span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </td>
          <td class="featured-td">
            <div class="featured-section">
              <strong class="featured-title">BP control</strong>
              <span class="featured-number">30%</span>
              <span class="featured-label">Goal: 45%</span>

              <div class="featured-graph">
                <table>
                  <tr>
                    <td>
                      <div class="featured-graph-column" style="height: 25px; margin-top: 25px;">25%</div>
                      <span class="featured-month">Oct</span>
                    </td>
                    <td>
                      <div class="featured-graph-column" style="height: 26px; margin-top: 24px;">26%</div>
                      <span class="featured-month">Nov</span>
                    </td>
                    <td>
                      <div class="featured-graph-column" style="height: 28px; margin-top: 22px;">28%</div>
                      <span class="featured-month">Dec</span>
                    </td>
                    <td>
                      <div class="featured-graph-column" style="height: 30px; margin-top: 20px;">30%</div>
                      <span class="featured-month">Jan</span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </td>
        </tr>
      </table>

    </div>
  </div>


  <section class="table-compact" style="margin-right: 16px !important; width: auto !important;">
    <div>
      <table>
        <thead>
        <tr>
          <th colspan="2"><h4>TOP PERFORMERS</h4></th>

          <th class="row-label">Newly<br>enrolled</th>
          <th class="row-label">Return<br>patients</th>
          <th class="row-label">Didn't<br>attend</th>
          <th class="row-label">Calls<br>made</th>
          <th class="row-label">BP<br>control</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="row-rank">1</td>
          <td class="row-title"><a href="#">CHC Brooklyn Bridge</a><span><b>4567</b> enrolled all time</span></td>

          <td class="row-enrolled text-green">98</td>
          <td class="row-enrolled text-green">430</td>
          <td class="row-default text-yellow">1321</td>
          <td class="row-default text-yellow">6</td>
          <td class="row-control text-grey-dark">65%</td>
        </tr>
        <tr>
          <td class="row-rank">2</td>
          <td class="row-title"><a href="#">PHC Coney</a><span><b>165</b> enrolled all time</span></td>

          <td class="row-enrolled text-green">37</td>
          <td class="row-enrolled text-green">65</td>
          <td class="row-default text-yellow">43</td>
          <td class="row-default text-yellow"><span class="null">0</span></td>
          <td class="row-control text-grey-dark">58%</td>
        </tr>
        <tr>
          <td class="row-rank">3</td>
          <td class="row-title"><a href="#">CHC Prospect Heights</a><span><b>890</b> enrolled all time</span></td>

          <td class="row-enrolled text-green">16</td>
          <td class="row-enrolled text-green">43</td>
          <td class="row-default text-yellow">140</td>
          <td class="row-default text-yellow">154</td>
          <td class="row-control text-grey-dark">52%</td>

        </tr>
        <tr>
          <td class="row-rank">4</td>
          <td class="row-title">
            <a href="#">Civil Hospital Brooklyn Downtown</a><span><b>5723</b> enrolled all time</span></td>

          <td class="row-enrolled text-green">321</td>
          <td class="row-enrolled text-green">1356</td>
          <td class="row-default text-yellow">1234</td>
          <td class="row-default text-yellow">9</td>
          <td class="row-control text-grey-dark">50%</td>

        </tr>
        <tr>
          <td class="row-rank">5</td>
          <td class="row-title"><a href="#">PHC Bedford-Stuyvesant</a><span><b>4567</b> enrolled all time</span></td>

          <td class="row-enrolled text-green">98</td>
          <td class="row-enrolled text-green">876</td>
          <td class="row-default text-yellow">1321</td>
          <td class="row-default text-yellow">16</td>
          <td class="row-control text-grey-dark">48%</td>
        </tr>
        </tbody>
      </table>
    </div>

  </section>

  <div style="margin-top: -26px; padding-top: 6px; color: #999; margin-right: 0; border-top: 1px solid #F0F2F5;">
    <p class="footnote"><strong>Didn't attend</strong> patients are enrolled hypertensives that have not had a BP
      recorded in the past 3 months.</p>
    <p class="footnote"><strong>BP control</strong> is calculated as a rolling cohort. 12,456 patients enrolled 6-9
      months ago / 3,736 of those patients had SBP &lt; 140 and DBP &lt; 90 at last measure in past 3 months = 30% BP
      control</p>
    <p class="footnote"><strong>Top performers</strong> have > 100 enrolled patients and highest BP control.</p>
  </div>
</div>