<span class="p-relative t--2px">
  <i
    class="fas fa-question-circle fs-14px c-grey-dark"
    data-toggle="tooltip"
    data-placement="right"
    data-trigger="hover click"
    data-html="true"
    title="
          <% definitions.each do |name, description| %>
            <% if name == 'list' %>
              <ul>
                <% description.split(", ").each do |str| %>
                  <li><%= str %></li>
                <% end %>
              </ul>
            <% else %>
              <p class='mb-4px'>
              <% if name != '' %>
                <strong><%= name %>:</strong>
              <% end %>
              <%= description %>
              </p>
            <% end %>
          <% end %>"
  >
  </i>
</span>

