<div class="dropdown show mb-24px bs-small mb-lg-0">
  <a class="btn btn-sm dropdown-toggle c-black bg-white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-arrow-circle-down w-16px ta-center mr-4px c-blue"></i>
    Downloads (DM)
  </a>
<%= render Dashboard::Downloads::DropDownMenuComponent.new(
  region: @region,
  current_admin: current_admin,
  quarterly_cohort_report_path: reports_region_download_path(@region, report_scope: params[:report_scope], period: :quarter, format: :csv),
  monthly_cohort_report_path: reports_region_download_path(@region, report_scope: params[:report_scope], period: :quarter, format: :csv),
  monthly_district_report_path: reports_region_monthly_district_report_path(@region, report_scope: params[:report_scope], period: params.dig(:period, :value), format: :zip),
  monthly_district_data_path: reports_region_monthly_district_data_path(@region, report_scope: params[:report_scope], period: params.dig(:period, :value), format: :csv),
  monthly_state_data_path: reports_region_monthly_district_data_path(@region, report_scope: params[:report_scope], period: params.dig(:period, :value), format: :csv),
  patient_list_path: reports_patient_list_path(@region, report_scope: params[:report_scope])
) %>
</div>
