<div class="empty-goals-block">
  <p class="empty-goals-message">
  Add an action for Apr-1 to June-30
  </p>
  <p class="empty-goals-message">
  No actions for Jan-1 to Mar-31
  comment: previous quarter - cannot add action
  </p>
  <button class="empty-goals-add-button">
    &#x2b; Add an action
  </button>
</div>
