<div id="progress">
  <div class="action-progress-block">
    <div class="progress-options">
      <button targetpopover="progress-options">
        <i class="fa-solid fa-ellipsis"></i>
      </button>
      <%# <div class="popover" popover="manual" id="progress-options"> %>
      <%#   <ul> %>
      <%#     <li class="edit">Edit</li> %>
      <%#     <hr /> %>
      <%#     <li class="delete">Delete</li> %>
      <%#   </ul> %>
      <%# </div> %>
    </div>
    <div>
      <h3>Call 1,000 overdue patients by 30-Jun</h3>
      <ul>
        <li>
          <p>Man a stand at Holi festival event near town hall - 15th Mar</p>
        </li>
        <li>
          <p>Provide phone data for overdue calling</p>
        </li>
        <li>
          <p>Test Whatsapp messaging with patients that have 2 calls with no answer</p>
        </li>
      </ul>
    </div>
    <div class="progress-right-col">
      <p class="progress-statement">0 of 1200 overdue patients</p>
      <div class="progress-bar">
        <div
            class="progress-bar-fill"
            style="width: 89%"
            >
            <span
                class="progress-number progress-number-over-88-percent"
                >89%</span
              >
        </div>
      </div>
    </div>
  </div>
</div>
