<div id="facility-access" data-page="show">

  <% regions.each do |parent, children| %>

  <div class="card access-tree show">
    <div class="access-tree__section-header">
      <%= parent.name %>
    </div>

    <%= render "children", children: children %>

  <% end %>
  </div>
</div>


<script>
  const async = false
  new AdminAccess("facility-access").initialize(async)
</script>
