<div id="facility-access" data-page="show">

  <div class="card access-tree show">
    <div class="access-tree__section-header">
      District and Facility reports
    </div>

    <ul>
    <% current_admin.accessible_districts(:any).each do |region| %>
      <li>
        <div class="access-item">

          <div class="access-item__dropdown">
            <i class="fas fa-caret-down light"></i>
          </div>

          <div class="form-check show">
            <%= link_to region.name, reports_region_path(region, report_scope: region.region_type) %>
          </div>

          <div class="access-item__padding"></div>
        </div>

        <ul class="access-item-wrapper block">
          <% region.children.each do |region| %>
            <li>
              <div class="access-item block collasped">
                <span class="spacer"></span>

                <div class="access-item__dropdown">
                  <i class="fas fa-caret-down light"></i>
                </div>

                <div class="form-check show">
                  <%= link_to region.name, reports_region_path(region, report_scope: region.region_type) %>
                </div>

                <div class="access-item__padding"></div>
              </div>

            <ul class="access-item-wrapper block">
            <% region.children.each do |region| %>
              <li>
                <div class="access-item <%= region.region_type %> collasped ">
                  <span class="spacer"></span>
                  <span class="spacer"></span>
                  <span class="spacer"></span>

                  <div class="form-check show">
                    <%= link_to region.name, reports_region_path(region, report_scope: region.region_type) %>
                  </div>

                  <div class="access-item__padding"></div>
                </div>
              </li> <!-- facility -->
            <% end %>
            </ul>

            </li>
          <% end %>
        </ul>

      </li>
    <% end%>
    </ul>

  </div>
</div>

<script>
  const async = false
  new AdminAccess("facility-access").initialize(async)
</script>
