<div class="typeahead">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-search"></i>
      </span>
    </div>
    <%= search_field_tag :search_query,
                         nil,
                         id: :search_query,
                         class: "typeahead-input form-control",
                         hide_label: true,
                         placeholder: "Find regions",
                         onkeyup: "search(this)",
                         autocomplete: "off",
                         data: { foo: "bar" }%>
    <div class="typeahead-dropdown"></div>
  </div>
  <div class="typeahead-spinner">
    <div class="spinner-border text-primary"></div>
  </div>
</div>

<template id="no-results-found">
  <span class="text-center">
    <i class="fa fa-search text-grey mt-3"></i>
    <p class="mb-2">No regions match <span class="search-query"></span></p>
  </span>
</template>

<template id="result-row">
  <div class="typeahead-dropdown-row"
       data-id=""
       data-name=""
       data-link="">
    <p class="mb-0"><span class="name"></span></p>
  </div>
</template>

<script>
  let search = new RegionsSearch().search;
</script>
