<div>
  <h2>Elements</h2>
</div>
<div class="sidepanel">
  <div class="header">
    <p>Create action</p>
    <button class="">
      <i class="fa-solid fa-xmark-large"></i>
    </button>
  </div>
  <div class="content">
    <h1>Apr 1 - Jun 30 (Q2 2025)</h1>
    <div class="step-block">
      <h2>Which indicator to improve?</h2>
      <button class="link-button edit">Edit</button>
      <ul>
        <li><button class="link-button">Contact overdue patients</button></li>
        <li><button class="link-button">Increase drug stock</button></li>
        <li><button class="link-button">Prescribe statins</button></li>
        <li><button class="link-button">Reduce BP fudging</button></li>
        <li><button class="link-button">Refer patients to community clinics</button></li>
        <li><button class="link-button">Register patients</button></li>
        <li><button class="link-button">Titrate medication for uncontrolled patients</button></li>
        <li><button class="link-button">Treat patients to drug protocol</button></li>
        <li><button class="link-button">Add a custom indicator</button></li>
      </ul>
      <p class="step-statement">Contact overdue patients</p>
    </div>
    <div class="step-block">
      <h2>What is the goal?</h2>
      <button class="link-button edit">Edit</button>
      <p class="step-statement">Contact 500 overdue patients by Jun 30</p>
    </div>
    <div class="step-block">
      <h2>What action should be taken?</h2>
      <textarea          
      rows="4"
      placeholder="Write actions or select from list below..."
    ></textarea>
      <p>Common actions:</p>
      <ul class="common-actions-list">
        <li><button class="link-button">Allocate staff time for calling patients</button></li>
        <li><button class="link-button">Train staff on SOP for calling overdue patients</button></li>
        <li><button class="link-button">Call 25 patients per day</button></li>
        <li><button class="link-button clicked">Record call outcomes in Simple</button></li>
      </ul>
    </div>
    <div class="action-buttons-block">
      <button class="action-button cancel-button">Cancel</button>
      <button class="action-button save-button">Save</button>
    </div>
  </div>
</div>