<div>
  <h2>Elements</h2>
</div>
<div class="sidepanel">
  <div class="header">
    <p>Create action</p>
    <button class="">
      <i class="fa-solid fa-xmark-large"></i>
    </button>
  </div>
  <div class="content">
    <h1>Apr 1 - Jun 30 (Q2 2025)</h1>
    <div class="step-block">
      <h2>Which indicator to improve?</h2>
      <button class="link-button edit">Edit</button>
      <ul>
        <li><button class="link-button">Contact overdue patients</button></li>
        <li><button class="link-button">Increase drug stock</button></li>
        <li><button class="link-button">Prescribe statins</button></li>
        <li><button class="link-button">Reduce BP fudging</button></li>
        <li><button class="link-button">Refer patients to community clinics</button></li>
        <li><button class="link-button">Register patients</button></li>
        <li><button class="link-button">Titrate medication for uncontrolled patients</button></li>
        <li><button class="link-button">Treat patients to drug protocol</button></li>
        <li><button class="link-button">Add a custom indicator</button></li>
      </ul>
      <p class="step-statement">Contact overdue patients</p>
    </div>
    <div class="step-block">
      <h2>What is the goal?</h2>
      <button class="link-button edit">Edit</button>
      <label class="goal-input-block">
        <input type="text" placeholder="Q2 goal">
        <span class="">%</span>
      </label>
      <p>Contact <span class="highlight">500</span> overdue patients by Jun 30</p>
      <p class="activity-statement"><span>6%</span> overdue patients called (600 of 10,000) in Q1-2025</p>
      <button class="next-button">Next</button>
      <%# <p class="step-statement">Call 500 overdue patients by Jun 30</p> %>
    </div>
    <div class="step-block">
      <h2>What is the goal?</h2>
      <button class="link-button edit">Edit</button>
      <label class="goal-input-block patients">
        <input type="text" placeholder="Q2 goal">
        <span>patients</span>
      </label>
      <p><span class="highlight">8,000</span> hypertension patients registered by Jun-30</p>
      <%# <h3>Activity in Q1 2025</h3> %>
      <p class="activity-statement">Registered <span>6,000</span> hypertension patients in Q1 2025</p>
      <%# <h3>Goal for Q2 2025</h3> %>
      <button class="next-button">Next</button>
      <%# <p class="step-statement">8,000 hypertension patients registered by Jun-30</p> %>
    </div>
    <div class="step-block">
      <h2>What action should be taken?</h2>
      <textarea          
      rows="4"
      placeholder="Write actions or select from list below..."
    ></textarea>
      <p>Common actions:</p>
      <ul class="common-actions-list">
        <li><button class="link-button">Allocate staff time for calling patients</button></li>
        <li><button class="link-button">Train staff on SOP for calling overdue patients</button></li>
        <li><button class="link-button">Call 25 patients per day</button></li>
        <li classs="clicked"><button class="link-button ">Record call outcomes in Simple</button></li>
      </ul>
    </div>
    <div class="action-buttons-block">
      <button class="action-button cancel-button">Cancel</button>
      <button class="action-button save-button">
        <%# <div class="loading-animation">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div> %>
        Saving
      </button>
    </div>
  </div>
</div>
<div class="action-progress-block">
  <div class="progress-options">
    <button targetpopover="progress-options-button">
      <i class="fa-solid fa-ellipsis"></i>
    </button>
    <%# <div class="popover" popover="manual" id="progressoptions">
      <ul>
        <li class="edit">Edit</li>
        <hr />
        <li class="delete">Delete</li>
      </ul>
    </div> %>
  </div>
  <div>
    <h3>Call 1,000 overdue patients by 30-Jun</h3>
    <ul>
      <li>
        <p>Man a stand at Holi festival event near town hall - 15th Mar</p>
      </li>
      <li>
        <p>Provide phone data for overdue calling</p>
      </li>
      <li>
        <p>Test Whatsapp messaging with patients that have 2 calls with no answer</p>
      </li>
    </ul>
  </div>
  <div class="progress-right-col">
    <p class="progress-statement">0 of 1200 overdue patients</p>
    <div class="progress-bar">
      <div
          class="progress-bar-fill"
          style="width: 89%"
        >
        <span
            class="progress-number progress-number-over-88-percent"
            >89%</span
          >
      </div>
    </div>
  </div>
</div>
