<div class="d-flex flex-1">
  <p class="mb-0px mr-6px fw-bold">
    <%= title %>
  </p>
  <%= render "definition_tooltip",
             definitions: {"Numerator" => numerator, "Denominator" => denominator}%>
</div>
