<% content_for :title do %>
 <%= @region.name %> | Cohort
<% end %>

<%= render "header"%>

<div class="d-lg-flex">
  <%= render Reports::CohortComponent.new(@monthly_period, @monthly_cohort_data) %>
</div>

<div class="d-lg-flex">
  <%= render Reports::CohortComponent.new(@quarterly_period, @quarterly_cohort_data) %>
</div>
