<%= render "header"%>
<div class="card d-lg-flex fd-lg-column justify-lg-between h-lg-full w-lg-full mt-lg-0">
  <div>
    <div class="mb-2">
      <h3>
        Visit details of all HTN patients
      </h3>
      <p class="c-grey-dark">
        <%= number_with_delimiter(@last_registration_value) %> total registered HTN patients
      </p>
    </div>
    <div class="d-flex fd-column fd-lg-row">
      <div class="order-lg-2 w-lg-224px">
        <div class="d-flex align-baseline mb-8px mb-lg-16px">
          <div class="w-12px h-12px mr-12px br-4px bg-grey-lightest"></div>
          <div class="d-flex flex-1 align-baseline fd-lg-column">
            <p class="w-48px m-0px fw-bold fs-20px lh-1 mb-lg-4px">
              10%
            </p>
            <p class="flex-1 m-0px fs-14px">
              Lost to follow-up
            </p>
          </div>
        </div>
        <div class="d-flex align-baseline mb-8px mb-lg-16px">
          <div class="w-12px h-12px mr-12px br-4px bg-grey-light"></div>
          <div class="d-flex flex-1 align-baseline fd-lg-column">
            <p class="w-48px m-0px fw-bold fs-20px lh-1 mb-lg-4px">
              40%
            </p>
            <p class="flex-1 m-0px fs-14px">
              Missed visit
            </p>
          </div>
        </div>
        <div class="d-flex align-baseline mb-8px mb-lg-16px">
          <div class="w-12px h-12px mr-12px br-4px bg-grey-medium"></div>
          <div class="d-flex flex-1 align-baseline fd-lg-column">
            <p class="w-48px m-0px fw-bold fs-20px lh-1 mb-lg-4px">
              4%
            </p>
            <p class="flex-1 m-0px fs-14px">
              Visited in the last 3 months but no BP measure
            </p>
          </div>
        </div>
        <div class="d-flex align-baseline mb-8px mb-lg-16px">
          <div class="w-12px h-12px mr-12px br-4px bg-red-medium"></div>
          <div class="d-flex flex-1 align-baseline fd-lg-column">
            <p class="w-48px m-0px fw-bold fs-20px lh-1 mb-lg-4px">
              17%
            </p>
            <p class="flex-1 m-0px fs-14px">
              Visited with BP &ge;140/90 in last 3 months
            </p>
          </div>
        </div>
        <div class="d-flex align-baseline mb-8px mb-lg-16px">
          <div class="w-12px h-12px mr-12px br-4px bg-green-medium"></div>
          <div class="d-flex flex-1 align-baseline fd-lg-column">
            <p class="w-48px m-0px fw-bold fs-20px lh-1 mb-lg-4px">
              29%
            </p>
            <p class="flex-1 m-0px fs-14px">
              Visited with BP &lt;140/90 in last 3 months
            </p>
          </div>
        </div>
      </div>
      <div class="flex-lg-1 order-lg-1">
        Chart
      </div>
    </div>
  </div>
</div>