<% content_for :title do %>
 Reports
<% end %>

<h1 class="page-header">
  Reports
</h1>
<div id="facility-access">
  <% @accessible_regions.each do |org, children| %>
    <div class="organization card show">
      <div class="access-tree__section-header">
        <% if current_admin.feature_enabled?(:organization_reports) %>
          <h3><%= link_to(org.name, reports_region_path(org.source.slug, report_scope: org.region_type)) %></h3>
        <% else %>
          <h3><%= org.name %></h3>
        <% end %>
      </div>

      <%= render Reports::RegionTreeComponent.new(parent: org, children: children) %>
    </div>
  <% end %>
</div>

  <script>
    const async = false;
    new AdminAccess("facility-access").initialize(async);
  </script>
