<div class="container">
  <div class="row">
      <% if current_admin.feature_enabled?(:region_reports) %>
        <div class="col-sm-5 col-lg-7">
          <%= render "index_tree" %>
        </div>
      <% else %>

      <div class="col-sm-5 col-lg-7">
        <% @organizations.each do |organization| %>
        <section>
          <div class="card org-card">
            <h2><%= organization.name %></h2>
            <% current_admin.accessible_facilities(:view_reports)
              .where(facility_groups: {organization: organization})
              .flat_map(&:facility_group)
              .uniq
              .compact
              .sort_by(&:name)
              .each do |district| %>
              <%= link_to(reports_region_path(district, report_scope: "district"), class: "link-row") do %>
                <i class='fas fa-angle-right light'></i>
                <%= district.name %>
              <% end %>
            <% end %>
          </div>
        </section>
        <% end %>

        </div>
      <% end %>
  </div>
</div>
