<div class="alert alert-primary">
  <span class="fw-bold">New Reports:</span> This page is under active development. Reports show data for patients registered >2 months and will be updated to be >3 months by the end of August. 
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-5 col-lg-7">
      <% @organizations.each do |organization| %>
      <section>
        <div class="card">
          <h2><%= organization.name %></h2>
          <% policy_scope([:cohort_report, organization.facility_groups]).order(:name).each do |district| %>
            <%= link_to(reports_region_path(district.region_slug), class: "link-row") do %>
              <i class='fas fa-angle-right light'></i>
              <%= district.name %>
            <% end %>
          <% end %>
        </div>
      </section>
      <% end %>
    </div>
  </div>
</div>
