<div class="sub-nav">
  <%= link_to 'Last 90 days',
              url_for(from_time: analytics_date_format(90.days.ago), to_time: analytics_date_format(Time.now)),
              class: 'sub-nav-link sub-nav-link-active' %>


  <% 4.times do |n| %>
    <%= range = range_for_quarter(-1 * (n + 1))
        link_to label_for_quarter(range),
                 url_for(range),
                 class: 'sub-nav-link' %>
  <% end %>


  <a href="#" class="sub-nav-link">&#8226;&#8226;&#8226;</a>
</div>
