<div class="featured-section">
    <div class="featured-section-contents">
      <strong class="featured-title">
        <%= t('analytics.control_rate_title') %>
      </strong>
      <span id='control-rate' class="featured-number">
        <%= control_rate || 0 %>%
      </span>
    </div>
</div>