<div class="featured-section">
    <div class="featured-section-contents">
      <strong class="featured-title">
        <%= t('analytics.non_returning_hypertensive_patients') %>
      </strong>
      <span id='non-returning-hypertensive-patients-count' class="featured-number text-yellow">
        <%= non_returning_hypertensive_patients_count %>
      </span>
    </div>
</div>