<div class="featured-section">
  <strong class="featured-title" style="color: #007A31;">
    <%= t('analytics.newly_enrolled') %>
  </strong>

  <span id='newly-enrolled-patients-count' class="featured-number text-green">
      <%= newly_enrolled_patients_count %>
  </span>

  <span class="featured-label">New patients</span>

  <strong class="featured-title" style="color: #007A31;">
    <%= t('analytics.return_patients') %>
  </strong>

  <span id='returning-patients-count' class="featured-number text-green">
      <%= returning_patients_count %>
  </span>
</div>