<div id="newly-enrolled-patients-count">
  <%= newly_enrolled_patients_count %> <%= t('analytics.newly_enrolled') %>
</div>

<!--div id="returning-patients-count">
  <%= returning_patients_count %> <%= t('analytics.return_patients') %>
</div-->