<div>
  <% previous_quarter_year, previous_quarter = previous_year_and_quarter %>
  <p>
    <%= link_to graphics_path.call(options.merge( quarter: previous_quarter, year: previous_quarter_year, format: "png")), class: "download" do %>
      <i class='fas fa-camera mr-2'></i>
      <%= "#{quarter_string(Date.current.prev_quarter)} snapshot (PNG)" %>
    <% end %>

     and

     <%= link_to graphics_path.call( options.merge( quarter: previous_quarter, year: previous_quarter_year, format: "html")), class: "download" do %>
      <i class='far fa-window-maximize mr-2 ml-2'></i>
      HTML
    <% end %>
  </p>
</div>
