version: "3"

services:
  postgres:
    image: postgres:14.3-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    volumes:
      - postgresqldata:/var/lib/postgresql/data
    expose:
      - "5432"

  redis:
    image: redis:5-alpine
    expose:
      - "6379"
    volumes:
      - redisdata:/data

  server:
    build: .
    volumes:
      - .:/myapp
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rake db:setup; bundle exec rails s -p 3000 -b '0.0.0.0'"
    expose:
      - "3000"
    ports:
      - "3000:3000"
    depends_on:
      - redis
      - postgres
    env_file:
     - .env.docker

volumes:
  postgresqldata:
  redisdata:
