<div id="cumulative-registrations" class="d-lg-flex w-lg-50 pl-lg-2">
  <%= render Dashboard::Card::GraphComponent.new(id: "cumulativeRegistrationsTrend", data: graph_data, period: period) do |c| %>
    <%= c.title(title: "Registrations".html_safe, subtitle: t("registered_patients_copy.reports_card_subtitle", region_name: @region.name)) do |title| %>
      <%= title.tooltip({ "Total registered patients" => t("registered_patients_copy.total_registered_patients", region_name: @region.name),
                          "Monthly registered patients" => t("registered_patients_copy.monthly_registered_patients", region_name: @region.name) }) %>
    <% end %>

    <% c.summary do %>
      <div class="d-flex align-center mb-24px">
        <div class="flex-1 d-lg-flex align-lg-center">
          <p class="c-print-black c-purple graph-percent fs-28px"
             data-key="cumulativeRegistrations" data-format="numberWithCommas">
          </p>
          <div>
            <p class="m-0px c-black c-print-black">
              total registrations<br>till
              <span data-key="endDate"></span>
            </p>
          </div>
        </div>
        <div class="flex-1 d-lg-flex align-lg-center flex-lg-1">
          <p class="c-print-black c-purple-medium graph-percent fs-28px"
             data-key="monthlyRegistrations" data-format="numberWithCommas">
          </p>
          <div>
            <p class="m-0px c-black c-print-black">
              new registrations<br>in
              <span data-key="endDate"></span>
            </p>
          </div>
        </div>
      </div>
    <% end %>

    <% if show_diagnosis_breakdown? %>
      <% c.footer do %>
        <div class="p-relative px-20px mb-12px">
          <p class="m-0px c-grey-dark c-print-black">
            <strong data-key="cumulativeHypertensionOnlyRegistrations" data-format="numberWithCommas"></strong> HTN-only,
            <strong data-key="cumulativeHypertensionAndDiabetesRegistrations" data-format="numberWithCommas"></strong> DM+HTN
          </p>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
