<div class="card mb-16px">
  <%= render Dashboard::Card::TitleComponent.new(
    title: "Overdue Patients Called By User",
    subtitle: "Subtitle here" 
  ) do |c| %>
    <%= c.tooltip({ "Types of blood sugars measured" => t("bs_measurement_details_copy.numerator", region_name: @region.name) }) %>
  <% end %>

</div>
