<div id="htn-protected" data-period="<%= @period.to_s %>" class="mt-8px mx-0px mb-16px pb-4px bg-white br-4px bs-small d-lg-flex fd-lg-column
                justify-lg-between h-lg-full w-lg-full mt-lg-0 pb-inside-avoid b-print-black">

  <div class="pt-20px px-20px">
    <div class="d-flex mb-8px">
      <div class="d-flex flex-1">
        <h3 class="mb-0px mr-8px">
          Patients protected from heart attacks &amp; strokes in <%= @region.name %>
        </h3>
        <%= render "definition_tooltip" , definitions: { "Definition"=> t("bp_controlled_copy.numerator") } %>
      </div>
    </div>
    <p class="c-grey-dark">
      <%= t("bp_controlled_copy.reports_card_subtitle") %>
    </p>
    <div class="mb-12px d-lg-flex align-lg-center">
      <p class="c-print-black c-green-dark graph-percent fs-28px" data-rate="">
        13 patients
      </p>
    </div>
    <div>
      <div class="p-relative mb-12px">
        <div class="h-320px mr-8px ml-8px">
          <canvas id="HtnProtectedPatientsTrend"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>