  <%= render Dashboard::Card::GraphComponent.new(id: "htnProtected", data: graph_data, period: @period) do |c| %>
    <%= c.title(title: "Patients protected from heart attacks & strokes in " + @region.name, 
    subtitle: t("bp_controlled_copy.reports_card_subtitle")) do |title| %>
      <%= title.tooltip({ "Numerator" => t("overdue_patients.numerator"),
                          "divider" => "",
                          "Denominator" => t("overdue_patients.denominator", region_name: @region.name) }) %>
    <%end%>
    <%= c.summary do %>
      <div class="mb-12px d-lg-flex align-lg-center">
        <p class="c-print-black c-green-dark graph-percent fs-28px" data-rate="">
          13 patients
        </p>
      </div>
    <%end%>
  <%end%>