<% unless Flipper.enabled?(:new_permissions_system_aug_2020, current_admin) %>
  <h1>Edit admin</h1>
<% end %>

<%= render 'form', current_admin: AdminAccessPresenter.new(current_admin), admin: @admin %>
