<div class="d-lg-flex w-lg-50 pr-lg-2">
  <div id="bs-over-200"
       data-period="<%= @period.to_s %>"
       class="mt-8px mx-0px mb-16px bg-white br-4px bs-small d-lg-flex fd-lg-column
                justify-lg-between h-lg-full w-lg-full mt-lg-0 pb-inside-avoid b-print-black w-print-16cm">

    <div class="pt-20px px-20px">
      <%= render Dashboard::Card::TitleComponent.new(
        title: " Blood sugar 200-299 or &ge;300".html_safe,
        subtitle:  t("bs_over_200_copy.reports_card_subtitle", region_name: @region.name) ) do |c| %>
        <%= c.tooltip({ "Blood sugar 200-299 numerator" => t("bs_over_200_copy.bs_200_to_299.numerator"),
                        "Blood sugar ≥300 numerator" => t("bs_over_200_copy.bs_over_300.numerator"),
                        "Denominator" => t(denominator_copy, region_name: @region.name) }) %>
        <%= c.ltfu_toggle(id: 'controlledGraphLtfuToggle', enabled: with_ltfu) %>
      <% end %>

      <div class="mb-12px d-lg-flex align-lg-center">
        <p class="c-print-black c-red graph-percent fs-28px"
           data-bs-over-300-rate="">
        </p>
        <div>
          <p class="m-0px c-black">
            <span data-total-bs-over-300-patients=""></span>
            patients with a blood sugar &ge;300 from
            <span data-period-start=""></span>
            to
            <span data-period-end=""></span>
          </p>
          <p class="m-0px c-grey-dark c-print-black">
            of <span data-registrations=""></span>
            patients registered till
            <span data-registrations-period-end=""></span>
          </p>
        </div>
      </div>
      <div class="mb-12px d-lg-flex align-lg-center">
        <p class="c-print-black c-amber graph-percent fs-28px"
           data-bs-200-to-300-rate="">
        </p>
        <div>
          <p class="m-0px c-black">
            <span data-total-bs-200-to-300-patients=""></span>
            patients with a blood sugar 200-299 from
            <span data-period-start=""></span>
            to
            <span data-period-end=""></span>
          </p>
          <p class="m-0px c-grey-dark c-print-black">
            of <span data-registrations=""></span>
            patients registered till
            <span data-registrations-period-end=""></span>
          </p>
        </div>
      </div>

      <div>
        <div class="p-relative mb-12px">
          <div class="h-320px mr-16px mb-12px ml-13px">
            <canvas id="bsOver200PatientsTrend"></canvas>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
