<div id="diabetes-ltfu-trend"  class="d-lg-flex w-lg-50 pl-lg-2">
  <%= render Dashboard::Card::GraphComponent.new(id: "lostToFollowUpTrend", data: graph_data, period: period) do |c| %>
    <%= c.title(title: "Lost to follow-up", subtitle: t("diabetes_lost_to_follow_up_copy.reports_card_subtitle")) do |title| %>
      <%= title.tooltip({ "Numerator" => t("diabetes_lost_to_follow_up_copy.numerator"),
                             "Denominator" => t("diabetes_ltfu_denominator_copy", region_name: @region.name) }) %>
      <%end%>
    <%= c.summary do %>
      <div class="mb-12px d-lg-flex align-lg-center">
        <p class="c-print-black graph-percent fs-28px" data-key="ltfuPatientsRate" data-format="percentage"></p>
        <div>
          <p class="m-0px c-black">
            <span data-key="ltfuPatients" data-format="numberWithCommas"></span>
            patients with no visit since
            <span data-key="endDate"></span>
          </p>
          <p class="m-0px c-grey-dark c-print-black">
            of
            <span data-key="cumulativeAssignedPatients" data-format="numberWithCommas"></span>
            patients registered till
            <span data-key="registrationDate"></span>
          </p>
        </div>
      </div>
    <%end%>
  <%end%>
</div>
