@mixin transition($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  -ms-transition: $duration;
  -o-transition: $duration;
  transition: $duration;
}

#facility-access-power-user {
  background: #d0e3f9;
  padding: 0.375rem 0.75rem;
  margin-bottom: 12px;
  border-radius: 4px;
  font-weight: normal;

  &.hidden {
    display: none;
  }
}

#facility-access {
  &.hidden {
    display: none;
  }

  .card {
    &.region-index {
      padding: 0 0 5px 0;
    }

    &.access-tree {
      padding: 0;
      min-height: 460px;
    }
  }

  #select-all-facilities {
    height: 100%;
    display: flex;
    padding: 5px 0 5px 7px;
    justify-content: space-between;
    align-items: center;

    .counter {
      margin-right: 10px;
      font-weight: bold;
    }

    .form-check {
      margin: 10px;
      cursor: pointer;

      label {
        position: relative;
        top: 1px;
        font-weight: 100;
      }
    }
  }

  ul {
    list-style-type: none;
    display: block;
    height: 100%;
    padding-left: 0;
    margin: 0;

    li {
      height: 100%;
      padding: 0;
      position: relative;
      margin-bottom: -1px;
    }

    .access-item {
      display: flex;
      align-items: center;
      padding: 8px 0;

      @include media-breakpoint-down(sm) {
        padding: 16px 0;
      }

      .access-item__dropdown {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        width: 20px;
        margin-left: 14px;
        margin-right: -4px;
        padding: 8px;
        border-radius: 2px;
        font-size: 20px;
        cursor: pointer;

        i {
          transform: rotate(0deg);
          @include transition(0.2s);
          pointer-events: none;
        }

        &.hidden {
          visibility: hidden;
        }

        &:hover {
          background-color: $grey-light;
          @include transition(0.2s);
        }

        @include media-breakpoint-down(sm) {
          height: 28px;
          width: 28px;
          margin: 0 4px 0 16px;
          font-size: 28px;
        }
      }

      &.organization {
        div {
          label {
            font-weight: 600;
          }
        }
      }

      &.collapsed {
        .access-item__dropdown {
          i {
            transform: rotate(-90deg);
            @include transition(0.3s);
          }
        }

        & + .access-item-wrapper {
          display: none;
        }
      }

      div {
        label {
          user-select: none;
        }
      }

      &.organization {
        div {
          label {
            font-weight: 600;
          }
        }
      }

      &:not(.facility) {
        .access-item__padding {
          flex: auto;
          height: 100%;
        }
      }

      .spacer {
        padding-left: 25px;

        @include media-breakpoint-down(sm) {
          padding-left: 36px;
        }
      }

      .form-check {
        margin-left: 8px;

        @include media-breakpoint-down(sm) {
          font-size: 16px;
        }

        label {
          position: relative;
          top: 1px;
          font-weight: 100;
          margin-left: 4px;

          @include media-breakpoint-down(sm) {
            position: unset;
          }
        }

        &.show {
          padding: 0;
        }
      }

      .access-ratio {
        margin-left: auto;
        font-size: 15px;
        color: var(--secondary);
        font-weight: normal;
        font-style: normal;
        cursor: pointer;
        user-select: none;
        margin-right: 10px;
      }
    }
  }

  .access-tree {
    &.show {
      .form-check-label {
        font-weight: normal;
        cursor: pointer;
      }
    }
  }

  .spinner-wrapper {
    display: flex;
    flex-direction: column;

    .spinner {
      margin: 10px;
      margin-top: 10%;
      align-self: center;
    }
  }

  .load-error-message {
    margin: 10px;
    text-align: center;
    font-size: 16px;
    color: #6c737a;
  }

  .form-check-input,
  .form-check-label {
    cursor: pointer;
  }
}
