<div class="desktop-navigation-bar">
  <div>
    <div>
    </div>
    <div>
      <div class="desktop-menu-button">
        <!-- Icon -->
        <p class="body-text">Home</p>
      </div>
      <div class="desktop-menu-button">
        <!-- Icon -->
        <p class="body-text">Reports</p>
      </div>
      <div class="desktop-menu-button">
        <!-- Icon -->
        <p class="body-text">Overdue</p>
      </div>
      <div class="desktop-menu-button">
        <!-- Icon -->
        <p class="body-text">Drug stock</p>
      </div>
      <div class="desktop-menu-button">
        <!-- Icon -->
        <p class="body-text">Settings</p>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>