<div class="container">
  <div class="row">
    <div class="col-sm-5 col-lg-7">
      <h2>PENDING ORG NAME</h2>
      <% @districts.each do |district| %>
        <section>
          <div class="card" title="<%= district.name %>">
            <%= link_to(dashboard_district_path(district.slug), class: "link-row") do %>
              <i class='fas fa-angle-right light'></i>
              <%= district.name %>
            <% end %>
          </div>
        </section>
      <% end %>
    </div>
  </div>
</div>