<div class="card mt-4">
  <h2>
    Recent updates
  </h2>
  <p class="c-grey-dark">
    Last updated on Wednesday 17-Feb-2021. If you have Dashboard feedback contact the Simple tech team at help@simple.org.
  </p>
  <h5 class="font-weight-bold mt-2">
    Week of 15-Feb-2021
  </h5>
  <ul class="mt-3 mb-0">
    <li>
      <p>
        "BP controlled", "BP not controlled", and "Missed visits" sections in "Home" now display subtotal data by facility size.
      </p>
    </li>
  </ul>
  <h5 class="font-weight-bold mt-2">
    Week of 01-Feb-2021
  </h5>
  <ul class="mt-3 mb-0">
    <% if CountryConfig.current[:name] == "India" %>
      <li>
        <p>
          State and block-level reports are now available
        </p>
      </li>
    <% end %>
    <li>
      <p>
        Quickly navigate between reports by using a search bar and search by region or facility name
      </p>
    </li>
  </ul>
  <h5 class="font-weight-bold mt-2">
    Week of 25-Jan-2021
  </h5>
  <ul class="mt-3 mb-0">
    <li>
      <p>
        The "BP controlled", "BP not controlled", and "Missed visits" tabs of the "Home" page display overall monthly trends for the last 6 months.
      </p>
    </li>
  </ul>
  <h5 class="font-weight-bold mt-2">
    Week of 18-Jan-2021
  </h5>
  <ul class="mt-3 mb-0">
    <li>
      <p>
        You can now filter "Home" tables by district
      </p>
    </li>
  </ul>
  <h5 class="font-weight-bold mt-2">
    Week of 14-Dec-2020
  </h5>
  <ul class="mt-3 mb-0">
    <li>
      <p>
        Facility sizes are now localized for each country
      </p>
    </li>
  </ul>
</div>