<div class="card mt-4">
  <h2>
    Recent updates
  </h2>
  <p class="c-grey-dark">
    Last updated 12-Dec-2023. For feedback, email us: help@simple.org
  </p>
  <section class="update">
    <div class="update-date">
      Dec <b class="d-block">2023</b>
    </div>
    <p>
      <b>Patient data protection agreement:</b>
      A new user agreement requiring users to protect patient data is being rolled out in the Simple app. Please read the data protection agreement in full before accepting. If you have any questions please speak to you manager.
    </p>
    <p>
      <b>Improved security in Simple app:</b>
      The Simple app has an increased level of security through encryption, if you experience any issues while using the app please contact us.
    </p>
    <% if CountryConfig.current[:name] == "Ethiopia" || CountryConfig.current[:name] == "Sri Lanka"  %>
    <p>
      <b>Improved titration reports:</b>
      Titration reports have been improved and more accurately capture when anti-hypertensive medications are titrated.
    </p>
    <% end %> 
  </section>
  <% if CountryConfig.current[:name] != "India" %>
    <section class="update">
      <div class="update-date">
        Aug <b class="d-block">2023</b>
      </div>
      <p>
        <b>Goal lines:</b>
        Goals are now calculated using an average of 3 months. Established facilities will have a goal calculated using an average of Q4 performance (Oct, Nov, Dec) in the previous year.
      </p>
    </section>
  <% end %>
  <section class="update">
    <div class="update-date">
      Jul <b class="d-block">2023</b>
    </div>
    <p>
      <b>Overdue patients that returned to care:</b>
      An additional chart has been added to the 'Overdue' section in the hypertension dashboard. You can now track the number of overdue patients returning to care within 15 days of receiving a call. View return rates for all patients that were called and return rates for each individual call result - 'Agreed to visit', 'Remind to call' and 'Removed from overdue list'.
    </p>
    <p class="d-block bg-grey-lightest br-4px" style="margin-top: 8px; padding: 6px 10px;">
      This <a href="https://docs.google.com/document/d/1aM6LZnlm249ULH1o69oUHProPOlK7cy8U-cn30WIfGY/edit?usp=sharing">SOP document</a> explains how to use the new returned to care chart.
    </p>
    <p class="d-block bg-grey-lightest br-4px" style="margin-top: 8px; padding: 6px 10px;">
      This updated <a href="https://docs.google.com/document/d/1mStFvMENQNSyfKcIAMpJKh3R_29V29Wl5UhuO8TNPIg/edit?usp=sharing">SOP document</a> explains all charts and tables in the overdue section including the new 'return to care' chart.
    </p>
  </section>
  <section class="update">
    <div class="update-date">
      Jun <b class="d-block">2023</b>
    </div>
    <p>
      <b>Overdue patients:</b>
      New overdue patients reports have been added to the hypertension dashboard. You can now track the number of overdue patients, see how many have been called, and see user and region call activity.
    </p>
    <p class="d-block bg-grey-lightest br-4px" style="margin-top: 8px; padding: 6px 10px;">
      This <a href="https://docs.google.com/document/d/1mStFvMENQNSyfKcIAMpJKh3R_29V29Wl5UhuO8TNPIg/edit?usp=sharing">SOP document</a> explains how to use the new charts.
    </p>
    <p>
      <b>Goal lines:</b>
      New goal lines have been added to the hypertension dashboard for 'BP controlled', 'BP not controlled,' and 'Missed visit' charts. Goals are set annually every January. Note: goals are not present for everyone, this is individual on a country basis.
    </p>
    <p class="d-block bg-grey-lightest br-4px" style="margin-top: 8px; padding: 6px 10px;">
      This <a href="https://docs.google.com/document/d/1JaWs5zdXp__VmH5mflIpWXHIci_so5LftBsSQr4Yl3k/edit?usp=sharing">SOP document</a> explains more detail on goal lines.
    </p>
  </section>
  <section class="update">
    <div class="update-date">
      May <b class="d-block">2023</b>
    </div>
    <p>
      <b>Simple app:</b>
      Simple has the ability to report and track clinical supplies such as BP passports and glucometer strips to help ensure services can run effectively. Please reach out to the Simple team for a demo and how it could be used in your state or country.
    </p>
  </section>
  <section class="update">
    <div class="update-date">
      Apr <b class="d-block">2023</b>
    </div>
    <p>
      <b>Simple app:</b>
      Simple now has the ability to report aggregate monthly screening data for hypertension, diabetes, and cancers. Please reach out to the Simple team for a demo and how it could be used in your state or country.
    </p>
    <a href="https://docs.google.com/presentation/d/1_qJX90VlkjWOyDZ20ggFfQL2eUUCP0T-s9pXTJK0AnA/edit#slide=id.p" class="d-flex align-center p-3 fs-16px br-8px bg-blue-light" style="border: 0px rgba(0, 117, 235, 0.5) solid; grid-gap: 20px; margin-top:8px;">
      <span style="max-width: 40px; padding: 4px; width: 100%; margin-left:12px; margin-top:4px; fill: #0075eb;">
        <i class="fa-light fa-file" style="font-size: 36px; display: block; text-align: center;" title="Document link"></i>
      </span>
      <span>
        Tracking HTN, DM & cancer screening with Simple
        <span class="d-block tt-uppercase tt-bold fw-bold" style="font-size: 10px; margin-top:4px;">
          Google docs <i class="fa-solid fa-up-right-from-square" style="margin-left:4px;"></i>
        </span>
      </span>
    </a>
  </section>
  <section class="update">
    <div class="update-date">
      Feb <b class="d-block">2023</b>
    </div>
    <p>
      <b>Simple dashboard:</b>
      Estimated hypertension population coverage has been added to the dashboard. Viewable inside 'Hypertension indicators' table.
    </p>
  </section>
</div>
