<div class="card mt-4">
  <h2>
    Recent updates
  </h2>
  <p class="c-grey-dark">
    Last updated on Thursday 13-Jan-2022. If you have Dashboard feedback contact the Simple tech team at help@simple.org.
  </p>
  
  <section class="update">
  <div class="update-date">
    Jan <b class="d-block">2022</b>
  </div>
  <ul class="mt-3 mb-0">
    <li>
      <p>
        <strong>Dashboard:</strong> We're using a new follow-up definition. The definition is "Hypertension patients with a BP taken, a BS taken, an appointment scheduled, or medications refilled during a month." By the end of the month the Dashboard downloadable spreadsheets and the Simple App Progress Tab will show the new follow-up data.
      </p>
    </li><li>
      <p>
        <strong>Dashboard:</strong> New "Monthly district data" and "Monthly facility data" spreadsheets are available to download in state and district reports.
      </p>
    </li>
  </ul>
  </section>
  
  <section class="update">
    <div class="update-date">
      Dec <b class="d-block">2021</b>
    </div>
  <ul class="mt-3 mb-0">
    <li>
      <p>
        <strong>Dashboard:</strong> You can now find data for the number of overdue patients contacted by healthcare workers in the report "Details" page.
      </p>
    </li>
  </ul>
  </section>
  
  <section class="update">
    <div class="update-date">
      Aug <b class="d-block">2021</b>
    </div>
  <ul class="mt-3 mb-0">
    <li>
      <p>
        <strong>Simple App:</strong> Redesigned sync indicator on Home screen.
      </p>
    </li>
    <li>
      <p>
        <strong>Simple App:</strong> New video illustration on Home screen for Ethiopia and Bangladesh.
      </p>
    </li>
  </ul>
  </section>
</div>