<div class="card mt-4">
  <h2>
    Recent updates
  </h2>
  <p class="c-grey-dark">
    Last updated on Wednesday 8-Apr-2022. If you have Dashboard feedback contact the Simple tech team at help@simple.org.
  </p>
  
  <section class="update">
    <div class="update-date">
      Apr <b class="d-block">2022</b>
    </div>
    <p>
      The <b>Dashboard</b> now defines Lost-to-follow-up patients more specifically. Previously a patient was LTFU if they did not have a BP measure in &gt;1 year. Now a patient is LTFU if they didn't have a BP measure, a blood sugar measure, a medication refill, or a new appointment scheduled in &gt;1 year.
    </p>
  </section>

  <section class="update">
    <div class="update-date">
      Mar <b class="d-block">2022</b>
    </div>
    <p>
      The <b>Dashboard</b> report card for "Days of medications dispensed to follow-up patients" now displays when patients receive &gt;2 months of medications. Also, the <b>Simple Android app</b> has performance changes to make Search and Overdue features much faster, especially in facilities with many assigned patients.
    </p>
  </section>

  <section class="update">
    <div class="update-date">
      Feb <b class="d-block">2022</b>
    </div>
    <p>
      The <b>Simple Android app</b> now allows users to edit and add Health IDs (such as BP Passports and NHID) from the patient's profile screen. In India, this makes it easier to add NHIDs to follow-up patients.
    </p>
  </section>


  <section class="update">
    <div class="update-date">
      Jan <b class="d-block">2022</b>
    </div>
    <p>
      The <b>Dashboard</b> has a new follow-up definition. The definition is: "Hypertension patients with a BP taken, a BS taken, an appointment scheduled, or medications refilled during a month." By the end of the month the Dashboard downloadable spreadsheets and the Simple App Progress Tab will show the new follow-up data. We also added new "Monthly district data" and "Monthly facility data" spreadsheets are available to download in state and district reports.
    </p>
    <p>
      In the <b>Simple Android app</b>, a patient's next follow-up appointment is displayed on each patient's summary screen. It shows how many days overdue or ahead a patient's appointment is.
    </p>
</div>
