<div class="card mt-4">
  <h2>
    Recent updates
  </h2>
  <p class="c-grey-dark">
    Last updated 23-May-2022. For feedback, email us: help@simple.org
  </p>
  
  <section class="update">
    <div class="update-date">
      Jun <b class="d-block">2022</b>
    </div>
    <p>
      <b>Diabetes report dashboard:</b> Users are now able to view reports on registrations, follow ups, missed visits and lost to follow up for patients with Diabetes.
    </p>
  </section>

  <section class="update">
    <div class="update-date">
      May <b class="d-block">2022</b>
    </div>
    <p>
      <b>Android</b> users will be notified to update their Simple app if the app becomes too old. If the app is more than several months old, they may get locked out of the app until they upgrade &#8212; this is important for security. <% if CountryConfig.current[:name] == "India" %><b>Android</b> users also now see a message on the Simple home screen to remind them to fill in drug stock. <% end %>
    </p>
    <p>
      <b>BP Passports PDFs</b> can now be created using a special application on your PC. You can create BP Passport cards or stickers and send them to your local printing company. <a href="/resources#card-bp-passport-creator">Get the app in Resources.</a>
    </p>
  </section>
  
  <section class="update">
    <div class="update-date">
      Apr <b class="d-block">2022</b>
    </div>
    <p>
      <b>Definition change:</b> "Inactive facilities" are facilities where 0 BPs were recorded in the last month. The old definition was &gt;10 BPs recorded per month.
    </p>
    <% if CountryConfig.current[:name] == "India" %>
      <p>
        <b>SMS Patient reminders:</b> Simple is again sending text messages to all patients with upcoming appointments to remind them to return to care &#8212; patients receive a message 1 day before, day of, and 3 days after their appointment, if they don't come. We are also messaging patients who are late for their visits to see if we can reduced Missed Visit rates.
      </p>
    <% end %>
    <p>
      <b>Bug fix:</b> When you print reports, the charts no longer go over the edge of the cards.
    </p>
    <p>
      The <b>Dashboard</b> now defines lost-to-follow-up patients more accurately. Previously a patient was LTFU if they did not have a BP measure in &gt;1 year. Now a patient is LTFU if they didn't have a BP measure, a blood sugar measure, a medication refill, or a new appointment scheduled in &gt;1 year.
    </p>
  </section>

  <section class="update">
    <div class="update-date">
      Mar <b class="d-block">2022</b>
    </div>
    <p>
      The <b>Dashboard</b> report card for "Days of medications dispensed to follow-up patients" now displays when patients receive &gt;2 months of medications. Also, the <b>Simple Android app</b> has performance changes to make Search and Overdue features much faster, especially in facilities with many assigned patients.
    </p>
  </section>

</div>
