<div class="p-20px px-20px mx-0px bg-white d-lg-flex fd-lg-column
         justify-lg-between h-lg-full w-lg-full mt-lg-0 pb-inside-avoid b-print-black w-print-16cm p-relative pb-24px bs-small br-4px">
  <div class="d-flex jc-space-between ai-center mb-4px">
    <h3>
      Recent updates
    </h3>
    <p class="c-grey-dark o-85">
        Last updated 13-Nov-2025
    </p>
  </div>
  <div class="d-flex flex-column mb-12px gap-12px" >
    <section class="update">
      <div class="update-date">
        Nov <b class="d-block">2025</b>
      </div>
      <p>
        <b>Statins nudge</b>: The <%= Rails.application.config.application_brand_name %> Android app now estimates a patient’s cardiovascular disease risk score and alerts healthcare workers to refer high-risk patients to doctors for statin treatment.
      </p>
    </section>
    <section class="update">
      <div class="update-date">
        Oct <b class="d-block">2025</b>
      </div>
      <p>
        <b>Diabetes dashboard</b>: The <%= Rails.application.config.application_brand_name %> diabetes dashboard has an improved design and now follows the HEARTS360 standard.
      </p>
    </section>
  </div>
  <p class="c-grey-dark m-0px">
      For feedback, email us: <%= Rails.application.config.help_email_id %>
  </p>
</div>
