<div class="card mt-4">
  <h2>
    Recent updates
  </h2>
  <p class="c-grey-dark">
    Last updated on Tuesday 12-Jan-2021. If you have Dashboard feedback contact the Simple tech team at help@simple.org.
  </p>
  <h5 class="font-weight-bold mt-2">
    Week of 01-Feb-2021
  </h5>
  <ul class="mt-3 mb-0">
    <% if CountryConfig.current[:name] == "India" %>
      <li>
        <p>
          State and block-level reports are now available
        </p>
      </li>
    <% end %>
    <li>
      <p>
        Quickly navigate between reports by using a search bar and search by region or facility name
      </p>
    </li>
  </ul>
  <h5 class="font-weight-bold mt-2">
    Week of 25-Jan-2021
  </h5>
  <ul class="mt-3 mb-0">
    <li>
      <p>
        The "BP controlled", "BP not controlled", and "Missed visits" tabs of the "Home" page display overall monthly trends for the last 6 months.
      </p>
    </li>
  </ul>
  <h5 class="font-weight-bold mt-2">
    Week of 18-Jan-2021
  </h5>
  <ul class="mt-3 mb-0">
    <li>
      <p>
        You can now filter "Home" tables by district
      </p>
    </li>
  </ul>
  <h5 class="font-weight-bold mt-2">
    Week of 14-Dec-2020
  </h5>
  <ul class="mt-3 mb-0">
    <li>
      <p>
        Facility sizes are now localized for each country
      </p>
    </li>
  </ul>
  <h5 class="font-weight-bold mt-2">
    Week of 30-Nov-2020
  </h5>
  <ul class="mt-3 mb-0">
    <li>
      <p>
        Healthcare workers can record medication refills in the Simple Android app <a href="https://www.youtube.com/watch?v=8EmUUGzLz3w" target="_blank">(Watch demo on YouTube)</a>
      </p>
    </li>
    <li>
      <p>
        Healthcare workers can view and record blood sugars in mmol/L
      </p>
    </li>
  </ul>
  <h5 class="font-weight-bold mt-2">
    Week of 26-Oct-2020
  </h5>
  <ul class="mt-3 mb-0">
    <li>
      <p>
        Registration and follow-up tables are now available in Reports "Details" section
      </p>
    </li>
    <li>
      <p>
        Reports now display data for the current month
      </p>
    </li>
    <li>
      <p>
        "Home" tables are easier to customize with friendlier filters
      </p>
    </li>
    <% if current_admin.accessible_facilities(:manage).any? %>
      <li>
        <p>
          You can now download Report data on your mobile device
        </p>
      </li>
    <% end %>
    <% if current_admin.accessible_facilities(:manage).any? || current_admin.accessible_facilities(:manage_overdue_list).any? %>
      <li>
        <p>
          You can now download Overdue patient lists on your mobile device
        </p>
      </li>
    <% end %>
  </ul>
  <h5 class="font-weight-bold mt-3 mb-1">
    Week of 19-Oct-2020
  </h5>
  <ul class="mt-3 mb-0">
    <li>
      <p>
        The Dashboard navigation menu is simpler and easier to use on mobile devices
      </p>
    </li>
    <li>
      <p>
        Dashboard tables are mobile-friendly and easier to scroll sideways
      </p>
    </li>
  </ul>
  <h5 class="font-weight-bold mt-3 mb-1">
    Week of 12-Oct-2020
  </h5>
  <ul class="mt-3 mb-0">
    <li>
      <p>
        Reports line charts hover state doesn't obscure the title of the card
      </p>
    </li>
    <li>
      <p>
        Cards in Reports have clearer labels thanks to CVHO feedback
      </p>
    </li>
  </ul>
</div>