<div class="card mt-4">
  <h2>
    Recent updates
  </h2>
  <p class="c-grey-dark">
    <% if CountryConfig.current[:name] == "India" || CountryConfig.current[:name] == "Bangladesh" %>
      Last updated 23-Nov-2022. For feedback, email us: help@simple.org
    <% else %>
      Last updated 9-Dec-2022. For feedback, email us: help@simple.org
    <% end %>
  </p>
  <% if CountryConfig.current[:name] == "India" || CountryConfig.current[:name] == "Bangladesh" %>
    <section class="update">
      <div class="update-date">
        Nov <b class="d-block">2022</b>
      </div>
      <p>
        <b>Simple app:</b> Progress tab has been updated with a new design and includes several new reports:
        <ul>
          <li>Daily, monthly and yearly reports - showing activity at your facility</li>
          <li>Hypertension report - overview of hypertension control at your facility</li>
          <li>New facility achievements - 'calls made to overdue patients'</li>
        </ul>
      </p>
      <p class="d-block bg-grey-lightest br-4px" style="margin-top: 8px; padding: 6px 10px;">
        Please use this <a href="https://drive.google.com/file/d/1l5Mqyv-FzmRHVA-jsZFvIBZ44Q6gHRI2/view?usp=share_link">one pager</a> to train your users.
      </p>
    </section>
  <% else %>
    <section class="update">
      <div class="update-date">
        Dec <b class="d-block">2022</b>
      </div>
      <p>
        <b>Simple app:</b> Progress tab has been updated with a new design and includes several new reports:
        <ul>
          <li>Daily, monthly and yearly reports - showing activity at your facility</li>
          <li>Hypertension report - overview of hypertension control at your facility</li>
          <li>New facility achievements - 'calls made to overdue patients'</li>
        </ul>
      </p>
      <p class="d-block bg-grey-lightest br-4px" style="margin-top: 8px; padding: 6px 10px;">
        Please use this <a href="https://drive.google.com/file/d/1l5Mqyv-FzmRHVA-jsZFvIBZ44Q6gHRI2/view?usp=share_link">one pager</a> to train your users.
      </p>
    </section>
  <% end %>
  <section class="update">
    <div class="update-date">
      Oct <b class="d-block">2022</b>
    </div>
    <p>
      <b>Simple dashboard:</b>
      <ul>
        <li>Diabetes drug stock tracking is now live!</li>
        <li>The graphs on the reports dashboard have been improved making it easier to view detailed information.</li>
      </ul>
    </p>
  </section>
  <section class="update">
    <div class="update-date">
      Sep <b class="d-block">2022</b>
    </div>
    <p>
      <b>Simple app:</b> The following improvements have been made to the <b>Overdue Tab</b>.
      <br>
      Healthcare workers can now:
    </p>
    <ul class="mb-0px">
      <li>Search for patients by their name or village</li>
      <% if CountryConfig.current[:name] == "India" %>
        <li>Create village-wise lists to share with ASHA and ANM workers</li>
        <li>See overdue patients who were previously marked as 'Agreed to call', 'Remind to call', or 'Remove' from overdue list</li>
      <% end %>
      <li>Patients who are lost to follow-up will also be seen in the overdue section</li>
    </ul>
    <p class="d-block bg-grey-lightest br-4px" style="margin-top: 8px; padding: 6px 10px;">
      Please use this <a href="https://drive.google.com/file/d/1BcGW-mxRyyHYTzDMh_Xdk3epmZvWYael/view">one pager SOP</a> and <a href="https://drive.google.com/file/d/1_LfJKqkMwe6rCEIMZyoA8xEj2TY5C9vk/view">training video</a> to train your users.
    </p>
  </section>
  <section class="update">
    <div class="update-date">
      Jun <b class="d-block">2022</b>
    </div>
    <p>
      <b>Simple dashboard:</b> Diabetes reports are now available for dashboard users in regions where blood sugar measures are being taken. Users can view DM registrations, follow-ups, missed visits and lost to follow-up for patients with diabetes. If your region does not use the diabetes feature, please talk to your leadership team and Simple team about enabling it.
    </p>
  </section>
  <section class="update">
    <div class="update-date">
      May <b class="d-block">2022</b>
    </div>
    <p>
      <b>Android</b> users will be notified to update their Simple app if the app becomes too old. If the app is more than several months old, they may get locked out of the app until they upgrade &#8212; this is important for security. <% if CountryConfig.current[:name] == "India" %><b>Android</b> users also now see a message on the Simple home screen to remind them to fill in drug stock. <% end %>
    </p>
    <p>
      <b>BP Passports PDFs</b> can now be created using a special application on your PC. You can create BP Passport cards or stickers and send them to your local printing company. <a href="/resources#card-bp-passport-creator">Get the app in Resources</a>.
    </p>
  </section>
</div>
