<div class="card mt-4">
  <h2>
    Recent updates
  </h2>
  <p class="c-grey-dark">
    Last updated on Wednesday 2-Mar-2022. If you have Dashboard feedback contact the Simple tech team at help@simple.org.
  </p>
  <h5 class="font-weight-bold mt-2">
    March 2022
  </h5>
  <ul class="mt-3 mb-0">
    <li>
      <p>
        <strong>Dashboard:</strong> You can now see 3-months of data for the amount of medications handed off to follow-up patients at the end of each month in the reports "Details" tab.
      </p>
    </li>
    <li>
      <p>
        <strong>Simple App:</strong> Performance improvements like faster search and faster loading of overdue list are made.
      </p>
   </li>
  </ul>
  <h5 class="font-weight-bold mt-2">
    February 2022
  </h5>
  <ul class="mt-3 mb-0">
    <li>
      <p>
        <strong>Simple App:</strong> Health IDs such as BP Passports and NHID can be added from 'Edit' screen of patient profile.
      </p>
    </li>
  </ul>
  <h5 class="font-weight-bold mt-2">
    January 2022
  </h5>
  <ul class="mt-3 mb-0">
    <li>
      <p>
        <strong>Dashboard:</strong> We're using a new follow-up definition. The definition is "Hypertension patients with a BP taken, a BS taken, an appointment scheduled, or medications refilled during a month." By the end of the month the Dashboard downloadable spreadsheets and the Simple App Progress Tab will show the new follow-up data.
      </p>
    </li>
    <li>
      <p>
        <strong>Dashboard:</strong> New "Monthly district data" and "Monthly facility data" spreadsheets are available to download in state and district reports.
      </p>
    </li>
    <li>
      <p>
        <strong>Simple App:</strong> Next follow-up appointment details are added to patient summary screen, which will show how many days overdue or ahead a patient's appointment is.
      </p>
    </li>
  </ul>
  <h5 class="font-weight-bold mt-2">
    December 2021
  </h5>
  <ul class="mt-3 mb-0">
    <li>
      <p>
        <strong>Dashboard:</strong> You can now find data for the number of overdue patients contacted by healthcare workers in the report "Details" page.
      </p>
    </li>
    <li>
      <p>
        <strong>Simple App:</strong> Downloading and sharing of overdue lists patients from Simple app is available.
      </p>
    </li>
  </ul>
  <h5 class="font-weight-bold mt-2">
    October 2021
  </h5>
  <ul class="mt-3 mb-0">
    <li>
      <p>
        <strong>Simple App:</strong> Patients who have been marked as dead show 'Died' status.
      </p>
    </li>
    <li>
      <p>
        <strong>Simple App:</strong> Users can now add custom medications for a patient by using 'Add another medicine' button.
      </p>
    </li>
    <% if CountryConfig.current[:name] == "Ethiopia" %>
      <li>
        <p>
          <strong>Simple App:</strong> We show a personal health number field to add information like hospital ID.
        </p>
      </li>
    <% end %>
  </ul>
</div>