<div class="card mt-4">
  <h2>
    Recent updates
  </h2>
  <p class="c-grey-dark">
    Last updated on Friday 02-Apr-2021. If you have Dashboard feedback contact the Simple tech team at help@simple.org.
  </p>
  <h5 class="font-weight-bold mt-2">
    Week of 02-Aug-2021
  </h5>
  <ul class="mt-3 mb-0">
    <li>
      <p>
        <strong>Simple App:</strong> Redesigned sync indicator on Home screen
      </p>
    </li>
    <li>
      <p>
        <strong>Simple App:</strong> New video illustration on Home screen for Ethiopia and Bangladesh
      </p>
    </li>
  </ul>
  <h5 class="font-weight-bold mt-2">
    Week of 26-Jul-2021
  </h5>
  <ul class="mt-3 mb-0">
    <li>
      <p>
        <strong>Simple App:</strong> Added support for finding patient online from ID scan
      </p>
    </li>
    <li>
      <p>
        <strong>Simple App:</strong> Supporting Tamil and Sinhala languages
      </p>
    </li>
    <li>
      <p>
        <strong>Simple App:</strong> Fixed an error that prevented the overdue list from changing when a new facility is selected
      </p>
    </li>
  </ul>
  <h5 class="font-weight-bold mt-2">
    Week of 05-Jul-2021
  </h5>
  <ul class="mt-3 mb-0">
    <li>
      <p>
        <strong>Simple App:</strong> Improved usability of dialogues and bottom sheets by allowing users to tap outside to dismiss
      </p>
    </li>
    <li>
      <p>
        <strong>Simple App:</strong> Improved the usability of the overdue patient contact information section by showing a loading state
      </p>
    </li>
  </ul>
  <h5 class="font-weight-bold mt-2">
    Week of 14-Jun-2021
  </h5>
  <ul class="mt-3 mb-0">
    <li>
      <p>
        <strong>Simple App:</strong> Added support to enter NHID when registered a new patient in India
      </p>
    </li>
  </ul>
  <h5 class="font-weight-bold mt-2">
    Week of 03-May-2021
  </h5>
  <ul class="mt-3 mb-0">
    <li>
      <p>
        A new download option, "Monthly district data", is available in district reports. It includes end-of-month performance data for all facilities in the district.
      </p>
    </li>
    <li>
      <p>
        We're running a pilot in 3 districts (Punjab, Maharashtra, and Kerala) to capture drug stock data and view drug consumption data in the Dashboard.
      </p>
    </li>
  </ul>