<div class="card mt-4">  
  <h2>
    Upcoming improvements
  </h2>
  <p>
    Our team is working to make the Simple Dashboard more useful for you:
  </p>
  <ul>
    <li>
      <p>
        Show new follow-up definition on the Simple App progress tab and Dashboard downloadable spreadsheets.
      </p>
    </li>
    <li>
      <p>
        Update lost to follow-up definition and show new lost to follow-up data on the Dashboard.
      </p>
    </li>
    <li>
      <p>
        Show a new "Hypertension coverage" card in the report "Details" page that compares total registered patients with a state or district's estimated hypertensive population.
      </p>
    </li>
    <li>
      <p>
        Add diabetes region reports to start monitoring the performance of hospitals at controlling diabetic patients.
      </p>
    </li>
    <li>
      <p>
        Add new "Days of patient medications" card to the report "Details" page to ensure facilities are handing out 60 - 90 days of hypertensive medications to follow-up patients.
      </p>
    </li>
  </ul>
</div>