<div class="card mt-4"> 
  <h2>
    Upcoming improvements
  </h2>
  <p>
    Our team is working to make the <%= Rails.application.config.application_brand_name %> Dashboard more useful for you:
  </p>
  <ul>
    <li>
      <p>
        Add diabetes region reports to start monitoring the performance of hospitals at controlling diabetic patients.
      </p>
    </li>
    <li>
      <p>
        Improve the <%= Rails.application.config.application_brand_name %> App "Progress" tab designs to make the information easier to read and to show more information at the daily, monthly, yearly, hypertension, and diabetes levels.
      </p>
    </li>
  </ul>
</div>