<div class="card mt-4">  
  <h2>
    Upcoming improvements
  </h2>
  <p>
    Our team is working to make the Simple Dashboard more useful for you:
  </p>
  <ul>
    <li>
      <p>
        Display "lost to follow-up" % in Reports section
      </p>
    </li>
    <li>
      <p>
        Show activity of healthcare workers calling overdue patients
      </p>
    </li>
    <li>
      <p>
        Add drug stock inventory to dashboard
      </p>
    </li>
    <li>
      <p>
        Multi-select block and facility size options in "Home" tab filters
      </p>
    </li>
    <li>
      <p>
        Download "Home" tab data as csv
      </p>
    </li>
    <li>
      <p>
        Add filter to show quarterly cohort trends data in "Home" tabs
      </p>
    </li>
  </ul>
</div>