<div class="card mt-4">  
  <h2>
    Upcoming improvements
  </h2>
  <p>
    Our team is working to make the Simple Dashboard more useful for you:
  </p>
  <ul>
    <li>
      <p>
        Adding block-level reports
      </p>
    </li>
    <li>
      <p>
        Adding state-level reports
      </p>
    </li>
    <li>
      <p>
        Adding District filters to the Home section
      </p>
    </li>
    <li>
      <p>
        Display "lost to follow-up" % in Reports section
      </p>
    </li>
    <li>
      <p>
        Show activity of healthcare workers calling overdue patients
      </p>
    </li>
    <li>
      <p>
        Add drug stock inventory to dashboard
      </p>
    </li>
  </ul>
</div>