<div class="row">
  <div class="col-lg-6 mb-lg-3 pr-lg-0">
    <%= render 'shared/my_facilities/facilities_by_size' %>
    <%= render 'shared/my_facilities/inactive_facilities' %>
  </div>
  <div class="col-lg-6 mb-lg-3 pr-lg-0">
    <div class="card d-flex h-100 mb-3">
      <%= render "shared/user_approvals" %>
    </div>
  </div>
</div>
