<div class="d-flex row">
  <div class="col-lg-6 mb-lg-3 pl-lg-0 order-2 order-lg-1">
    <%= render 'shared/my_facilities/facilities_by_size' %>
    <%= render 'shared/my_facilities/inactive_facilities' %>
  </div>
  <div class="col-lg-6 pr-lg-0 order-1 order-lg-2">
    <%= render "shared/user_approvals" %>
  </div>
</div>
