<% content_for :title do %>
  Home
<% end %>
<h1 class="page-header">
  Home
</h1>
<div class="d-grid grid-2-cols gap-16px">
  <div class="">
    <%= render "shared/user_approvals" %>
    <%#= render "upcoming_improvements" %>

  </div>
  <div class="d-flex flex-column gap-16px">
    <%= render "recent_updates" %>
    <%= render 'shared/my_facilities/facilities_by_size' %>
    <%= render 'shared/my_facilities/inactive_facilities' %>
  </div>
</div>
