<div class="container">

  <div class="row">

    <div class="col-sm-5 col-lg-7">
      <div class="card">
        <h2>Facilities</h2>
        <section id="facilities-by-size">
          <table class="table-compact">
            <thead>
            <tr>
              <th></th>
              <th>All facilities</th>
              <th>Inactive</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>All</td>
              <td><%= @facilities.count %></td>
              <td><%= @facilities.count - @active_facilities.count %></td>
            </tr>
            </tbody>
          </table>
        </section>
        <section id="facility-activity-by-week">
          <table class="table-compact">
            <thead>
            <tr>
              <th>Facility</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </section>

      </div>
    </div>
    <div class="col-sm-7 col-lg-5 mt-3">
      <%= render "shared/user_approvals" %>
    </div>
  </div>
</div>
