<div class="d-flex row">
  <div class="col-lg-6 mb-lg-3 pl-lg-0 order-2 order-lg-1">
    <%= render 'shared/my_facilities/facilities_by_size' %>
    <%= render 'shared/my_facilities/inactive_facilities' %>
  </div>
  <div class="card mt-4">  
      <h3>Upcoming improvements</h3>
      <p>Our team is working to make the Simple Dashboard more useful for you:</p>
      <ul>
        <li>
            <p>Displaying "current month" data in Reports section</p>
        </li>
        <li>
            <p>Adding block-level reports</p>
        </li>
        <li>
            <p>Adding state-level reports</p>
        </li>
        <li>
            <p>Adding "Ranked Facilities" to show a relative scoring of all facilities</p>
        </li>
        <li>
            <p>Adding District filters to the Home section</p>
        </li>
        <li>
            <p>Display "lost to follow-up" % in Reports section</p>
        </li>
        <li>
            <p>Show activity of healthcare workers calling overdue patients</p>
        </li>
        <li>
            <p>Add drug stock inventory to dashboard</p>
        </li>
      </ul>
    </div>
  <div class="col-lg-6 pr-lg-0 order-1 order-lg-2">
    <%= render "shared/user_approvals" %>
  </div>
</div>
