<div class="snapshot">
  <div class="snapshot-header">
    <div class="snapshot-org">Q2 2019: Apr-Jun
      <div>IHCI Hypertension Report</div>
    </div>
    <div class="snapshot-location">Kings County</div>
    <div class="snapshot-desc">Ranked #2 of 5 districts in New York State</div>
  </div>

  <div class="card">

    <div class="snapshot-title">What happened in Q2 2019 to the 1004 patients registered during Q1 2019?</div>

    <div class="split-row">

      <table class="split-bars">
        <tr>
          <td class="bar bar-3" style="height: 12px;">15%</td>
          <td class="snapshot-controlled snapshot-key">
            <div>154 patients visited with BP <i class="fas fa-less-than"></i> 140/90</div>
          </td>
        </tr>
        <tr>
          <td class="bar bar-2" style="height: 48px;">25%</td>
          <td class="snapshot-uncontrolled snapshot-key">
            <div>250 patients visited with BP <i class="fas fa-greater-than-equal"></i> 140/90</div>
          </td>
        </tr>
        <tr>
          <td class="bar bar-1" style="height: 130px;">60%</td>
          <td class="snapshot-didntattend snapshot-key">
            <div>600 patients didn't attend for an expected follow-up visit</div>
          </td>
        </tr>
      </table>

    </div>

  </div>
  <div class="card" style="margin-top: -2px;">
    <table class="snapshot-table">
      <thead>
      <tr>
        <th></th>
        <th>New patients registered</th>
        <th>Patients called for follow-up reminder</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="snapshot-quarter">Q2 2019</td>
        <td class="green">3213</td>
        <td class="green">987</td>
      </tr>
      <tr>
        <td class="snapshot-quarter">Q1 2019</td>
        <td class="green">1004</td>
        <td class="green">321</td>
      </tr>
      <tr>
        <td class="snapshot-quarter">Q4 2018</td>
        <td class="green">654</td>
        <td class="green">9</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
<div class="snapshot-send">
  Dr John Smith: Whatsapp +91-876-999-0909
</div>
