<div class="pl-16px d-lg-flex" style="overflow-x: scroll; overflow-y: hidden; white-space: nowrap;">
  <% @facility_sizes.each_with_index do |size, i| %>
    <div class="w-240px mb-24px flex-lg-1 <% if i != 0 %>pl-24px pl-lg-16px bl-1px bc-grey-light<% end %>" style="display: inline-block;">
      <p class="mb-4px fw-bold c-grey-dark">
        All <%= Facility.localized_facility_size(size) %>s
      </p>
      <p class="mb-4px fw-bold fs-24px">
        32%
      </p>
      <p class="mb-0px fs-14px c-grey-dark">
        <span class="fw-bold c-red">-1%</span> in the last 6 months
      </p>
    </div>
  <% end %>
</div>