<div class="resource-link resource-doc">
  <a
    href="https://drive.google.com/a/resolvetosavelives.org/file/d/1M2BpHYZALN8UAOaLZUfwFKCRvmq0fI7s/view?usp=sharing"
    class="resource-url"
  >
    1-pager for IHCI
    <span>
      Regularly updated document explaining Simple and IHCI
    </span>
    <i class="far fa-file-pdf"></i>
  </a>
</div>