<div class="d-flex fd-column justify-center align-center h-200px">
  <div style="margin-bottom: 16px;">
    <i class="fas fa-hospital-alt fs-32px c-grey-medium"></i>
  </div>
  <p class="c-grey-dark">
    There are no <%= Facility.localized_facility_size(@selected_facility_sizes.first) %> facilities
  </p>
</div>