<div class="row mt-3 d-flex justify-content-center">
  <div class="no-search-results">
    <div class="d-flex justify-content-center pb-3">
      <i class="fa fa-search"></i>
    </div>
    <span>
      <%= sanitize message %>
    </span>
  </div>
</div>
