<div class="card" id="card-office-hours">
  <h2>
    Tech team office hours
  </h2>
  <p>
    Join the Simple tech team for an optional 1 hour Zoom call every month if you’d like to learn about new features or if you need tech support. If you haven’t received a calendar invite email <a href="mailto: jamie@simple.org">jamie@simple.org</a>.
  </p>
  <div class="resource-link resource-calendar">
    <a
      href="<%= ExternalLinksHelper::INDIA_OFFICE_HOURS_ZOOM_LINK %>"
      class="resource-url"
    >
      Join the Zoom call 
      <span>
        Third Tuesday of the month from 5 - 6p IST
      </span>
      <i class="fa-regular fa-message-question"></i>
    </a>
  </div>
</div>