<div class="card" id="card-office-hours">
  <h2>
    Tech team office hours
  </h2>
  <p>
    Join the Simple tech team for an optional 1 hour Zoom call every month if you’d like to learn about new features or if you need tech support. If you haven’t received a calendar invite email claudio@simple.org.
  </p>
  <div class="resource-link resource-calendar">
    <a
      href="https://vitalstrategies.zoom.us/j/93245696030?pwd=eGFmZnA5THd2Nmdhazl1TTRGYTFqdz09"
      class="resource-url"
    >
      Join the Zoom call 
      <span>
        First Tuesday of the month from 5 - 6p Addis Ababa
      </span>
      <i class="far fa-calendar"></i>
    </a>
  </div>
</div>