<div class="resource-link resource-doc">
  <a
    href="https://drive.google.com/open?id=1LzGcSK5nPS0izJT4kV7B3y6syl84ACqo&authuser=dburka%40resolvetosavelives.org&usp=drive_fs" 
    class="resource-url"
  >
    1-pager
    <span>
      Regularly updated document explaining Simple
    </span>
    <i class="far fa-file-pdf"></i>
  </a>
</div>