<div class="resource-link resource-doc">
  <a
    href=""
    class="resource-url"
  >
    1-pager for IHCI
    <span>
      Regularly updated document explaining Simple and IHCI
    </span>
    <i class="far fa-file-pdf"></i>
  </a>
</div>