<div class="resource-link resource-doc">
  <a
    href="<%= ExternalLinksHelper::ONE_PAGER_SIMPLE_LINK %>" 
    class="resource-url"
  >
    1-pager
    <span>
      Regularly updated document explaining <%= Rails.application.config.application_brand_name %>
    </span>
    <i class="far fa-file-pdf"></i>
  </a>
</div>