<%= bootstrap_form_with(url: form_url, method: :get, layout: :horizontal, class: "mt-4") do |form| %>
  <% form_id = local_assigns[:form_id]
     facility_html_options = { form: form_id, onchange: "this.form.submit();", class: "selectpicker", data: {live_search: true} }.compact
     page_html_options = { form: form_id, onchange: "this.form.submit();" }.compact
  %>
  <div class="form-row">
    <div id="facility-selector" class="form-group col-md-6">
      <%= form.select :facility_id,
                      scope_namespace.order(:name).map { |facility| [facility.name, facility.id] },
                      {
                          hide_label: true,
                          include_blank: "All facilities",
                          selected: facility_id,
                          wrapper: false
                      },
                      facility_html_options
      %>
    </div>
    <div id="limit-selector" class="form-group col-md-3">
      <%= form.select :per_page,
                      ["20 per page", "50 per page"],
                      {
                          hide_label: true,
                          selected: per_page,
                      },
                      page_html_options
      %>
    </div>
  </div>
  <%= form.submit "Filter", style: "position: absolute; left: -9999px; width: 1px; height: 1px;" %>
<% end %>
