<%= bootstrap_form_with(url: form_url, method: :get, layout: :horizontal, class: "mt-4", local: true) do |form| %>
  <div class="form-row">
    <div id="district-selector" class="form-group col-md-2">
      <%= form.select :district,
                      policy_scope(scope_namespace).sort_by(&:district).map { |facility| [facility.district, facility.district] }.uniq,
                      {
                          hide_label: true,
                          include_blank: "All districts",
                          selected: district,
                          wrapper: false
                      }
      %>
    </div>

    <div class="form-group col-md-8">
      <%= form.search_field :search_query,
                            hide_label: true,
                            placeholder: "Search by name...".html_safe,
                            value: params[:search_query] %>
    </div>

    <div class="form-group">
      <%= form.submit "Search", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
