<%= bootstrap_form_with(url: path, method: :get, class: "mt-4", local: true) do |form| %>
  <div class="form-row mb-5">
    <%= render 'shared/search_bar', form: form, placeholder: placeholder %>
  </div>
<% end %>
