<div class="resource-link resource-presentation">
  <a
    href="https://docs.google.com/presentation/d/1GM57_sHZ53huaMCi1Vsg5O2aAjtXKWdLGvsvKzMROME/edit#slide=id.g25f6af9dd6_0_0" 
    class="resource-url"
  >
    Simple Training Guide
    <span>
      Use this presentation to learn about the Simple program and how to use the Android App and Dashboard
    </span>
    <i class="fas fa-chalkboard-teacher"></i>
  </a>
</div>