<div class="resource-link resource-presentation">
  <a
    href="<%= ExternalLinksHelper::BANGLADESH_SIMPLE_TRAINING_GUIDE_LINK %>"
    class="resource-url"
  >
    <%= Rails.application.config.application_brand_name %> training guide
    <span>
      Use this presentation to learn about the <%= Rails.application.config.application_brand_name %> program and how to use the Android App and Dashboard
    </span>
    <i class="fas fa-chalkboard-teacher"></i>
  </a>
</div>