<div class="resource-link resource-presentation">
  <a
    href="<%= ExternalLinksHelper::TELEMEDICINE_SIMPLE_TRAINING_GUIDE_LINK %>"
    class="resource-url"
  >
    Telemedicine training
    <span>
      A training presentation for healthcare workers and medical officers who will use Simple for telemedicine (also see video training, below)
    </span>
    <i class="fas fa-chalkboard-teacher"></i>
  </a>
</div>