<h1 class="page-header">
  Drug stock
</h1>

<div class="d-flex fd-column fd-lg-row justify-lg-between mb-24px d-print-none sub-menu">
  <div class="d-flex order-2 order-lg-1">
    <nav class="nav">
      <%= link_to(my_facilities_drug_stocks_path(preserve_query_params(request.query_parameters, ["facility_group", "zone", "size", "for_end_of_month"])), class: "nav-link #{active_action?("drug_stocks")}") do %>
        HTN stock
      <% end %>
      <%= link_to(my_facilities_drug_consumption_path(preserve_query_params(request.query_parameters, ["facility_group", "zone", "size", "for_end_of_month"])), class: "nav-link #{active_action?("drug_consumption")}") do %>
        HTN consumption
      <% end %>
    </nav>
  </div>
  <div class="d-flex actions order-1 mb-48px order-lg-2 mb-lg-0 text-grey">
    <% if @facilities.present? %>
      Last updated on <%= @report&.fetch(:last_updated_at)&.to_s(:day_mon_year_time) %>
    <% end %>
  </div>
</div>
