<h1 style="letter-spacing:-0.7px;color:#333;font-family:Arial,sans-serif;font-weight:700;margin:0;font-size:150%;"><%= @subject %></h1>

<div>&nbsp;</div>

<div style="font-size:110%;"><%= "Please find attached the Weekly telemedicine report for #{@period_start} to #{@period_end}" %></div>

<div>&nbsp;</div>

<div style="font-size:110%;"><%= "Please note that this information is confidential and should be kept private." %></div>

<div>&nbsp;</div>
<div>&nbsp;</div>

<!--HR-->
<div style="height:2px;background:#F0F2F5;margin:0;"></div>

<div>&nbsp;</div>
<div>&nbsp;</div>

<div style="font-size:110%;"><%= "If you did not request this or have questions, please immediately reply to <a href=\"mailto:help@simple.org\">help@simple.org</a>".html_safe %></div>
