<div class="page-header">
  <h1 class="page-title">Edit facility group</h1>
  <nav class="page-nav">
    <% if policy([:manage, @facility_group]).destroy? %>
      <%= link_to 'Delete facility group', [:admin, @facility_group], method: :delete, data: { confirm: "Are you sure you want to delete #{@facility_group.name}?" }, class: "btn btn-outline-danger ml-4" %>
    <% end %>
  </nav>
</div>

<%= render 'form', facility_group: @facility_group, organizations: @organizations, regions: @regions, protocols: @protocols %>
