<h1>New <%= t("region_type.district") %></h1>

<%= render 'form', facility_group: @facility_group, organizations: @organizations, protocols: @protocols, estimated_population: @estimated_population %>
