<h1 style="letter-spacing:-0.7px;color:#333;font-family:Arial,sans-serif;font-weight:700;margin:0;font-size:150%;">
    <%= I18n.t('anonymized_data_download_email.accessible_facilities') %>
</h1>

<div>&nbsp;</div>

<ul>
  <% @facilities.each do |facility| %>
    <li><%= facility %></li>
  <% end %>
</ul>