<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>

<h3>Anonymized Data dump</h3>
<p>
  <strong><%= I18n.t('anonymized_data_download_email.accessible_facilities') %>:</strong>
</p>
</body>
</html>
