<%= link_to "Protocols", admin_protocols_path, class: "#{active_controller?("admin/protocols")}" %> <%= link_to @protocol.name, [:admin, @protocol] %>

<h1>Edit medication</h1>

<%= render 'form', protocol_drug: @protocol_drug %>
