<nav class="breadcrumb mt-n3 mt-md-0">
  <%= link_to "Medication lists", admin_protocols_path, class: "#{active_controller?("admin/protocols")}" %> <i class="fas fa-chevron-right"></i> <%= link_to @protocol.name, [:admin, @protocol] %> <i class="fas fa-chevron-right"></i> New medication
</nav>
<h1 class="mt-32px">New medication</h1>
<%= render 'form', protocol_drug: @protocol_drug %>
