/*
Any CSS added to this file or imported from this file, e.g. `@import '../stylesheets/my-css.css'`,
will be included in the "application" pack. Any CSS imported from application.js or as part of the
application.js dependency graph, e.g. `import '../stylesheets/my-css.css'` will also be included
in the "application" pack.

To reference this file, add <%= stylesheet_pack_tag 'application' %> to the appropriate
layout file, like app/views/layouts/application.html.erb
*/

@import 'bootstrap/scss/bootstrap';

/*

  COLOR STYLES
  - Brand Colors
  - Grey Colors
  - Colors

*/
// Brand Colors
$brand-blue: #103047;
$brand-light-blue: #40596C;
// Grey Colors
$black: #000000;
$dark-grey: #6C737A;
$grey: #A3A9B8;
$light-grey: #DFE3EE;
$silver: #F1F3F8;
$white: #FFFFFF;
// Colors
$dark-blue: #016E95;
$blue: #007AA6;
$light-blue: #D9EBF2;
$dark-red: #952D2D;
$red: #BD3838;
$light-red: #F5E1E1;
$dark-orange: #CF7024;
$orange: #E77D27;
$light-orange: #FCECDF;
$dark-yellow: #E4B439;
$yellow: #FFC93F;
$light-yellow: #FFF7E2;
$dark-green: #668C23;
$green: #729C26;
$light-green: #EAF0DF;
$dark-purple: #563B8A;
$purple: #60419A;
$light-purple: #E7E3F0;
/*

  TEXT STYLES

*/
.large-header-text {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 135%;
}

.header-text {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 135%;
}

.small-header-text {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.large-body-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.large-body-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.body-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 175%;
}

.small-body-text {
  font-family: Inter;
  font-weight: 600;
  font-size: 10px;
  line-height: 100%;
}

.underline { text-decoration: underline; }
.strong { font-weight: 500; }
.phone { letter-spacing: 1px; }

/*

  COMPONENTS
  - Navigation Bar

*/
// Navigation Bar
.desktop-navigation-bar {
  background-color: $brand-blue;
}