/*
Any CSS added to this file or imported from this file, e.g. `@import '../stylesheets/my-css.css'`,
will be included in the "application" pack. Any CSS imported from application.js or as part of the
application.js dependency graph, e.g. `import '../stylesheets/my-css.css'` will also be included
in the "application" pack.

To reference this file, add <%= stylesheet_pack_tag 'application' %> to the appropriate
layout file, like app/views/layouts/application.html.erb
*/

@import 'bootstrap/scss/bootstrap';

/*

  GLOBAL

*/
html { height: 100%; }
body { position: relative; }
/*

  COLOR STYLES
  - Brand colors
  - Grey colors
  - Colors

*/
// Brand colors
$brand-blue: #103047;
$brand-light-blue: #40596C;
// Grey colors
$black: #000000;
$dark-grey: #6C737A;
$grey: #A3A9B8;
$light-grey: #DFE3EE;
$silver: #F1F3F8;
$white: #FFFFFF;
// Colors
$dark-blue: #016E95;
$blue: #007AA6;
$light-blue: #D9EBF2;
$dark-red: #952D2D;
$red: #BD3838;
$light-red: #F5E1E1;
$dark-orange: #CF7024;
$orange: #E77D27;
$light-orange: #FCECDF;
$dark-yellow: #E4B439;
$yellow: FFC93F;
$light-yellow: #FFF7E2;
$dark-green: #668C23;
$green: #729C26;
$light-green: #EAF0DF;
$dark-purple: #563B8A;
$purple: #60419A;
$light-purple: #E7E3F0;
/*

  TEXT STYLES
  - Text
  - Modifiers
  - Colors

*/
@mixin large-header-text {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 135%;
}
@mixin header-text {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 135%;
}
@mixin small-header-text {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
@mixin large-body-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
@mixin large-body-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
@mixin body-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 175%;
}
@mixin small-body-text {
  font-family: Inter;
  font-weight: 600;
  font-size: 10px;
  line-height: 100%;
}
// Modifiers
.underline { text-decoration: underline; }
.strong { font-weight: 500; }
.phone { letter-spacing: 1px; }
// Colors
.text-brand-blue { color: $brand-blue; }
.text-brand-light-blue { color: $brand-light-blue; }
.text-black { color: $black; }
.text-dark-grey { color: $dark-grey; }
.text-grey { color: $grey; }
.text-light-grey { color: $light-grey; }
.text-silver { color: $silver; }
.text-white { color: $white; }
.text-dark-blue { color: $dark-blue; }
.text-blue { color: $blue; }
.text-light-blue { color: $light-blue; }
.text-dark-red { color: $dark-red; }
.text-red { color: $red; }
.text-light-red { color: $light-red; }
.text-dark-orange { color: $dark-orange; }
.text-orange { color: $orange; }
.text-light-orange { color: $light-orange; }
.text-dark-yellow { color: $dark-yellow; }
.text-yellow { color: $yellow; }
.text-light-yellow { color: $light-yellow; }
.text-dark-green { color: $dark-green; }
.text-green { color: $green; }
.text-light-green { color: $light-green; }
.text-dark-purple { color: $dark-purple; }
.text-purple { color: $purple; }
.text-light-purple { color: $light-purple; }
/*

  SVG
  - Fills
  - Strokes

*/
.fill-brand-blue { fill: $brand-blue; }
.fill-brand-light-blue { fill: $brand-light-blue; }
.fill-black { fill: $black; }
.fill-dark-grey { fill: $dark-grey; }
.fill-grey { fill: $grey; }
.fill-light-grey { fill: $light-grey; }
.fill-silver { fill: $silver; }
.fill-white { fill: $white; }
.fill-dark-blue { fill: $dark-blue; }
.fill-blue { fill: $blue; }
.fill-light-blue { fill: $light-blue; }
.fill-dark-red { fill: $dark-red; }
.fil-red { fill: $red; }
.fill-light-red { fill: $light-red; }
.fill-dark-orange { fill: $dark-orange; }
.fill-orange { fill: $orange; }
.fill-light-orange { fill: $light-orange; }
.fill-dark-yellow { fill: $dark-yellow; }
.fill-yellow { fill: $yellow; }
.fill-light-yellow { fill: $light-yellow; }
.fill-dark-green { fill: $dark-green; }
.fill-green { fill: $green; }
.fill-light-green { fill: $light-green; }
.fill-dark-purple { fill: $dark-purple; }
.fill-purple { fill: $purple; }
.fill-light-purple { fill: $light-purple; }
.stroke-brand-blue { stroke: $brand-blue; }
.stroke-brand-light-blue { stroke: $brand-light-blue; }
.stroke-black { stroke: $black; }
.stroke-dark-grey { stroke: $dark-grey; }
.stroke-grey { stroke: $grey; }
.stroke-light-grey { stroke: $light-grey; }
.stroke-silver { stroke: $silver; }
.stroke-white { stroke: $white; }
.stroke-dark-blue { stroke: $dark-blue; }
.stroke-blue { stroke: $blue; }
.stroke-light-blue { stroke: $light-blue; }
.stroke-dark-red { stroke: $dark-red; }
.stroke-red { stroke: $red; }
.stroke-light-red { stroke: $light-red; }
.stroke-dark-orange { stroke: $dark-orange; }
.stroke-orange { stroke: $orange; }
.stroke-light-orange { stroke: $light-orange; }
.stroke-dark-yellow { stroke: $dark-yellow; }
.stroke-yellow { stroke: $yellow; }
.stroke-light-yellow { stroke: $light-yellow; }
.stroke-dark-green { stroke: $dark-green; }
.stroke-green { stroke: $green; }
.stroke-light-green { stroke: $light-green; }
.stroke-dark-purple { stroke: $dark-purple; }
.stroke-purple { stroke: $purple; }
.stroke-light-purple { stroke: $light-purple; }
/*

  SHADOW STYLES

*/
@mixin mobile-nav-shadow {
  box-shadow: 0 -4px 8px rgba(0,0,0,0.1);
}
/*

  COMPONENTS
  - Navigation bar

*/
// Navigation bar
.top-navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
  padding: 8px 16px 8px 9px;
  background-color: $brand-blue;
}
.organization-dropdown {
  display: flex;
  align-items: center;
}
.organization-name {
  margin-left: 4px;
  @include header-text;
  color: $white;
}
.user-dropdown {
  display: flex;
  align-items: center;
}
.user-profile-icon {
  margin-right: 4px;
}
.bottom-navigation-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: $white;
  @include mobile-nav-shadow;
}
.navigation-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation-tab-name {
  margin-top: 2px;
  @include small-body-text;
}