<h1>Confirm Patient Followup</h1>

<%= form_tag(patient_path, method: 'put') do %>
  Contacted:
  <%= check_box(:patient, :contacted_by_counsellor,
                {checked: @patient.contacted_by_counsellor},
                checked_value: true, unchecked_value: false) %>
  <br>
  <%= submit_tag('Update') %>
<% end %>
