<div class="card card-responsive">
    
    <div>
      <h3>BP control</h3>
      <p>Description</p>
    </div>
    
    <div class="mt-1 mb-2">
      <div class="dropdown show">
        <a class="btn btn-sm btn-outline btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="min-width: 12em;">
          Nov-2019
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Oct-2019</a>
          <a class="dropdown-item" href="#">Sep-2019</a>
          <a class="dropdown-item" href="#">Aug-2019</a>
          <a class="dropdown-item" href="#">Jul-2019</a>
          <a class="dropdown-item" href="#">Jun-2019</a>
        </div>
      </div>
    </div>


  <table class="table table-compact table-responsive-md table-hover" id="analytics-table">
    <colgroup>
        <col>
        <col class="table-divider">
        <col>
        <col>
        <col>
        <col>
        <col>
        <col class="table-divider">
        <col>
        <col class="mobile">
    </colgroup>
    <thead>
    <tr>
      <th></th>
      <th colspan="6">Cohort of patients registered in Q2-2019</th>
      <th colspan="2">All-time registered patients</th>
      <th class="mobile">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    </tr>
    <tr data-sort-method="thead" class="sorts">
      <th class="row-label sort-label">Facilities</th>
      <th class="row-label sort-label" data-sort-method="number" colspan="2"  data-sort-default>Visited with controlled<br>BP in Q3-2019</th>
      <th class="row-label sort-label" data-sort-method="number" colspan="2">Visited with uncontrolled<br>BP in Q3-2019</th>
      <th class="row-label sort-label" data-sort-method="number" colspan="2">Missed visit<br>in Q3-2019</th>
      <th class="row-label sort-label" data-sort-method="number" colspan="2">All follow-up patients with<br>controlled BP in last 90 days <sup>1</sup></th>
      <th class="mobile"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="row-total" data-sort-method="none">
      <td class="type-title">All</td>
      <td class="type_number">12,345</td>
      <td class="type-percent"><em>100%</em></td>
      <td class="type_number">12,345</td>
      <td class="type-percent"><em>100%</em></td>
      <td class="type_number">12,345</td>
      <td class="type-percent"><em>100%</em></td>
      <td class="type_number">12,345</td>
      <td class="type-percent"><em>100%</em></td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">CHC Ball Place Two</a></td>
      <td class="type_number">12,345</td>
      <td class="type-percent"><em>42%</em></td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">CHC Cat Location</a></td>
      <td class="type_number">12,345</td>
      <td class="type-percent"><em>64%</em></td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">CHC Dog House</a></td>
      <td class="type_number">12,345</td>
      <td class="type-percent"><em>56%</em></td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">PHC Animal House</a></td>
      <td class="type_number">12,345</td>
      <td class="type-percent"><em>43%</em></td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">DH Giraffe Area</a></td>
      <td class="type_number">12,345</td>
      <td class="type-percent"><em>76%</em></td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">SDH Cow Palace</a></td>
      <td class="type_number">12,345</td>
      <td class="type-percent"><em>67%</em></td>
    </tr>
    </tbody>
  </table>
</div>
<section class="footnotes">
    <ol>
        <li><strong>Ranking:</strong> is ranked by...</li>
        <li><strong>BP control:</strong> Had at least one visit in last 90 days and BP was &lt;140/90 at last visit.</li>
        <li><strong>OPD load:</strong> Outpatient department load is entered by surveillance officers for each facility. Monthly OPD load is an average. Where a facility has no OPD Load entered (see asterisk), the number is an average of other faciities of the same type in this district.</li>
    </ol>
</section>