<div class="card">
  <h2>Inactive facilities</h2>
  <p>Facilities where &lt;10 patients had any BPs recorded in the last 7 days.</p>
  <section id="facilities-inactive">
    <table class="table table-compact table-hover table-responsive-md" id="analytics-table">
      <colgroup>
        <col>
        <col style="width: 7em;" class="table-divider">
        <col style="width: 7em;" class="table-divider">
      </colgroup>
      <thead>
      <tr>
        <th></th>
        <th class="row-label sort-label" data-sort-default data-sort-method="number" data-sort-column-key="week">
          Last<br>7 days
        </th>
        <th class="row-label sort-label" data-sort-method="number" data-sort-column-key="month">
          Last<br>30 days
        </th>
      </tr>
      </thead>
      <tbody>
      <% @inactive_facilities.sort_by(&:name).each do |facility| %>
        <tr>
          <td><%= link_to facility.name, analytics_facility_path(facility) %></td>
          <td class="text-right" data-sort-column-key="week">
            <%= @inactive_facilities_bp_counts[:last_week][facility.id].to_i %>
          </td>
          <td class="text-right" data-sort-column-key="month">
            <%= @inactive_facilities_bp_counts[:last_month][facility.id].to_i %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </section>
</div>
