<% if @inactive_facilities.any? %>
  <div class="card mt-4">
    <h2>
      Inactive facilities
    </h2>
    <p>
      Facilities with no BPs recorded in the last 30 days
    </p>
    <section id="facilities-inactive">
      <% @inactive_facilities.sort_by(&:name).first(100).each do |facility| %>
        <%= link_to facility.name, reports_region_facility_path(facility), class: "user-row d-block w-100" %>
      <% end %>
    </section>
  </div>
<% end %>
