<div class="card card-responsive">
    
    <div>
      <h3>Ranked facilities</h3>
      <p>Ranking by a weighted algorithm of factors below.<sup>1</sup></p>
    </div>


  <table class="table table-compact table-responsive-md table-hover" id="analytics-table">
    <colgroup>
        <col>
        <col>
        <col class="table-divider">
        <col class="table-divider">
        <col>
        <col class="table-divider">
        <col class="table-divider">
        <col class="table-divider">
        <col class="mobile">
    </colgroup>
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th>BP control<sup>2</sup></th>
      <th colspan="2">Registrations</th>
      <th>OPD load <sup>3</sup></th>
      <th>Missed visits</th>
      <th></th>
      <th class="mobile">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    </tr>
    <tr data-sort-method="thead" class="sorts">
      <th class="row-label sort-label" data-sort-default data-sort-method="number">Rank</th>
      <th class="row-label sort-label">Facilities</th>
      <th class="row-label sort-label" data-sort-method="number">Oct-2019</th>
      <th class="row-label sort-label" data-sort-method="number">Oct-2019</th>
      <th class="row-label sort-label" data-sort-method="number">All-time</th>
      <th class="row-label sort-label" data-sort-method="number">Monthly</th>
      <th class="row-label sort-label" data-sort-method="number">Oct-2019</th>
      <th class="row-label sort-label" data-sort-method="number">Prev. rank</th>
      <th class="mobile"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="row-total" data-sort-method="none">
      <td class="type-rank"></td>
      <td class="type-title">All</td>
      <td class="type-percent"><em>100%</em></td>
      <td class="type-number">12,345</td>
      <td class="type-number">1,987</td>
      <td class="type-number">64,230</td>
      <td class="type-number">1,413</td>
      <td class="type-rank"></td>
    </tr>
    <tr>
      <td class="type-rank">1</td>
      <td class="type-title"><a href="#">CHC Ball Place Two</a></td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-number">10234</td>
      <td class="type-number">903</td>
      <td class="type-number">90</td>
      <td class="type-rank">6 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">2</td>
      <td class="type-title"><a href="#">CHC Cat Location</a></td>
      <td class="type-percent"><em>64%</em></td>
      <td class="type-number">42</td>
      <td class="type-number">121</td>
      <td class="type-number">1,322*</td>
      <td class="type-number">109</td>
      <td class="type-rank">1 <i class="fas fa-long-arrow-alt-down"></i></td>
    </tr>
    <tr>
      <td class="type-rank">3</td>
      <td class="type-title"><a href="#">CHC Dog House</a></td>
      <td class="type-percent"><em>56%</em></td>
      <td class="type-number">9,876</td>
      <td class="type-number">23,456</td>
      <td class="type-number">5678</td>
      <td class="type-number">90</td>
      <td class="type-rank">2 <i class="fas fa-long-arrow-alt-down"></i></td>
    </tr>
    <tr>
      <td class="type-rank">4</td>
      <td class="type-title"><a href="#">PHC Animal House</a></td>
      <td class="type-percent"><em>43%</em></td>
      <td class="type-number">87</td>
      <td class="type-number">4,567</td>
      <td class="type-number">43</td>
      <td class="type-number">2</td>
      <td class="type-rank">16 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">5</td>
      <td class="type-title"><a href="#">DH Giraffe Area</a></td>
      <td class="type-percent"><em>76%</em></td>
      <td class="type-number">123</td>
      <td class="type-number">19,876</td>
      <td class="type-number">4,230</td>
      <td class="type-number">143</td>
      <td class="type-rank">19 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">6</td>
      <td class="type-title"><a href="#">SDH Cow Palace</a></td>
      <td class="type-percent"><em>67%</em></td>
      <td class="type-number">203</td>
      <td class="type-number">4,345</td>
      <td class="type-number">4,230</td>
      <td class="type-number">143</td>
      <td class="type-rank">24 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">7</td>
      <td class="type-title"><a href="#">PHC Human Land</a></td>
      <td class="type-percent"><em>71%</em></td>
      <td class="type-number">6</td>
      <td class="type-number">103</td>
      <td class="type-number">234</td>
      <td class="type-number">143</td>
      <td class="type-rank">6 <i class="fas fa-long-arrow-alt-down"></i></td>
    </tr>
    <tr>
      <td class="type-rank">8</td>
      <td class="type-title"><a href="#">PHC Turtle Pond</a></td>
      <td class="type-percent"><em>66%</em></td>
      <td class="type-number">345</td>
      <td class="type-number">987</td>
      <td class="type-number">4230</td>
      <td class="type-number">143</td>
      <td class="type-rank">7 <i class="fas fa-long-arrow-alt-down"></i></td>
    </tr>
    <tr>
      <td class="type-rank">9</td>
      <td class="type-title"><a href="#">PHC Emu</a></td>
      <td class="type-percent"><em>56%</em></td>
      <td class="type-number">345</td>
      <td class="type-number">987</td>
      <td class="type-number">4230</td>
      <td class="type-number">143</td>
      <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">10</td>
      <td class="type-title"><a href="#">HWC Ostrich Nest</a></td>
      <td class="type-percent"><em>41%</em></td>
      <td class="type-number">23</td>
      <td class="type-number">321</td>
      <td class="type-number">400</td>
      <td class="type-number">90</td>
      <td class="type-rank">22 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">11</td>
      <td class="type-title"><a href="#">CHC Snake Pit</a></td>
      <td class="type-percent"><em>43%</em></td>
      <td class="type-number">91</td>
      <td class="type-number">1,678</td>
      <td class="type-number">19,654</td>
      <td class="type-number">213</td>
      <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">12</td>
      <td class="type-title"><a href="#">CHC Turtle Two</a></td>
      <td class="type-percent"><em>45%</em></td>
      <td class="type-number">18</td>
      <td class="type-number">451</td>
      <td class="type-number">1321</td>
      <td class="type-number">12</td>
      <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">13</td>
      <td class="type-title"><a href="#">CHC Sparrow Farm</a></td>
      <td class="type-percent"><em>51%</em></td>
      <td class="type-number">121</td>
      <td class="type-number">1,908</td>
      <td class="type-number">1,234</td>
      <td class="type-number">9</td>
      <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">14</td>
      <td class="type-title"><a href="#">CHC Elephant Lake</a></td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">125</td>
      <td class="type-number">809</td>
      <td class="type-number">1234*</td>
      <td class="type-number">12</td>
      <td class="type-rank">15 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">15</td>
      <td class="type-title"><a href="#">CHC Tiger and Dolphin Club</a></td>
      <td class="type-percent"><em>51%</em></td>
      <td class="type-number">102</td>
      <td class="type-number">900</td>
      <td class="type-number">1,234</td>
      <td class="type-number">12</td>
      <td class="type-rank">17 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">16</td>
      <td class="type-title"><a href="#">CHC Squirrel in a Tree</a></td>
      <td class="type-percent"><em>51%</em></td>
      <td class="type-number">123</td>
      <td class="type-number">2,345</td>
      <td class="type-number">4,567*</td>
      <td class="type-number">12</td>
      <td class="type-rank">23 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">17</td>
      <td class="type-title"><a href="#">CHC Hippopotamus Mudplex</a></td>
      <td class="type-percent"><em>23%</em></td>
      <td class="type-number">123</td>
      <td class="type-number">1,456</td>
      <td class="type-number">12,345</td>
      <td class="type-number">456</td>
      <td class="type-rank">24 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    </tbody>
  </table>
</div>
<section class="footnotes">
    <ol>
        <li><strong>Ranking:</strong> is ranked by...</li>
        <li><strong>BP control:</strong> Had at least one visit in last 90 days and BP was &lt;140/90 at last visit.</li>
        <li><strong>OPD load:</strong> Outpatient department load is entered by surveillance officers for each facility. Monthly OPD load is an average. Where a facility has no OPD Load entered (see asterisk), the number is an average of other faciities of the same type in this district.</li>
    </ol>
</section>