<div class="card card-responsive">
  <div class="row">
    <div class="col-6 col-lg-9">
      <h3>Ranked facilities</h3>
      <p>Ranking by a weighted algorithm of factors below.<sup>1</sup></p>
    </div>
    <div class="col-5 col-lg-3">
      <div class="dropdown show">
        <a class="btn btn-sm btn-outline btn-secondary dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nov-2019
        </a>

        <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Oct-2019</a>
          <a class="dropdown-item" href="#">Sep-2019</a>
          <a class="dropdown-item" href="#">Aug-2019</a>
          <a class="dropdown-item" href="#">Jul-2019</a>
          <a class="dropdown-item" href="#">Jun-2019</a>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-compact table-responsive-md" id="analytics-table">
    <colgroup>
        <col>
        <col class="table-divider">
        <col class="table-divider">
        <col class="table-divider">
        <col>
        <col class="table-divider">
        <col class="table-divider">
        <col class="table-divider">
    </colgroup>
    <thead>
    <tr>
      <th></th>
      <th>Facilities</th>
      <th>BP control<sup>2</sup></th>
      <th colspan="2">Registrations</th>
      <th>OPD load</th>
      <th>Missed visits</th>
      <th></th>
    </tr>
    <tr data-sort-method="thead" class="sorts">
      <th class="row-label sort-label" data-sort-method="number">Rank</th>
      <th class="row-label sort-label">Name</th>
      <th class="row-label sort-label" data-sort-method="number">Oct-2019</th>
      <th class="row-label sort-label" data-sort-method="number">Oct-2019</th>
      <th class="row-label sort-label" data-sort-method="number">All-time</th>
      <th class="row-label sort-label" data-sort-method="number">Monthly</th>
      <th class="row-label sort-label" data-sort-method="number">Oct-2019</th>
      <th class="row-label sort-label" data-sort-method="number">Rank last month</th>
    </tr>
    </thead>
    <tbody>
    <tr class="row-total" data-sort-method="none">
      <td class="type-rank"></td>
      <td class="type-title">All</td>
      <td class="type-percent"><em>100%</em></td>
      <td class="type-number">12,345</td>
      <td class="type-number">1,987</td>
      <td class="type-number">64,230</td>
      <td class="type-number">1,413</td>
      <td class="type-rank"></td>
    </tr>
    <tr>
      <td class="type-rank">1</td>
      <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
      <td class="type-percent"><em>56%</em></td>
      <td class="type-number">345</td>
      <td class="type-number">987</td>
      <td class="type-number">4230</td>
      <td class="type-number">143</td>
      <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">2</td>
      <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
      <td class="type-percent"><em>56%</em></td>
      <td class="type-number">345</td>
      <td class="type-number">987</td>
      <td class="type-number">4230</td>
      <td class="type-number">143</td>
      <td class="type-rank">1 <i class="fas fa-long-arrow-alt-down"></i></td>
    </tr>
    <tr>
      <td class="type-rank">3</td>
      <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
      <td class="type-percent"><em>56%</em></td>
      <td class="type-number">345</td>
      <td class="type-number">987</td>
      <td class="type-number">4230</td>
      <td class="type-number">143</td>
      <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">4</td>
      <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
      <td class="type-percent"><em>56%</em></td>
      <td class="type-number">345</td>
      <td class="type-number">987</td>
      <td class="type-number">4230</td>
      <td class="type-number">143</td>
      <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">5</td>
      <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
      <td class="type-percent"><em>56%</em></td>
      <td class="type-number">345</td>
      <td class="type-number">987</td>
      <td class="type-number">4230</td>
      <td class="type-number">143</td>
      <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">6</td>
      <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
      <td class="type-percent"><em>56%</em></td>
      <td class="type-number">345</td>
      <td class="type-number">987</td>
      <td class="type-number">4230</td>
      <td class="type-number">143</td>
      <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">7</td>
      <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
      <td class="type-percent"><em>56%</em></td>
      <td class="type-number">345</td>
      <td class="type-number">987</td>
      <td class="type-number">4230</td>
      <td class="type-number">143</td>
      <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">8</td>
      <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
      <td class="type-percent"><em>56%</em></td>
      <td class="type-number">345</td>
      <td class="type-number">987</td>
      <td class="type-number">4230</td>
      <td class="type-number">143</td>
      <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">9</td>
      <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
      <td class="type-percent"><em>56%</em></td>
      <td class="type-number">345</td>
      <td class="type-number">987</td>
      <td class="type-number">4230</td>
      <td class="type-number">143</td>
      <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">10</td>
      <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
      <td class="type-percent"><em>56%</em></td>
      <td class="type-number">345</td>
      <td class="type-number">987</td>
      <td class="type-number">4230</td>
      <td class="type-number">143</td>
      <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">11</td>
      <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
      <td class="type-percent"><em>56%</em></td>
      <td class="type-number">345</td>
      <td class="type-number">987</td>
      <td class="type-number">4230</td>
      <td class="type-number">143</td>
      <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">12</td>
      <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
      <td class="type-percent"><em>56%</em></td>
      <td class="type-number">345</td>
      <td class="type-number">987</td>
      <td class="type-number">4230</td>
      <td class="type-number">143</td>
      <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">13</td>
      <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
      <td class="type-percent"><em>56%</em></td>
      <td class="type-number">345</td>
      <td class="type-number">987</td>
      <td class="type-number">4230</td>
      <td class="type-number">143</td>
      <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">14</td>
      <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
      <td class="type-percent"><em>56%</em></td>
      <td class="type-number">345</td>
      <td class="type-number">987</td>
      <td class="type-number">4230</td>
      <td class="type-number">143</td>
      <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">15</td>
      <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
      <td class="type-percent"><em>56%</em></td>
      <td class="type-number">345</td>
      <td class="type-number">987</td>
      <td class="type-number">4230</td>
      <td class="type-number">143</td>
      <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">16</td>
      <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
      <td class="type-percent"><em>56%</em></td>
      <td class="type-number">345</td>
      <td class="type-number">987</td>
      <td class="type-number">4230</td>
      <td class="type-number">143</td>
      <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    <tr>
      <td class="type-rank">17</td>
      <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
      <td class="type-percent"><em>56%</em></td>
      <td class="type-number">345</td>
      <td class="type-number">987</td>
      <td class="type-number">4230</td>
      <td class="type-number">143</td>
      <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
    </tr>
    </tbody>
  </table>
</div>