<div class="card card-responsive">
    
    <div class="row">
        <div class="col-lg-9 pr-5 pr-md-0">
          <h3>New patient registrations</h3>
          <p>OPD % indicates the percentage of estimated OPD patients that are registered. Estimated monthly OPD load is updated annually by surveillance officers.</p>
        </div>

        <div class="mt-1 mb-3 col-lg-3">
          <div class="dropdown show">
            <a class="btn btn-sm btn-outline btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="min-width: 12em;">
              Quarterly
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              
              <a class="dropdown-item" href="#">Daily</a>
              <a class="dropdown-item" href="#">Monthly</a>
              <a class="dropdown-item" href="#">Quarterly</a>

            </div>
          </div>
        </div>
    </div>

  <table class="mt-3 mt-lg-4 table table-compact table-responsive-md table-hover" id="analytics-table">
    <colgroup>
        <col>
        <col class="table-divider">
        <col>
        <col class="table-divider">
        <col>
        <col class="table-divider">
        <col>
        <col class="table-divider">
        <col class="mobile">
    </colgroup>
    <thead>
    <tr>
      <th></th>
      <th colspan="2">Q3-2019</th>
      <th colspan="2">Q4-2019</th>
      <th colspan="2">Q1-2020</th>
      <th>ALL-TIME</th>
    </tr>
    <tr data-sort-method="thead" class="sorts">
      <th class="row-label sort-label">Facilities</th>
      <th class="row-label sort-label">% of OPD</th>
      <th class="row-label sort-label">Registered</th>
      <th class="row-label sort-label">% of OPD</th>
      <th class="row-label sort-label">Registered</th>
      <th class="row-label sort-label" data-sort-default data-sort-method="number">% of OPD</th>
      <th class="row-label sort-label">Registered</th>
      <th class="row-label sort-label">All-time registered patients <sup>1</sup></th>
      <th class="mobile">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr class="row-total" data-sort-method="none">
      <td class="type-title">All</td>
      <td class="type-percent"><em>100%</em></td>
      <td class="type-number">12,345</td>
      <td class="type-percent"><em>100%</em></td>
      <td class="type-number">12,345</td>
      <td class="type-percent"><em>100%</em></td>
      <td class="type-number">12,345</td>
      <td class="type-number">43,346</td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">CHC Ball Place Two</a></td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-number">903</td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">CHC Umbrella</a></td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-number">903</td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">CHC Coatrack</a></td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-number">903</td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">PHC Printer</a></td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-number">903</td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">PHC Fax Machine</a></td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-number">903</td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">DH Largescale</a></td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-number">903</td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">CHC Upsidedown</a></td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-number">903</td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">SDH Localname</a></td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-number">903</td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">PHC Hungerstyle</a></td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-number">903</td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">SDH Coffee Filter</a></td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-number">903</td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">HWC Bloodpressure</a></td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-number">903</td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">HWC Oneroom</a></td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-number">903</td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">CHC Heater</a></td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-number">903</td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">CHC Cleanliness</a></td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-number">903</td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">PHC Rockandroll</a></td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-number">903</td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">HWC Rocker</a></td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-number">903</td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">PHC Tablestakes</a></td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-number">903</td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">PHC Airplane</a></td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-number">903</td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">PHC Railway Crossing</a></td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-number">903</td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">CHC Goforit</a></td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-number">903</td>
    </tr>
    <tr>
      <td class="type-title"><a href="#">PHC Printer Paper</a></td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-percent"><em>42%</em></td>
      <td class="type-number">1232</td>
      <td class="type-number">903</td>
    </tr>
    </tbody>
  </table>
</div>
<section class="footnotes">
    <ol>
        <li><strong>All registered patients:</strong> All registered patients with exclusions for: lost to follow-up, transferred to another public facility, and died.</li>
    </ol>
</section>