<div class="page-header">
  <h1 class="page-title">Edit facility</h1>
  <nav class="page-nav">

    <% if Flipper.enabled?(:new_permissions_system_aug_2020, current_admin) %>
      <% if current_admin.can?(:manage, :facility, :access_record, @facility) %>
        <%= link_to 'Delete facility', [:admin, @facility_group, @facility], method: :delete, data: { confirm: "Are you sure you want to delete #{@facility.name}?" }, class: "btn btn-outline-danger ml-4" %>
      <% end %>
    <% else %>
      <% if policy([:manage, :facility, @facility]).destroy? %>
        <%= link_to 'Delete facility', [:admin, @facility_group, @facility], method: :delete, data: { confirm: "Are you sure you want to delete #{@facility.name}?" }, class: "btn btn-outline-danger ml-4" %>
      <% end %>
    <% end %>
  </nav>
</div>

<%= render 'form', facility: @facility, facility_group: @facility_group %>
