<div class="row">
  <div class="col-md-6">
    <%= bootstrap_form_with(model: [:admin, organization], local: true, autocomplete: "off", label_errors: true) do |organization_form| %>
      <%= organization_form.text_field :name, id: :organization_name, required: true, autocomplete: "off"%>
      <%= organization_form.text_field :description, id: :organization_description, autocomplete: "off"%>

      <%= organization_form.primary %>
    <% end %>
  </div>
</div>
