<div class="align-right custom-control custom-switch">
  <form method="get" name="ltfu_form">
    <input type="checkbox"
           onChange="this.form.submit()"
           name="with_ltfu"
           for="ltfu_form"
           class="custom-control-input"
           id="<%= id %>"
           <% if enabled %>checked<% end %>>
    <label class="font-weight-normal custom-control-label <% unless enabled %>c-grey-dark<% end %>"
           for="<%= id %>">
      Include LTFU
    </label>
    <% if params[:period].present? %>
      <!-- Preserve period selection in reports header -->
      <input type="hidden" for="ltfu_form" name="period[type]" value="<%= params[:period]["type"] %>">
      <input type="hidden" for="ltfu_form" name="period[value]" value="<%= params[:period]["value"] %>">
    <% end %>
  </form>
</div>
