<span class="p-relative t--2px">
  <i
    class="fas fa-question-circle fs-14px c-grey-dark"
    data-toggle="tooltip"
    data-placement="right"
    data-trigger="hover click"
    data-html="true"
    title="<%= tooltip_content %>">
  </i>
</span>
