#facility-access {
  ul {
    list-style-type: none;
    display: block;
    padding-left: 20px;

    li {
      padding: 10px;
      border-top: 1px solid #F0F2F5;
      position: relative;
    }
  }
}
