/******************
Overdue list
******************/

.overdue-facility {
    padding-top: 16px;
}

.overdue-patient {
    border-top: 1px solid $grey-lightest;
    padding-top: 8px;
    padding-left: 16px;
    position: relative;
}

.overdue-patient .btn,
.overdue-patient select {
    font-size: inherit;
    height: auto;
    margin-bottom: 8px;
}

.overdue-title,
.overdue-time {
    font-family: $font-condensed;
    font-size: 18px;
}

.overdue-time span {
    font-size: 13px;
    color: $offwhite;
    background: $red;
    border-radius: 3px;
    padding: 2px 5px;
    display: inline-block;
}

.overdue-details {
    font-size: 12px;
    color: $grey-dark;
}

.overdue-time {
    float: right;
    display: block;
    padding: 4px 0 0 16px;
    font-size: 12px;
    color: $grey-mid;
    border-top: 1px solid $grey-mid;
    border-bottom: 1px solid $grey-mid;
    font-weight: bold;
}
