// Display
.d-none { display: none; }
.d-flex { display: flex; }
// Flex
.flex-1 { flex: 1; }
.fd-column { flex-direction: column; }
.jc-flex-end { justify-content: flex-end; }
// Overflow
.o-hidden { overflow: hidden; }
// Spacing
.px-1px { padding-right: 1px; padding-left: 1px; }
// Typography
.fs-small { font-size: 14px; }
.fs-xlarge { font-size: 24px; }
.fw-bold { font-weight: 700; }
.lh-1 { line-height: 1; }
.ls-145 { letter-spacing: 1.45; }
.c-grey-dark { color: $grey-dark; }
.c-grey-medium { color: $grey-mid; }
.c-grey-light { color: $grey-light; }
.c-green-dark { color: $green-dark; }
.c-purple { color: $purple; }
.c-red { color: $red; }
.c-black { color: $black; }
.tt-uppercase { text-transform: uppercase; }
// Borders
.bt { border-top: 1px solid; }
.bb { border-bottom: 1px solid; }
.bt-grey-light { border-top-color: $grey-light; }
.bb-grey-light { border-bottom-color: $grey-light; }
// Background colors
.bg-purple-medium { background-color: $purple-mid; }
.bg-purple-light { background-color: $purple-light; }
.bg-grey-light { background-color: $grey-light; } 
// Media queries
// Large
@media screen and (min-width: 992px) {
  // Display
  .d-lg-block { display: block; }
  .d-lg-none { display: none; }
  .d-lg-flex { display: flex; }
  // Flexbox
  .fd-lg-column { flex-direction: column; }
  .flex-lg-1 { flex: 1; }
  .flex-lg-2 { flex: 2; }
  .flex-lg-3 { flex: 3; }
  .flex-lg-4 { flex: 4; }
  .align-lg-center { align-items: center; }
  .justify-lg-end { justify-content: flex-end; }
  .justify-lg-center { justify-content: center; }
  .justify-lg-between { justify-content: space-between; }
  .flex-lg-wrap { flex-wrap: wrap; }
  .order-lg-1 { order: 1; }
  .order-lg-2 { order: 2; }
  .order-lg-3 { order: 3; }
  .order-lg-4 { order: 4; }
  // Sizing
  .w-lg-50 { width: 50%; }
  .w-lg-full { width: 100%; }
  .h-lg-full { width: 100%; }
  // Spacing
  .mb-lg-0 { margin-bottom: 0; }
  .pb-lg-0 { padding-bottom: 0; }
  // Typography
  .ta-lg-center { text-align: center; }
  .c-lg-grey-dark { color: $grey-dark; }
  // Borders
  .br-lg { border-right: 1px solid; }
  .br-lg-grey-light { border-right-color: $grey-light; }
  .bb-lg-none { border-bottom: none; }
}