// Overflow
.o-hidden { overflow: hidden; }
// Font size
.fs-small { font-size: 14px; }
.fs-xlarge { font-size: 24px; }
// Font weight
.fw-bold { font-weight: 700; }
// Line height
.lh-1 { line-height: 1; }
// Letter spacing
.ls-145 { letter-spacing: 1.45; }
// Font color
.c-grey-dark { color: $grey-dark; }
.c-grey-medium { color: $grey-mid; }
.c-grey-light { color: $grey-light; }
.c-green-dark { color :$green-dark; }
.c-purple { color: $purple; }
.c-red { color: $red; }
.c-black { color: $black; }
.tt-uppercase { text-transform: uppercase; }
// Media queries
// Large
@media screen and (min-width: 992px) {
  .flex-lg { display: flex; }
  .align-lg-center { align-items: center; }
  .justify-lg-end { justify-content: flex-end; }
  .flex-lg-wrap { flex-wrap: wrap; }
  .order-lg-1 { order: 1; }
  .order-lg-2 { order: 2; }
  .order-lg-3 { order: 3; }
  .order-lg-4 { order: 4; }
  .w-lg-50 { width: 50%; }
  .w-lg-full { width: 100%; }
  .h-lg-full { width: 100%; }
}