/*****************
Resources
*****************/

div.question {
    margin-top: 2em;
    font-family: Roboto;
    border-top: 1px solid #eee;
    padding-top: 1em;
}
div.question h6 {
    font-family: Roboto;
}
div.question li {
    margin-top: 0.5em;
}
h6.question {
    font-weight: bold;
    font-size: 110%;
}
