/*****************
Resources
*****************/

.resource-link {
    position: relative;
    padding-left: 60px;
    margin: 8px 0;
    
    span {
        display: block;
        color: #666;
    }
    
    i {
        position: absolute;
        left: 12px;
        top: 8px;
        font-size: 24px;
    }
    
    &.resource-presentation i {
        color: Gold;
    }
    
    &.resource-doc i {
        color: ForestGreen;
        font-size: 28px;
    }
    
    &.resource-video i {
        color: Red;
        font-size: 28px;
    }
    
    a:hover {
        text-decoration: none;
    }
}

.col-video {
    margin: 16px 0;
    
    strong {
        display: block;
        margin: 6px 0 0 0;
    }
    
    span {
        display: block;
        color: #999;
        font-size: 85%;
    }
    
    .fa-youtube {
        color: orangered;
    }
    
    a {
        display: block;
        position: relative;
        padding: 4px 0 4px 28px;
        
        i {
            position: absolute;
            left: 2px;
            top: 7px;
        }
    }
}

.page#resources {
  .video-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px; height: 0; overflow: hidden;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  div.question {
      margin-top: 2em;
      font-family: Roboto;
      border-top: 1px solid #eee;
      padding-top: 1em;
  }
  div.question h6 {
      font-family: Roboto;
  }
  div.question li {
      margin-top: 0.5em;
  }
  h6.question {
      font-weight: bold;
      font-size: 110%;
  }
}
