/*****************
Search bar / form
*****************/

.no-search-results {
  i.fa-search {
    background: $grey-mid;
    color: white;
    border-radius: 50%;
    padding: 20px;
    font-size: 30px;
  }

  span {
    font-size: 18px;
    color: $grey-mid;
  }
}
