$space-amounts: (3, 5, 8, 10, 12, 14, 15, 16, 20);

@each $space in $space-amounts {
  .m-#{$space}px {
    margin: #{$space}px;
  }

  .p-#{$space}px {
    padding: #{$space}px;
  }
}

.m-0px { margin: 0px; }
.mt-0px { margin-top: 0px; }
.mt-4px { margin-top: 4px; }
.mt-8px { margin-top: 8px; }
.mt-20px { margin-top: 20px; }
.mt-48px { margin-top: 48px; }
.mr-4px { margin-right: 4px; }
.mr-12px { margin-right: 12px; }
.mr-13px { margin-right: 13px; }
.mr-16px { margin-right: 16px; }
.mr-24px { margin-right: 24px; }
.mb-0px { margin-bottom: 0px; }
.mb-4px { margin-bottom: 4px; }
.mb-8px { margin-bottom: 8px; }
.mb-12px { margin-bottom: 12px; }
.mb-16px { margin-bottom: 16px; }
.mb-24px { margin-bottom: 24px; }
.mb-48px { margin-bottom: 48px; }
.ml-4px { margin-left: 4px; }
.ml-8px { margin-left: 8px; }
.ml-13px { margin-left: 13px; }
.ml-20px { margin-left: 20px; }
.mx-0px { margin-right: 0px; margin-left: 0px; }
.mx-20px { margin-right: 20px; margin-left: 20px; }
.p-0px { padding: 0px; }
.pt-0px { padding-top: 0px; }
.pt-4px { padding-top: 4px; }
.pt-12px { padding-top: 12px; }
.pt-20px { padding-top: 20px; }
.pt-24px { padding-top: 24px; }
.pb-4px { padding-bottom: 4px; }
.pb-8px { padding-bottom: 8px; }
.pl-16px { padding-left: 16px; }
.pl-20px { padding-left: 20px; }
.px-1px { padding-right: 1px; padding-left: 1px; }
.px-20px { padding-right: 20px; padding-left: 20px; }
