.grid-2-columns {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  // grid-auto-rows: 1fr;
}

@media (min-width: $lg) {
  .grid-2-columns {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.span-2-columns {
  grid-column: span 2 / span 2;
}
