
/*****************
Input field with dropdown
*****************/

.typeahead {
  position: relative;

  &-dropdown {
    @extend .card;
    @extend .shadow;
    position: absolute !important;
    padding: 0 !important;
    margin-top: 0 !important;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    align-items: center;

    &-row {
      padding: 10px;
      height: 65px;
      border-bottom: 1px solid $grey-light;
      cursor: pointer;
      width: 100%;
    }

    &-row:hover {
      background: $grey-lightest;
    }
  }

  &-spinner {
    display: none;
    padding: 50px;
    text-align: center;
    border-radius: 5px;
    height: 150px;
  }
}

.typeahead .typeahead-input:focus + div { display: flex; }
.typeahead .typeahead-dropdown:hover { display: flex; }
