<div class="dashboard">
  <h1><%= @organization_district.district_name %></h1>
</div>

<%= render 'shared/cohort_charts', cohort_analytics: @cohort_analytics %>

<%=
  render 'shared/analytics_table',
    analytics: @analytics,
    row_resource: Facility.order(:name),
    row_resource_display_field: :name,
    row_resource_link: :analytics_facility_path
%>

<footer class="text-muted">
  <p>
    <small>Note: All times are in India Standard Time</small>
  </p>
</footer>
