<div class="dashboard">
  <h1><%= @organization_district.district_name %></h1>
</div>

<%= render 'facility_table', analytics: @analytics %>

<footer class="text-muted">
  <p>
    <small>Note: All times are in India Standard Time</small>
  </p>
</footer>
