<div class="row">
  <div class="col-md-6">
    <%= bootstrap_form_with(model: [:admin, protocol], local: true, label_errors: true) do |form| %>
      <%= form.text_field :name, id: :protocol_name %>
      <%= form.number_field :follow_up_days, id: :protocol_follow_up_days %>

      <%= form.primary %>
    <% end %>
  </div>
</div>
