<div id="drug-stock-form" class="progress-body" style="display: none;">
  <div class="progress-contents">
    <a href="#" onclick="closeWindow('drug-stock-form', 'progress-start'); return false" class="help-back">
      <%= inline_svg('icon_back.svg') %>
    </a>
    <h2 style="padding-top: 80px; padding-left: 8px;">Number of tablets</h2>
    <p style="text-align: left; padding: 0 8px 1em 8px;">Leave blank if unknown. Enter "0" if stock is empty.</p>

    <%= form_for(api_v3_analytics_user_analytics_path(format: :html)) do |f| %>

    <div class="form-group mt-4">
      <label for="drug-stock-date">Drug stock report for:</label>
      <div class="form-row">
        <select class="card-dropdown" id="drug-stock-date">
          <option value="02-2021">
            End of February 2021
          </option>
        </select>
      </div>

    </div>

    <div class="form-group mt-4">
        <label for="a-medicationAmlodipine5mg">Amlodipine 5 mg</label>
        <div class="form-row">
          <div class="col">
          <input type="number" name="med1-received" class="form-control" id="a-medicationAmlodipine5mg">
          <small id="a-medicationAmlodipine5mg" class="form-text text-muted">Received during the month</small>
          </div>
          <div class="col">
            <input type="number" name="med1-stock" class="form-control" id="b-medicationAmlodipine5mg">
            <small id="b-medicationAmlodipine5mg" class="form-text text-muted">Stock at end of the month</small>
          </div>
        </div>

    </div>
    <div class="form-group mt-4">
        <label for="a-medicationAmlodipine10mg">Amlodipine 10 mg</label>
        <div class="form-row">
          <div class="col">
          <input type="number" class="form-control" id="a-medicationAmlodipine10mg">
          <small id="a-medicationAmlodipine10mg" class="form-text text-muted">Received during the month</small>
          </div>
          <div class="col">
            <input type="number" class="form-control" id="b-medicationAmlodipine10mg">
            <small id="b-medicationAmlodipine10mg" class="form-text text-muted">Stock at end of the month</small>
          </div>
        </div>

    </div>

    <div class="form-group mt-4">
        <label for="a-Telmisartin20mg">Telmisartin 20 mg</label>
        <div class="form-row">
          <div class="col">
          <input type="number" class="form-control" id="a-Telmisartin20mg">
          <small id="a-Telmisartin20mg" class="form-text text-muted">Received during the month</small>
          </div>
          <div class="col">
            <input type="number" class="form-control" id="b-Telmisartin20mg">
            <small id="b-Telmisartin20mg" class="form-text text-muted">Stock at end of the month</small>
          </div>
        </div>

    </div>

    <div class="form-group mt-4">
        <label for="a-Telmisartin40mg">Telmisartin 40 mg</label>
        <div class="form-row">
          <div class="col">
          <input type="number" class="form-control" id="a-Telmisartin40mg">
          <small id="a-Telmisartin40mg" class="form-text text-muted">Received during the month</small>
          </div>
          <div class="col">
            <input type="number" class="form-control" id="b-Telmisartin40mg">
            <small id="b-Telmisartin40mg" class="form-text text-muted">Stock at end of the month</small>
          </div>
        </div>

    </div>

    <div class="form-group mt-4">
        <label for="a-Losartan50mg">Losartan 50 mg</label>
        <div class="form-row">
          <div class="col">
          <input type="number" class="form-control" id="a-Losartan50mg">
          <small id="a-Losartan50mg" class="form-text text-muted">Received during the month</small>
          </div>
          <div class="col">
            <input type="number" class="form-control" id="b-Losartan50mg">
            <small id="b-Losartan50mg" class="form-text text-muted">Stock at end of the month</small>
          </div>
        </div>
    </div>

    <div class="form-group mt-4">
        <label for="a-Hydrochlorathiazide125mg">Hydrochlorathiazide 12.5 mg</label>
        <div class="form-row">
          <div class="col">
          <input type="number" class="form-control" id="a-Hydrochlorathiazide125mg">
          <small id="a-Hydrochlorathiazide125mg" class="form-text text-muted">Received during the month</small>
          </div>
          <div class="col">
            <input type="number" class="form-control" id="b-Hydrochlorathiazide125mg">
            <small id="b-Hydrochlorathiazide125mg" class="form-text text-muted">Stock at end of the month</small>
          </div>
        </div>
    </div>

    <div class="form-group mt-4">
        <label for="a-Hydrochlorathiazide25mg">Hydrochlorathiazide 25 mg</label>
        <div class="form-row">
          <div class="col">
          <input type="number" class="form-control" id="a-Hydrochlorathiazide25mg">
          <small id="a-Hydrochlorathiazide25mg" class="form-text text-muted">Received during the month</small>
          </div>
          <div class="col">
            <input type="number" class="form-control" id="b-Hydrochlorathiazide25mg">
            <small id="b-Hydrochlorathiazide25mg" class="form-text text-muted">Stock at end of the month</small>
          </div>
        </div>
    </div>

    <div class="button-fixed-bottom">
      <%= f.submit "SAVE" %>

      <button onclick="openWindow('drug-stock-submitted', 'drug-stock-form'); return false" class="button">SAVE</button>
    </div>
    <% end %>
  </div>
</div>