<div class="p-relative d-flex fd-column ai-center w-56px h-64px mr-16px bgc-lavander-light br-10px">
  <div class="p-relative t--3px d-flex ai-center jc-center w-40px h-40px br-100 bgc-lavander">
    <%= inline_file("refresh-arrow-white.svg") %>
  </div>
  <p class="m-0px p-0px ta-center ff-fredoka-one fs-18px c-lavander">
    <%= number_with_delimiter(value) %>
  </p>
</div>