<div class="p-relative d-flex fd-column ai-center w-56px h-64px mr-16px bgc-white br-10px b-grey-mid">
  <div class="p-relative t--3px d-flex ai-center jc-center w-40px h-40px br-100 bgc-white b-grey-mid">
    <%= inline_file("refresh-arrow-grey.svg") %>
  </div>
  <p class="m-0px p-0px ta-center ff-fredoka-one fs-18px c-grey-mid">
    <%= number_with_delimiter(value) %>
  </p>
</div>