<div class="p-relative w-56px h-64px bgc-lavander-light br-10px">
  <div class="d-flex ai-center jc-center w-40px h-40px br-100 bgc-lavander">
    <%= inline_file("refresh-arrow-white.svg") %>
  </div>
  <p class="m-0px p-0px ta-center ff-fredoka-one fs-18px c-lavander">
    2,500
  </p>
</div>