<a class="d-inline-block mr-12px pt-12px pb-12px pr-16px pl-16px td-none ta-center fw-medium fs-16px <% if is_active %>c-white bgc-blue<% else %>c-blue bgc-blue-light<% end %> br-24px">
  <%= title %>
</a>