<div class="mb-8px p-16px pt-48px pb-24px bgc-white br-4px bs-card">
  <%= inline_svg("sandtimer.svg") %>
  <p class="fs-20px fw-bold mt-32px mb-12px"><%= t("progress_tab.no_data_card.title") %></p>
  <p class="fs-16px c-grey-dark"><%= t("progress_tab.no_data_card.subtitle") %></p>
</div>