<div class="mb-8px p-16px bgc-white bs-card">
  <div class="d-flex ai-center jc-space-between mb-8px">
    <h2 class="m-0px p-0px ta-left fw-medium fs-18px c-black">
      <%= t("progress_tab.diagnosis_report.assigned_patients_card.title") %>
    </h2>
    <p class="m-0px p-0px ta-right fw-medium fs-18px c-black">
      <%= assigned_patients %>
    </p>
  </div>
  <p class="m-0px p-0px ta-left fw-normal fs-16px lh-150 c-grey-dark">
    <%= t("progress_tab.diagnosis_report.assigned_patients_card.subtitle", facility_name: @region.name, diagnosis: "hypertension") %>
  </p>
</div>