$accent-color: #FF3355; /* PINK */
$dark-grey: #777;
$highlight: #E9F3FF; /* LIGHT BLUE */
/********/

@import "bootstrap";

body {
  padding-top: 5rem;
}

h3 {
    font-size: 16px;
    color: $accent-color;
    font-weight: 500;
}

.table thead.thead-light th {
    //background: #fff;
    font-size: 12px;
    color: $dark-grey;
}

.table thead.thead-light th small {
    font-size: 12px;
}

span.inactive {
  text-decoration: line-through;
}

.sync_approval_status {
  span {
    padding: 5px 10px;
    border-radius: 5px;
  }
  .requested {
    background-color: theme-color("warning");
  }

  .allowed {
    background-color: theme-color("success");
    color: white;
  }
  .denied{
    background-color: theme-color("danger");
    color: white;
  }
}

.sync_approval_status_reason {
  max-width: 100px;
}

.card-cell-header {
  @extend .text-muted;
  @extend .small;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  .card .row .row {
    margin-top: 1rem;
    margin-bottom: 0.5rem;

    .col {
      margin-bottom: 0.5rem;
    }
  }
}

.zero {
  color: #ddd;
}

.table {
    font-size: 14px;
    margin-bottom: 2.5em;
}

.table .table-info strong {
    font-size: 14px;
}

.table thead.thead-light th {
    background: #fff;
    border: none;
}

.table thead.thead-light .holiday {
  background-color: #f6f6f6;
}

.table-row-small > td {
  font-size: 80%;
  font-weight: 400;

  &.holiday {
    background-color: #f6f6f6;
  }
}

.table-info > td {
  background-color: $highlight;
    
    &.holiday {
        background: #eee;
    }
}
