@import "bootstrap";

body {
  padding-top: 5rem;
}

span.inactive {
  text-decoration: line-through;
}

.sync_approval_status {
  span {
    padding: 5px 10px;
    border-radius: 5px;
  }
  .requested {
    background-color: theme-color("warning");
  }

  .allowed {
    background-color: theme-color("success");
    color: white;
  }
  .denied{
    background-color: theme-color("danger");
    color: white;
  }
}

.sync_approval_status_reason {
  max-width: 100px;
}

.card-cell-header {
  @extend .text-muted;
  @extend .small;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  .card .row .row {
    margin-top: 1rem;
    margin-bottom: 0.5rem;

    .col {
      margin-bottom: 0.5rem;
    }
  }
}

.zero {
  color: #ddd;
}

.table thead .holiday {
  background-color: darken(#e9ecef, 10%);
}

.table-row-small > td {
  font-size: 80%;
  font-weight: 400;

  &.holiday {
    background-color: #e9ecef;
  }
}

.table-info > td {
  background-color: #E9F3FF;
}
