$accent-color: #FF3355; /* PINK */

$red-dark: #B81631;
$red: #FF3355;
$red-light: #FFD6DD;
$yellow-dark: #E0B000;
$yellow: #FFC800;

$offwhite: #f8f9fa;

$grey-lightest: #F0F2F5;
$grey-light: #dce4e8;
$grey-mid: #ADB2B8;
$grey-dark: #6C737A;
$grey-darkest: #2F363D;

$highlight: #E9F3FF; /* LIGHT BLUE */
$blue: #0075EB;
$blue-mid: #9db8d2;
$blue-light: #E9F3FF;
$blue-dark: #0c3966;
$green-light: #E0FFED;
$green-mid: #5CFF9D;
$green: #00B849;
$green-dark: #007A31;

$font-condensed: 'Roboto Condensed', sans-serif;
$font-small: 11px;

/********/

// Third-party imports
@import "bootstrap";
@import "tablesort/tablesort";

// Local imports
@import "dashboard";
@import "resources";
@import "graphs";
@import "snapshots";

body {
    padding-top: 5rem;
    font-size: 15px;
    font-family: $font-condensed;
    background: $grey-lightest;
}

h1, h1.btn {
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding-bottom: 8px;

    .fa-chevron-right {
        position: relative;
        top: -3px;
        color: rgba(0,0,0,0.2);
        padding: 0 6px;
        font-size: 70%;
    }
}

h2 {
    font-size: 22px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 20px;
    color: $grey-darkest;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0.5em;
}

h4 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 13px;
    margin: 0;
    padding-bottom: 4px;
    margin-bottom: 1em;
}

h5 {
    font-size: 16px;
    font-family: $font-condensed;
    margin: 0;
}

h6 {
    font-family: $font-condensed;
    font-weight: normal;
    font-size: 100%;
    margin: 0 0 0.2em 0;
}

h6.bold {
    font-weight: bold;
}

a.link-add {
    color: $green;
    display: block;
}

.btn-outline.dropdown-toggle {
    border: 1px solid $blue-mid !important;
    background: #fff !important;
    color: $blue !important;
}

nav.secondary-nav a {
    color: $grey-dark;
    border-bottom: 1px solid $grey-light;
}

nav.secondary-nav a:last-child {
    border: none;
}

nav.secondary-nav a.active {
    font-weight: bold;
}

.secondary-nav-filters {
    .dropdown-toggle {
        width: 100%;
        border-top: 1px solid $grey-light;
        text-align: left;
        padding: 8px 16px 8px 16px;
    }

    h4 {
        margin: 24px 0 8px 0;
    }

    input {
        margin-right: 8px;
    }

    label {
        display: block;
        border-top: 1px solid $grey-light;
        padding: 8px 16px 4px 16px;
        font-weight: normal;
        line-height: 1;
    }
}

.light {
    color: $grey-mid !important;
}

.bp-uncontrolled {
    color: $red;
}

.patient-new {
    color: $green;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

.none {
    background: rgba(0,0,0,0.05);
    padding: 24px;
    text-align: center;
    color: rgba(0,0,0,0.5);
    border-radius: 4px;
}

.tooltip-inner {
    font-family: $font-condensed;
}

#app-footer {
    font-size: 85%;
    padding: 16px 0 32px 0;
    margin-top: 32px;
    text-align: right;
    border-top: 1px solid $grey-lightest;
}

.form-no-label label {
    display: none;
}

.form-label-light {
    font-weight: normal;
}

.info {
    color: $green;
}

.info i {
    position: relative;
    top: 2px;
    font-size: 140%;
    margin-right: 4px;
}

.login-logo img {
    width: 50px;
    height: 50px;
}

.user {
    width: 32px;
    height: 32px;
    background: $blue-light;
    border-radius: 100px;
}

section {
    margin-top: 1em;
    margin-bottom: 1em;
}

table {
    width: 100%;
    line-height: 1.2;
}

.text-grey { color: $grey-dark; }
.text-red { color: $red; }
.text-green { color: $green; }
.text-yellow { color: $yellow-dark; }
.text-info { color: #30B496; }

footer {
    padding: 2em 0 1em 0;
}

.null {
    color: $grey-light  ;
}

@include media-breakpoint-down(md) {
    body {
        padding-top: 4.5rem;
    }
    main.container {
        margin: 0 !important;
    }
    div.container {
        margin: 0 !important;
        padding: 0 !important;
    }
    .mobile {
        display: inherit;
    }
    .desktop {
        display: none;
    }
    .navbar {
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        border-bottom: 1px solid rgba(0,0,0,0.07);
    }
    button.navbar-toggler {
        font-size: 15px;
        padding: 8px 20px;
    }
    .dropdown-item {
        font-size: 14px;
    }
    h1 {
        font-size: 28px;
    }
}

@include media-breakpoint-up(md) {
    .container div.container {
        margin: 0 !important;
        padding: 0 !important;
    }
    .navbar {
        border-bottom: 1px solid rgba(0,0,0,0.07);
    }
    .navbar-nav li > a.active {
        color: #000;
    }
    .navbar .nav-link,
    .dropdown-item {
        font-size: 15px;
    }
    .table-compact .row-title a {
        width: 100% !important;
        overflow: auto;
        text-overflow: inherit;
    }
    .col-lg-3 .dropdown .btn {
        width: 100%;
    }
}

.light {
    color: #ddd;
}

.divider {
    padding: 0 5px;
}

.btn.disabled {
    background: $grey-lightest;
    border-color: $grey-lightest;
    color: $grey-mid;
}

.btn-phone {
    letter-spacing: 0.2em;
}

.btn-outline-primary {
    border-color: #A3C6EA;
    background: #fff;
}

.btn-outline-danger {
    border-color: #FFD6DD;
    background: #fff;
}

.btn-outline-success {
    border-color: #C5E4D1;
    background: #fff;
}

.btn-outline-success {
    border-color: #C5E4D1;
    background: #fff;
}

.btn-default {
    text-transform: uppercase;
    color: $blue;
    letter-spacing: 0.05em;
    font-size: 90%;
    padding-right: 8px;
    padding-left: 8px;
}

.btn-info {
  background: $blue-light;
  border-color: $blue-light;
  color: $blue;

  &:hover {
    background: $blue;
    border-color: $blue;
    color: #FFF;
  }
}

.btn-phone {
    letter-spacing: 0.15em;
    min-width: 12em;
}

label {
    font-weight: 600;
}

table span.label {
    min-width: 95%;
    display: block;
    text-align: center;
    box-sizing: border-box;
    font-size: 85%;
}

.nowrap a,
.nowrap {
    white-space: nowrap;
}

.page-header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  .page-title {
    flex-grow: 1;
  }

  .page-nav .btn {
    margin-bottom: 0.5rem;
  }
}

nav.navbar {
    background: #fff !important;
}

span.inactive {
  text-decoration: line-through;
}

.sync_approval_status {
  span {
    padding: 5px 10px;
    border-radius: 5px;
  }
  .requested {
    background-color: theme-color("warning");
  }

  .allowed {
    background-color: theme-color("success");
    color: white;
  }
  .denied{
    background-color: theme-color("danger");
    color: white;
  }
}

.sync_approval_status_reason {
  max-width: 100px;
}

.card-cell-header {
  @extend .text-muted;
  @extend .small;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.card-row {
    border-top: 1px solid $grey-lightest;
    padding-top: 8px;
    margin-top: 8px;
}

.approval-reason {
    display: block;
    color: $grey-mid;
    text-transform: uppercase;
    font-size: $font-small;
    letter-spacing: 0.1em;
}

.zero {
  color: #ddd;
}

.term {
    font-weight: bold;
    font-style: italic;
}

.card {
    border: none;
    background: #fff;
    margin: 8px 0 16px 0;
    padding: 16px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    position: relative;
}

@include media-breakpoint-down(lg) {
  .card {
    height: auto !important;
  }
}


.card-footer {
    margin: 0 -16px -16px -16px;
    background: $offwhite;
}

.card-date {
    position: absolute;
    top: 16px;
    right: 16px;
    color: $grey-mid;
    text-align: right;
}

.user-row {
    border-top: 1px solid rgba(0,0,0,0.05);
    padding: 8px 0;
}

.footnotes {
    margin-top: 2em;
    padding-right: 40px;

    li {
        margin-top: 0.5em;
    }
}

/*****************
Subnav
*****************/

.sub-nav {
    margin: -24px 0 32px 0;
    line-height: 1;
    border-bottom: 1px solid $grey-lightest;
}

.user-row .event,
.user-row .event a {
    color: $grey-dark;
}

@include media-breakpoint-down(sm) {
    #navbars-menu {
        margin-top: 8px;
            .nav-link {
                border-top: 1px solid $grey-lightest;
                padding: 16px 0;
                font-size: 16px;
        }
    }
}

.filter-tags:not(:empty) {
    font-size: 22px;
    text-transform: none;
    letter-spacing: normal;
    display: block;

    .badge-pill.badge-secondary {
        background: $blue;
        margin-bottom: 12px;
        font-weight: normal;
    }
}

.active-filters-mobile {
  text-align: center;
  border-radius: 3px;
  background: rgba(0,0,0,0.02);
  padding: 10px 16px;
}

.filters-modal-toggle {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
/*****************
Dashboard UI
*****************/

.dashboard h1 {
    margin-bottom: 0;
}

.dashboard-description {
    font-size: 12px;
    margin: 8px 0;
    line-height: 1.3;
}

.featured {
    clear: both;
    position: relative;
    width: 100%;
    border-radius: 5px;
    padding: 16px;
    margin: 8px -4px 0 -4px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    background: #fff;
}

sup {
    font-size: 9px;
    font-weight: normal;
    padding-left: 3px;
    color: $grey-dark;
}

.link-row {
    display: block;
    padding: 8px 0;
    border-top: 1px solid $grey-lightest;
    position: relative;

    i {
        position: absolute;
        top: 10px;
        right: 8px;
        font-size: 120%;
        color: $grey-light;

    }
}

.checkbox-row {
    label {
        display: block;
        padding: 6px 0 0 0;
        font-weight: normal;
        border-top: 1px solid $grey-lightest;
    }
    input {
        margin-right: 4px;
    }
}

th sup {
    padding-left: 0;
}

.downloads {
    margin: 32px 0;
}

.downloads h4 {
    color: $grey-mid;
}

.downloads {
    margin: 32px 0;
}

.downloads h4 {
    color: $grey-mid;
}

.table-compact {
    clear: both;

    tr.sorts {

        a, .sort-label {
            background: $grey-lightest;
            color: $blue;
            height: 100%;
            padding: 16px 8px;
            vertical-align: middle;
            text-align: left;
            margin: 0;
            word-break: break-word;
            text-transform: none;
            letter-spacing: 0;
            font-size: 14px;

            i {
                margin-left: 4px;
                opacity: 0.3;
            }
        }

        [aria-sort] {
            background: $blue;
            color: #fff;
        }

        th[role="columnheader"]:not(.no-sort)::after {
            content: "⇣";
            border: none;
            background: none;
            font-weight: bold;
        }

        th[aria-sort="ascending"]:not(.no-sort)::after {
            content: "⇡";
        }

        th.sort-label {
            border-left: 1px solid #C9D3D8;
        }

        th.sort-label:first-of-type {
            border: none !important;
        }

        a {
            display: block;
            white-space: nowrap;
        }

        a:hover {
            background: $grey-light;
        }

        a.current {
            background: $blue;
            color: #fff;

            i {
                opacity: 1;
            }
        }
    }

    th {
        vertical-align: middle;
        padding: 4px 8px 8px 8px;
        font-size: 11px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-top: none !important;
        border-bottom: none !important;

        span {
            white-space: nowrap;
        }
    }

    td {
        padding: 8px;
        vertical-align: middle;
        border-top: 1px solid $grey-lightest;
        font-size: 14px;

        a {
            display: block;
            white-space: nowrap;
            max-width: 14em;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    col {
        border-left: 1px solid $grey-lightest;
    }

    col:first-of-type {
        border-left: none;
    }

    col.table-divider {
        border-left: 1px solid $grey-mid;
    }

    td.type-rank {
      text-align: right;
    }

    td.type-number {
      text-align: right;
      padding-right: 16px;
    }

    td.type-percent {
      text-align: center;
    }

    td.type-percent em {
      font-style: normal;
      background: #F1DBFF;
      color: #BE72E3;
      border-radius: 100px;
      padding: 2px 10px;
    }

    .row-total td.type-percent em {
      background: rgba(0,0,0,0.1);
      color: rgba(0,0,0,0.6);
    }

    td.type-rank i {
      margin-left: 0.5em;
      color: $green;
    }

    td.type-rank i.fa-long-arrow-alt-down {
      color: $red;
    }
}

@include media-breakpoint-down(md) {
    .card-responsive {
        padding: 1em 0 1em 1em;
        margin: 0 -1em;
        border-radius: 0;
    }
    .table-compact td a {
        max-width: 10em;
    }
}

.table-compact th:first-child,
.table-compact td:first-child {
    border-left: none;
}

.table-compact .text-small td {
    font-size: 12px;
}

.table-compact td.text-right {
    padding-right: 2em;
}

.table-compact .row-month {
    border-left: 1px solid $grey-lightest;
}

.table-compact .date-row td {
    border-top-color: $grey-light;
}

.row-spacer {
    border-right: 1px solid $grey-lightest;
}

.table-compact .row-control {
    text-align: center;
}

.table-compact .row-total td {
    background: #FFFAE3;
    font-weight: bold;
    border-color: #E2DBBB;
}

/******************
Overdue list
******************/

.overdue-facility {
    padding-top: 16px;
}

.overdue-patient {
    border-top: 1px solid $grey-lightest;
    padding-top: 8px;
    padding-left: 16px;
    position: relative;
}

.overdue-patient .btn,
.overdue-patient select {
    font-size: inherit;
    height: auto;
    margin-bottom: 8px;
}

.overdue-title,
.overdue-time {
    font-family: $font-condensed;
    font-size: 18px;
}

.overdue-time span {
    font-size: 13px;
    color: $offwhite;
    background: $red;
    border-radius: 3px;
    padding: 2px 5px;
    display: inline-block;
}

.overdue-details {
    font-size: 12px;
    color: $grey-dark;
}

.overdue-time {
    float: right;
    display: block;
    padding: 4px 0 0 16px;
    font-size: 12px;
    color: $grey-mid;
    border-top: 1px solid $grey-mid;
    border-bottom: 1px solid $grey-mid;
    font-weight: bold;
}

/******************
Breadcrumb nav
******************/

nav.breadcrumb {
    background: transparent;
    padding-left: 0;
    margin: 0 0 8px 0;
}

nav.breadcrumb .arrow,
nav.breadcrumb i {
   font-weight: 900;
   color: $grey-mid;
    margin: 0 6px;
    font-size: 85%;
    top: 5px;
    position: relative;
}

/******************
Environments
******************/

nav a.nav-link { color: $grey-darkest !important; }
nav a.nav-link:hover { color: $grey-mid !important; }

nav.navbar-development a.nav-link { color: #265788 !important; }
nav.navbar-development a.nav-link:hover { color: #4D86BF !important; }
nav.navbar-development { box-shadow: inset 0 2px 0 0 #265788; }

nav.navbar-qa a.nav-link { color: #00B849 !important; }
nav.navbar-qa a.nav-link:hover { color: #4BE287 !important; }
nav.navbar-qa { box-shadow: inset 0 2px 0 0 #00B849; }

nav.navbar-sandbox a.nav-link { color: #5300E0 !important; }
nav.navbar-sandbox a.nav-link:hover { color: #935EEC !important; }
nav.navbar-sandbox { box-shadow: inset 0 2px 0 0 #5300E0; }

nav.navbar-staging a.nav-link { color: #8E6F0C !important; }
nav.navbar-staging a.nav-link:hover { color: #977600 !important; }
nav.navbar-staging { box-shadow: inset 0 2px 0 0 #FFC800; }

nav.navbar-production a.nav-link { color: $grey-darkest !important; }
nav.navbar-production a.nav-link:hover { color: $grey-mid !important; }
nav.navbar-staging { box-shadow: none; }
