$accent-color: #FF3355; /* PINK */

$red-dark: #B81631;
$red: #FF3355;
$red-light: #FFD6DD;
$green-dark: #007A31;
$green: #00B849;
$yellow-dark: #E0B000;
$yellow: #FFC800;

$offwhite: #f8f9fa;

$grey-lightest: #F0F2F5;
$grey-light: #dce4e8;
$grey-mid: #ADB2B8;
$grey-dark: #6C737A;
$grey-darkest: #2F363D;

$highlight: #E9F3FF; /* LIGHT BLUE */
$blue: #0075EB;
$blue-light: #E9F3FF;
$green-light: #E0FFED;
$green-mid: #5CFF9D;
$green: #00B849;
$green-dark: #007A31;

$font-condensed: 'Roboto Condensed';
$font-small: 11px;

/********/

// Third-party imports
@import "bootstrap";

// Local imports
@import "dashboard";

body {
  padding-top: 5rem;
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  background: $grey-lightest;
}

h1 {
    font-size: 28px;
    font-family: "Roboto";
    font-weight: bold;
    padding-bottom: 8px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    font-family: "Roboto";
}

h3 {
    font-size: 18px;
    color: $grey-darkest;
    font-weight: 700;
    font-family: "Roboto";
}

h4 {
    text-transform: uppercase;
    font-family: $font-condensed;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 13px;
    margin: 0;
    padding-bottom: 4px;
    margin-bottom: 1em;
}

h5 {
    font-size: 16px;
    font-family: $font-condensed;
    margin: 0;
}

h6 {
    font-family: $font-condensed;
    font-weight: normal;
    font-size: 100%;
    margin: 0 0 0.2em 0;
}

h6.bold {
    font-weight: bold;
}

.mobile {
    display: none;
}

.desc {
    font-family: $font-condensed;
}

#app-footer {
    font-size: 85%;
    padding: 16px 0 32px 0;
    margin-top: 32px;
    text-align: right;
    border-top: 1px solid $grey-lightest;
}

.user {
    width: 32px;
    height: 32px;
    background: $blue-light;
    border-radius: 100px;
}

section {
    margin-top: 1em;
    margin-bottom: 1em;
}

.footnote {
    font-size: 11px;
    line-height: 1.3;
    margin: 0.5em 0;
}

table {
    width: 100%;
    line-height: 1.2;
}

.text-grey { color: $grey-dark; }
.text-red { color: $red; }
.text-green { color: $green; }
.text-yellow { color: $yellow-dark; }

footer {
    padding: 2em 0 1em 0;
}

.null {
    color: $grey-light  ;
}

@include media-breakpoint-down(sm) {
    main.container {
        margin: 0 !important;
    }
    div.container {
        margin: 0 !important;
        padding: 0 !important;
    }
    .mobile {
        display: inherit;
    }
    .navbar {
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        border-bottom: 1px solid rgba(0,0,0,0.07);
    }
    .navbar-nav {
        margin-top: 8px;
    }
    .navbar-nav li > a {
        padding: 1em 0;
        border-top: 1px solid rgba(0,0,0,0.05);
    }
    h1 {
        font-size: 22px;
    }
}

@include media-breakpoint-up(md) {
    .container div.container {
        margin: 0 !important;
        padding: 0 !important;
    }
    .navbar {
        border-bottom: 1px solid rgba(0,0,0,0.07);
    }
    .navbar-nav li > a.active {
        color: #000;
    }
    .table-compact .row-title a {
        width: 100% !important;
        overflow: auto;
        text-overflow: inherit;
    }
}

.light {
    color: #ddd;
}

.divider {
    padding: 0 5px;
}

.btn.disabled {
    background: $grey-lightest;
    border-color: $grey-lightest;
    color: $grey-mid;
}

.btn-phone {
    letter-spacing: 0.2em;
}

.btn-outline-primary {
    border-color: #A3C6EA;
    background: #fff;
}

.btn-outline-danger {
    border-color: #FFD6DD;
    background: #fff;
}

.btn-outline-success {
    border-color: #C5E4D1;
    background: #fff;
}

.btn-default {
    text-transform: uppercase;
    color: $blue;
    letter-spacing: 0.05em;
    font-size: 90%;
    padding-right: 8px;
    padding-left: 8px;
}

.btn-info {
  background: $blue-light;
  border-color: $blue-light;
  color: $blue;

  &:hover {
    background: $blue;
    border-color: $blue;
    color: #FFF;
  }
}

label {
    font-weight: 600;
}

table span.label {
    min-width: 95%;
    display: block;
    text-align: center;
    box-sizing: border-box;
    font-size: 85%;
}

.nowrap a,
.nowrap {
    white-space: nowrap;
}

.page-header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  .page-title {
    flex-grow: 1;
  }

  .page-nav .btn {
    margin-bottom: 0.5rem;
  }
}

nav.navbar {
    background: #fff !important;
}

nav.navbar button.navbar-toggler {
    border: none;
    padding: 2px 5px;
    font-size: 14px;
}

.col-lg-3 {
    transform: translate(0, 10%);
}

.table thead.thead-light th {
    //background: #fff;
    font-size: 12px;
    color: $grey-dark;
}

.table thead.thead-light th small {
    font-size: 12px;
}

.table thead.thead-light th {
    //background: #fff;
    font-size: 12px;
    color: $grey-dark;
}

.table thead.thead-light th small {
    font-size: 12px;
}

span.inactive {
  text-decoration: line-through;
}

.sync_approval_status {
  span {
    padding: 5px 10px;
    border-radius: 5px;
  }
  .requested {
    background-color: theme-color("warning");
  }

  .allowed {
    background-color: theme-color("success");
    color: white;
  }
  .denied{
    background-color: theme-color("danger");
    color: white;
  }
}

.sync_approval_status_reason {
  max-width: 100px;
}

.card-cell-header {
  @extend .text-muted;
  @extend .small;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.approval-reason {
    display: block;
    color: $grey-mid;
    text-transform: uppercase;
    font-size: $font-small;
    letter-spacing: 0.1em;
}

.zero {
  color: #ddd;
}

.table {
    font-size: 14px;
    margin-top: 1.5em;
}

.table .table-info strong {
    font-size: 14px;
}

.table td.row-title,
.table h3 {
    white-space: nowrap;
}

.table thead.thead-light th {
    background: #fff;
    border: none;
}

.table thead.thead-light .holiday {
  background-color: #f6f6f6;
}


.table td {
    vertical-align: middle;
}

.table-row-small > td {
  font-size: 80%;
  font-weight: 400;

  &.holiday {
    background-color: #f6f6f6;
  }
}

.table-info > td {
  background-color: $highlight;
  border-top-color: #666;

    &.holiday {
        background: #eee;
    }

}

.card .row.tight {
    margin-top: 0.2em !important;
    margin-bottom: 0.2em !important;
}

.card {
    border: none;
    background: #fff;
    margin: 8px 0;
    padding: 16px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.user-row {
    border-top: 1px solid rgba(0,0,0,0.05);
    padding: 8px 0;
}

.user-row .event {
    margin: 0.2em 0 0.5em 0;
    font-size: 12px;
}

.user-row .event,
.user-row .event a {
    color: $grey-mid;
}

/*****************
Dashboard UI
*****************/

.snapshot {
    max-width: 380px;
    padding: 0 8px 16px 8px;
    background: $offwhite;
}

.snapshot .featured-section {
    border: none;
    box-shadow:
        0 1px 3px rgba(0,0,0,0.07)
    ;
}

.snapshot-simple .featured-section {
    background: #fff 12px 12px url(/assets/icon-happy.png) no-repeat;
    background-size: 50px;
    text-align: left;
    padding: 8px 16px 8px 70px;
    min-height: 1px;
}

.snapshot-header {
    margin: 0 -8px 16px -8px;
    padding: 5px 8px;
    background: $red;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}

.snapshot-header span {
    float: right;
    font-size: 11px;
    padding-top: 2px;
    display: block;
    font-family: $font-condensed;
}

.snapshot-goal {
    background: url(/assets/trophy.png) 8px 50% no-repeat;
    background-size: 32px;
    margin: 12px -4px 12px -4px;
    padding: 8px 8px 8px 48px;
    border: 1px solid $yellow;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
}

.snapshot .table-compact td {
    border-color: rgba(0,0,0,0.07);
}

.dashboard h1 {
    margin-bottom: 0;
}

.dashboard-description {
    font-size: 12px;
    margin: 8px 0;
    line-height: 1.3;
}

.featured {
    clear: both;
    position: relative;
    width: 100%;
    border-radius: 5px;
    padding: 16px;
    margin: 8px -4px 0 -4px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    background: #fff;
}

.downloads {
    margin: 32px 0;
}

.downloads h4 {
    color: $grey-mid;
}

.graphics a {
    text-indent: -1000em;
    width: 42px;
    height: 42px;
    background: url(/assets/whatsapp-dashboard.svg);
    background-size: cover;
    display: block;
    float: right;
    margin: -10px -4px 0 0;
}

.snapshot-simple .featured-title {
    font-weight: normal;
    font-size: 14px;
}

.featured-graph {
    height: 60px;
}

.featured-graph table {
    font-size: 10px;
    margin-top: 0;
    position: absolute;
    left: 4px;
    width: 94%;
    bottom: 8px;
}

.featured-number {
    font-size: 22px;
    line-height: 1;
    margin: 8px 0 16px 0;
    display: block;
}

.snapshot-simple .featured-number {
    font-size: 18px;
    margin-bottom: 8px;
    display: block;
    font-weight: 700;
}

td.featured-middle {
    padding-right: 4px;
    padding-left: 4px;
}

.featured-td {
    vertical-align: top;
    width: 33.3333%;
}

.featured-footer {
    margin-top: 8px;
}

.featured-footer span,
.featured-footer strong {
    font-size: 11px;
    display: block;
    text-align: center;
    color: $grey-dark;
}

.featured-label {
    font-size: 11px;
    color: $grey-mid;
    display: block;
    margin-bottom: 8px;
    font-family: $font-condensed;
}

.featured-graph table td {
    vertical-align: bottom;
}

.featured-graph-column {
    background: -moz-linear-gradient(top, rgba(0,117,235,0.2) 0%, rgba(0,117,235,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,117,235,0.2) 0%,rgba(0,117,235,0) 100%);
    background: linear-gradient(to bottom, rgba(0,117,235,0.2) 0%,rgba(0,117,235,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E0F0FF55', endColorstr='#0075EB55',GradientType=0 );
    font-family: $font-condensed;
    color: $grey-dark;
    border-radius: 3px 3px 0 0;
    padding-top: 4px;
    min-height: 24px;
}

.snapshot-simple .featured-graph-column {
    font-size: 11px;
}

.featured-graph-column-yellow {
    background: -moz-linear-gradient(top, rgba(255,207,0,0.2) 0%, rgba(255,207,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(255,207,0,0.2) 0%,rgba(255,207,0,0) 100%);
    background: linear-gradient(to bottom, rgba(255,207,0,0.2) 0%,rgba(255,207,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFCF0055', endColorstr='#FFCF0055',GradientType=0 );
    color: $yellow-dark;
}

.featured-graph-column-green {
    background: -moz-linear-gradient(top, rgba(0,184,73,0.2) 0%, rgba(0,184,73,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,184,73,0.2) 0%,rgba(0,184,73,0) 100%);
    background: linear-gradient(to bottom, rgba(0,184,73,0.2) 0%,rgba(0,184,73,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00B849', endColorstr='#00B849',GradientType=0 );
    color: $green-dark;
}

.featured-month {
    opacity: 0.3;
    display: block;
    margin-top: -8px;
    font-family: $font-condensed;
}

.table-compact {
    clear: both;
}

.table-compact h4 {
    border: none;
    padding: 2px 0;
    margin: 0;
}

.table-compact th {
    vertical-align: middle;
    border: none;
}

.table-compact td {
    padding: 8px 4px;
    vertical-align: middle;
    border-top: 1px solid $grey-lightest;
}

.table-compact .row-month {
    border-left: 1px solid $grey-lightest;
}

.row-spacer {
    border-right: 1px solid $grey-lightest;
}

.table-compact .row-title {
    position: relative;
}

.table-compact .row-title i {
    position: absolute;
    top: 10px;
    right: 8px;
    font-size: 120%;
    color: $grey-light;
}

.table-compact .row-title a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    font-weight: normal;
}

.table-compact .row-title a {
    width: 10em;
}

#facility-groups {
    margin-right: 0;
}

#facility-groups table .row-title a {
    width: 100%;
    padding: 3px 0;
}

.snapshot .table-compact .row-title a {
    width: 10em !important;
}

.snapshot .table-compact .row-title a {
    color: $grey-darkest;
}

.table-compact .row-title span {
    display: block;
    color: $grey-mid;
    font-size: 11px;
    margin-top: -2px;
}

.table-compact .row-title span b {
    font-weight: normal;
    color: $grey-dark;
}

.table-compact .row-label {
    white-space: nowrap;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    line-height: 1.2;
    font-family: $font-condensed;
    vertical-align: bottom;
}

.table-compact .row-label div {
    font-size: 10px;
    color: $grey-mid;
}

.table-compact .row-rank {
    color: $grey-mid;
    min-width: 2em;
    text-align: center;
}

.table-compact .row-unique-date {
    white-space: nowrap;
    font-size: 11px;
}

.table-compact .row-unique-date span {
    font-family: $font-condensed;
    display: block;
    color: $grey-mid;
}

.table-compact .row-control {
    text-align: center;
}

.table-compact .row-enrolled,
.table-compact .row-default,
.table-compact .row-unique,
.table-compact .row-unique-date,
.table-compact .row-calls {
    text-align: center;
    border-right: 1px solid $grey-lightest;
}

.table-compact .row-total {
    border-top: 1px solid $grey-mid;
    border-bottom: 1px solid $grey-mid;
    font-weight: bold;
}

/******************
Overdue list
******************/

.overdue-facility {
    padding-top: 16px;
}

.overdue-patient {
    border-top: 1px solid $grey-lightest;
    padding: 16px 0;
    position: relative;
}

.overdue-details {
    color: $grey-dark;
}

.overdue-time {
    color: $grey-mid;
    text-align: right;
    padding: 0 0 16px 0;
}

span.high-risk {
    font-size: 11px;
    letter-spacing: 0.1em;
    color: $offwhite;
    background: $red;
    border-radius: 3px;
    padding: 2px 5px;
    display: inline-block;
    margin-left: 16px;
}

/******************
Breadcrumb nav
******************/

nav.breadcrumb {
    background: transparent;
    padding-left: 0;
    margin: 0;
}

 nav.breadcrumb .arrow {
     font-weight: 900;
     color: $grey-mid;
 }

 nav.breadcrumb a {
     margin: 0 0.5em 0 0;
     font-family: $font-condensed;
  }

/******************
???
******************/

.snapshot-padding {
  margin-bottom: 26px;
}

.snapshot-footer {
  margin-top: -26px;
  padding-top: 6px;
  color: #999;
  margin-right: 0;
  border-top: 1px solid #F0F2F5;
}

.facility-graphics-message {
  line-height: 1.3;
  margin: 0.5em 0 0.5em 0;
}

.call-hypertensive-patients-text {
  margin-bottom: 0;
  padding: 16px 70px 0 0;
  text-align: right;
  background: url(/assets/icon-arrow.png) 90% 30% no-repeat;
  background-size: 40px;
  line-height: 1.2;
}

.facility-snapshot-footer {
  margin-top: 8px;
  padding-top: 6px;
  color: #999;
  margin-right: 0;
  border-top: 1px solid #F0F2F5;
}

/******************
Environments
******************/

nav a.nav-link { color: $grey-darkest !important; }
nav a.nav-link:hover { color: $grey-mid !important; }

nav.navbar-development a.nav-link { color: #265788 !important; }
nav.navbar-development a.nav-link:hover { color: #4D86BF !important; }

nav.navbar-qa a.nav-link { color: #00B849 !important; }
nav.navbar-qa a.nav-link:hover { color: #4BE287 !important; }

nav.navbar-sandbox a.nav-link { color: #5300E0 !important; }
nav.navbar-sandbox a.nav-link:hover { color: #935EEC !important; }

nav.navbar-staging a.nav-link { color: #D71D3C !important; }
nav.navbar-staging a.nav-link:hover { color: #F15D76 !important; }

nav.navbar-production a.nav-link { color: $grey-darkest !important; }
nav.navbar-production a.nav-link:hover { color: $grey-mid !important; }