html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: #F0F2F5;
  margin: 0;
  padding: 8px;
  font-family: Roboto, sans-serif;
  color: #2F363D;
  font-weight: 400;
}

.card {
  background: #fff;
  position: relative;
  margin: 0 0 8px 0;
  padding: 16px;
  border-radius: 4px;
  box-shadow:
          0 1px 2px rgba(0,0,0,0.04),
          0 2px 4px rgba(0,0,0,0.08);
}

.card h3,
.card h4 {
  margin: 0;
  font-size: 20px;
  line-height: 1.3;
  color: #2F363D;
  font-weight: 500;
}

.card h4 {
  font-weight: 300;
  font-size: 15px;
}

.card h5 {
  margin: 6px 0 0 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ADB2B8;
  letter-spacing: 0.1em;
}

.big {
    font-size: 80px;
    text-align: center;
    margin: 32px 0;
    letter-spacing: -0.05em;
}

svg {
  width: 100%;
}

p, ul.big-list li {
  margin-top: 0.2em;
  line-height: 1.4;
  font-size: 18px;
}

p.footnote {
    font-size: 14px;
    padding: 16px;
}

a:link,
a:visited {
  text-decoration: none;
  font-weight: 400;
  color: #0075EB;
}

.icon-float {
  float: right;
  margin: -8px -8px 0 16px;
}

.icon-float svg,
.icon-float {
  width: 90px;
  height: 90px;
}

footer {
  height: 100px;
}
