$break-small: 600px;
$break-large: 1200px;

body {
  height: 100%;
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  @media screen and (max-width: $break-small) {
    margin: 4%;
  }
}

p, ol, ul, td {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
  &.required:after {
    content: " *";
    color: red;
  }
}

.inactive {
  color: #7C7C7C;
  text-decoration: line-through;
}

.panes {
  display: flex;
  flex-direction: row;

  .left-pane {
    border-right: 1px solid;
    margin-right: 5%;
    padding-right: 3%;
  }

  @media screen and (max-width: $break-small) {
    flex-direction: column;
    .left-pane{
      border-right: none;
    }
  }
}

.users-table {
  td {
    vertical-align: top;
    padding: 20px 10px;
  }
  ul {
    margin: 0 20px;
    padding: 0;
  }
}

form .field {
  display: flex;
  max-width: 500px;
  label, input, select {
    flex: 1;
  }
  @media screen and (max-width: $break-small) {
    flex-direction: column;
  }
}