// Universal variables
@import "partials/variables";

.progress-contents {
    padding: 0 8px 100px 8px;
}

.card h3 {
  font-weight: 700;
  font-size: 20px;
  color: $grey-darkest;
}

.card {
    position: relative;
}

.day {
    visibility: hidden;
    position: absolute;
    left: -100000px;
    
    h3.stat-day {
        opacity: 0;
        transition: opacity 0.6s ease-in;
    }
}

.day.day-show {
    visibility: visible;
    position: relative;
    left: 0;
    
    h3.stat-day {
        opacity: 1;
    }
}

.card h3 span.num {
    letter-spacing: 2px;
}

.empty-reports {
  min-width: 100%;
  height: 100%;
  background: #F0F2F5;
  margin: -8px;
  text-align: center;
}

.empty-reports .svg-container {
  margin-top: 60px;
}

.empty-reports h1 {
  color: #6c737a;
  font-size: 20px;
}

.empty-reports h3 {
  color: #6c737a;
  font-size: 16px;
}

sup {
  font-size: 60%;
  padding-left: 2px;
}

.card-dropdown {
  width: 100%;
  border: 1px solid $blue;
  color: $blue;
  font-weight: bold;
  font-size: 18px;
  padding: 8px;
  height: 42px;
  background: #fff url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAxOCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyLjAzMzMgMTQuOTQzMUw4LjkwODQ1IDE4LjA2NzlMNS43ODM2MiAxNC45NDMxQzUuNjMzMTUgMTQuNzkyMyA1LjQyODg3IDE0LjcwNzUgNS4yMTU4MyAxNC43MDc1QzUuMDAyOCAxNC43MDc1IDQuNzk4NTEgMTQuNzkyMyA0LjY0ODA1IDE0Ljk0MzFDNC4zMzM5NSAxNS4yNTcyIDQuMzMzOTUgMTUuNzY0NiA0LjY0ODA1IDE2LjA3ODZMOC4zNDQ2OSAxOS43NzUzQzguNjU4NzggMjAuMDg5NCA5LjE2NjE3IDIwLjA4OTQgOS40ODAyNiAxOS43NzUzTDEzLjE3NjkgMTYuMDc4NkMxMy40OTEgMTUuNzY0NiAxMy40OTEgMTUuMjU3MiAxMy4xNzY5IDE0Ljk0MzFDMTIuODYyOCAxNC42MzcgMTIuMzQ3NCAxNC42MjkgMTIuMDMzMyAxNC45NDMxVjE0Ljk0MzFaIiBmaWxsPSIjMDA3NUVCIi8+CjxwYXRoIGQ9Ik01Ljc5MTY0IDkuNzc1M0w4LjkxNjQ3IDYuNjUwNDdMMTIuMDQxMyA5Ljc3NTMxQzEyLjE5MTggOS45MjYxMSAxMi4zOTYxIDEwLjAxMDkgMTIuNjA5MSAxMC4wMTA5QzEyLjgyMjEgMTAuMDEwOSAxMy4wMjY0IDkuOTI2MTEgMTMuMTc2OSA5Ljc3NTMxQzEzLjQ5MSA5LjQ2MTIxIDEzLjQ5MSA4Ljk1MzgzIDEzLjE3NjkgOC42Mzk3M0w5LjQ4MDIzIDQuOTQzMDlDOS4xNjYxNCA0LjYyOSA4LjY1ODc1IDQuNjI5IDguMzQ0NjYgNC45NDMwOUw0LjY0ODAyIDguNjM5NzNDNC4zMzM5MiA4Ljk1MzgzIDQuMzMzOTIgOS40NjEyMSA0LjY0ODAyIDkuNzc1M0M0Ljk2MjExIDEwLjA4MTMgNS40Nzc1NSAxMC4wODk0IDUuNzkxNjQgOS43NzUzVjkuNzc1M1oiIGZpbGw9IiMwMDc1RUIiLz4KPC9zdmc+Cg==) no-repeat 96% 50%;
  margin: 16px 0 8px 0;
  border-radius: 5px;
  position: relative;
  -webkit-appearance: none;
}

h4 {
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: rgba(0,0,0,0.3);
  clear: both;
}

p {
  text-align: center;
  font-size: 16px;
  padding: 0 8px;
}

p.desc {
  text-align: left;
  font-size: 16px;
  padding: 8px 0 8px 0;
}

.progress-table {
  margin-top: 16px;
  font-size: 16px;
  width: 100%;
  border-collapse: collapse;
}

.progress-table td {
  padding: 8px 16px 8px 0;
  border-top: 1px solid #EFECDF;
  text-align: right;
  font-size: 18px;
}

.progress-table td.no-padding {
  padding-right: 0;
}

.progress-table th {
  padding: 0 0 8px 0;
  font-weight: normal;
  text-align: left;
  font-size: 14px;
}

.progress-table  .row-label {
  padding-left: 6px;
  text-align: left;
  font-weight: normal;
}

.progress-table .total td {
  background: #F5F9FD;
  color: #174A57;
}

.progress-table .total.green td {
  background: #E4FFEF;
  color: #00A541;
}

.progress-table .total td,
.progress-table .total + tr td {
  border-color: #77A6D2;
}

.progress-table .total.green td,
.progress-table .total.green + tr td {
  border-color: #00A541;
}

span.percent {
  font-size: 14px;
  display: inline-block;
  background: #E4FFEF;
  color: #00A541;
  border-radius: 100px;
  padding: 5px 6px;
  text-align: center;
  min-width: 3em;
  margin: -3px 0;
}

.updated-date {
  text-align: center;
  font-size: 14px;
  color: rgba(0,0,0,0.6);
  padding: 6px 0 16px 0;
  clear: both;

  span {
    letter-spacing: 1px;
  }
}

.trophies {
  text-align: center;
  padding-top: 30px;
}

footer p {
  text-align: center;
  font-size: 18px;
}

.trophy {
  display: inline-block;
  text-align: center;
  margin: 0 8px 30px 8px;
  font-size: 18px;
  line-height: 1.3;
  position: relative;
  padding: 140px 0 0 0;
}

.trophy svg.ribbon {
  position: absolute;
  top: 1px;
  left: 50%;
  margin-left: -65px;
}

.trophy svg.lock {
  position: relative;
  top: 4px;
}

.trophy span {
  display: block;
  border-radius: 400px;
  width: 94px;
  height: 94px;
  position: absolute;
  top: 19px;
  left: 50%;
  margin-left: -47px;
  line-height: 94px;
  font-size: 42px;
  box-sizing: border-box;
  background: #8672F3;
  color: #5844C3;
  font-weight: 900;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  letter-spacing: -0.03em;
}

.trophy em {
  position: absolute;
  top: 22px;
  left: 50%;
  width: 86px;
  height: 86px;
  margin-left: -44px;
  border-radius: 400px;
  border: 1px solid #fff;
  z-index: 5000;
}

.trophy div {
  font-size: 90%;
}

.trophy-10 span {
  background: #E8F8EF;
  color: #30BB67;
  text-indent: -3px;
}

.trophy-25 span {
  background: #F1D8FD;
  color: #AA61CF;
}

.trophy-50 span {
  background: #D7E8F8;
  color: #77A6D2;
}

.trophy-100 span,
.trophy-250 span,
.trophy-500 span {
  background: #FFC800;
  color: #A38310;
  font-size: 38px;
}

.trophy-1000 span,
.trophy-2000 span {
  background: #FF3355;
  color: #B00C35;
}

.trophy-upcoming span {
  color: rgba(0,0,0,0.3);
  background: #eee;
}

.trophy-upcoming svg.ribbon {
  opacity: 0.4;
}

.card .counts {
  display: flex;
  justify-content: space-between;
  clear: both;
  padding-top: 16px;
}

.card .count {
  display: block;
  padding: 30px 0 30px 0;
  text-align: center;
  font-size: 18px;
  background: #EEF7FF;
  margin: 0 4px 4px 0;
  border-radius: 10px;

  strong {
    display: block;
    padding-bottom: 8px;
    font-size: 20px;
  }
}

.card .count-1 {
  background: #EEF7FF;
  color: #43617D;
  flex: 1;
}

.card .count-2 {
  flex: 1;
  background: #E4FFEF;
  color: #00A541;
}

.card .count:last-child {
  margin-right: 0;
}

.card .count-empty svg {
  height: 160px;
  margin-top: 0;
}

.big-number {
  font-weight: 500;
  font-size: 64px;
  padding-bottom: 8px;
  letter-spacing: -0.03em;
}

.next-prev {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1000000;
}

.button-next {
  background: none;
  border: none;
  display: block;
  float: left;
  padding: 6px 24px 6px 16px;
  border-radius: 4px;
}

.button-prev {
  background: none;
  border: none;
  display: block;
  float: right;
  padding: 6px 24px 6px 16px;
  margin-right: -6px;
}

.button-next:active,
.button-prev:active {
  outline: none;
  background: #E9F3FF;
}

.button-next:focus,
.button-prev:focus {
  outline: none;
  background: none;
}

.button-prev:disabled,
.button-next:disabled {
  opacity: 0.1;
}

.day {
  min-height: 250px;
}
