$accent-color: #FF3355; /* PINK */

$red-dark: #B81631;
$red: #FF3355;
$red-light: #FFD6DD;
$green-dark: #007A31;
$green: #00B849;
$yellow-dark: #E0B000;
$yellow: #FFC800;

$offwhite: #f8f9fa;

$grey-lightest: #F0F2F5;
$grey-light: #dce4e8;
$grey-mid: #ADB2B8;
$grey-dark: #6C737A;
$grey-darkest: #2F363D;

$highlight: #E9F3FF; /* LIGHT BLUE */
$blue: #0075EB;
$blue-mid: #9db8d2;
$blue-light: #E9F3FF;
$blue-dark: #0c3966;
$green-light: #E0FFED;
$green-mid: #5CFF9D;
$green: #00B849;
$green-dark: #007A31;

$font-condensed: 'Roboto Condensed', sans-serif;
$font-small: 11px;

/********/

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.cohort {
    
    h6 {
        font-size: 18px;
        text-align: left;
        margin: 0;
    }
    
    p {
        text-align: left;
        font-size: 16px;
        padding: 6px 0 0 0;
    }
}

.cohort-bars {
    width: 100%;
    position: relative;
    text-align: center;
    min-height: 46px;
    
    div {
        padding: 12px 0;
        font-weight: bold;
        font-size: 16px;
    }
    
    .cohort-controlled {
        background: $green;
        color: #fff;
        border-radius: 3px 0 0 3px;
        float: left;
    }
    
    .cohort-uncontrolled {
        background: $red;
        color: #fff;
        border-radius: none;
        float: left;
    }
    
    .cohort-nobp {
        background: $grey-light;
        color: #444;
        border-radius: 0 3px 3px 0;
        float: left;
    }
    
    .cohort-none {
        background: $grey-light;
        color: #444;
        border-radius: 3px;
        float: left;
    }
}

.key {
    margin: 24px 0 32px 0;
    
    span {
        display: inline-block;
        width: 16px;
        height: 8px;
        vertical-align: middle;
        background: #999;
        margin: 0 8px 0 0;
        border-radius: 3px;
        
        &.green {
            background: $green;
        }
        
        &.red {
            background: $red;
        }
    }
    
}

.progress-contents {
    padding: 0 8px 100px 8px;
}

.progress-body {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    background: #F0F2F5;
    z-index: 100000000;
}

a.help-back {
    display: block;
    position: fixed;
    top: 8px;
    padding: 8px;
    margin-top: 16px;
    background: #fff;
    border-radius: 100px;
    width: 32px;
    margin-bottom: 16px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    z-index: 5000;

    svg {
      width: 28px;
      height: 28px;
      position: relative;
      top: 2px;
      left: 2px;
      opacity: 1;
    }
}

.card h3 {
  font-weight: 700;
  font-size: 20px;
  color: $grey-darkest;
}

.card {
    position: relative;
}

.day {
    visibility: hidden;
    position: absolute;
    left: -100000px;
    
    h3.stat-day {
        opacity: 0;
        transition: opacity 0.6s ease-in;
    }
}

.day.day-show {
    visibility: visible;
    position: relative;
    left: 0;
    
    h3.stat-day {
        opacity: 1;
    }
}

.card h3 span.num {
    letter-spacing: 2px;
}

.empty-reports {
  min-width: 100%;
  height: 100%;
  background: #F0F2F5;
  margin: -8px;
  text-align: center;
}

.empty-reports .svg-container {
  margin-top: 60px;
}

.empty-reports h1 {
  color: #6c737a;
  font-size: 20px;
}

.empty-reports h3 {
  color: #6c737a;
  font-size: 16px;
}

sup {
  font-size: 60%;
  padding-left: 2px;
}

.card-dropdown {
  width: 100%;
  border: 1px solid $blue;
  color: $blue;
  font-weight: bold;
  font-size: 18px;
  padding: 8px;
  height: 42px;
  background: #fff url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAxOCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyLjAzMzMgMTQuOTQzMUw4LjkwODQ1IDE4LjA2NzlMNS43ODM2MiAxNC45NDMxQzUuNjMzMTUgMTQuNzkyMyA1LjQyODg3IDE0LjcwNzUgNS4yMTU4MyAxNC43MDc1QzUuMDAyOCAxNC43MDc1IDQuNzk4NTEgMTQuNzkyMyA0LjY0ODA1IDE0Ljk0MzFDNC4zMzM5NSAxNS4yNTcyIDQuMzMzOTUgMTUuNzY0NiA0LjY0ODA1IDE2LjA3ODZMOC4zNDQ2OSAxOS43NzUzQzguNjU4NzggMjAuMDg5NCA5LjE2NjE3IDIwLjA4OTQgOS40ODAyNiAxOS43NzUzTDEzLjE3NjkgMTYuMDc4NkMxMy40OTEgMTUuNzY0NiAxMy40OTEgMTUuMjU3MiAxMy4xNzY5IDE0Ljk0MzFDMTIuODYyOCAxNC42MzcgMTIuMzQ3NCAxNC42MjkgMTIuMDMzMyAxNC45NDMxVjE0Ljk0MzFaIiBmaWxsPSIjMDA3NUVCIi8+CjxwYXRoIGQ9Ik01Ljc5MTY0IDkuNzc1M0w4LjkxNjQ3IDYuNjUwNDdMMTIuMDQxMyA5Ljc3NTMxQzEyLjE5MTggOS45MjYxMSAxMi4zOTYxIDEwLjAxMDkgMTIuNjA5MSAxMC4wMTA5QzEyLjgyMjEgMTAuMDEwOSAxMy4wMjY0IDkuOTI2MTEgMTMuMTc2OSA5Ljc3NTMxQzEzLjQ5MSA5LjQ2MTIxIDEzLjQ5MSA4Ljk1MzgzIDEzLjE3NjkgOC42Mzk3M0w5LjQ4MDIzIDQuOTQzMDlDOS4xNjYxNCA0LjYyOSA4LjY1ODc1IDQuNjI5IDguMzQ0NjYgNC45NDMwOUw0LjY0ODAyIDguNjM5NzNDNC4zMzM5MiA4Ljk1MzgzIDQuMzMzOTIgOS40NjEyMSA0LjY0ODAyIDkuNzc1M0M0Ljk2MjExIDEwLjA4MTMgNS40Nzc1NSAxMC4wODk0IDUuNzkxNjQgOS43NzUzVjkuNzc1M1oiIGZpbGw9IiMwMDc1RUIiLz4KPC9zdmc+Cg==) no-repeat 96% 50%;
  margin: 16px 0 8px 0;
  border-radius: 5px;
  position: relative;
  -webkit-appearance: none;
}

.nav-next {
    display: block;
    background: #fff url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkuMDAwMDIgNi43MTA1MUM4LjYxMDAyIDcuMTAwNTEgOC42MTAwMiA3LjczMDUxIDkuMDAwMDIgOC4xMjA1MUwxMi44OCAxMi4wMDA1TDkuMDAwMDIgMTUuODgwNUM4LjYxMDAyIDE2LjI3MDUgOC42MTAwMiAxNi45MDA1IDkuMDAwMDIgMTcuMjkwNUM5LjM5MDAyIDE3LjY4MDUgMTAuMDIgMTcuNjgwNSAxMC40MSAxNy4yOTA1TDE1IDEyLjcwMDVDMTUuMzkgMTIuMzEwNSAxNS4zOSAxMS42ODA1IDE1IDExLjI5MDVMMTAuNDEgNi43MDA1MUMxMC4wMyA2LjMyMDUxIDkuMzkwMDIgNi4zMjA1MSA5LjAwMDAyIDYuNzEwNTFaIiBmaWxsPSIjMDA3NUVCIi8+Cjwvc3ZnPgo=) no-repeat 100% 50%;
}

h4 {
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: rgba(0,0,0,0.3);
  clear: both;
}

p {
  text-align: center;
  font-size: 16px;
  padding: 0 8px;
}

p.desc {
  text-align: left;
  font-size: 16px;
  padding: 8px 0 8px 0;
}

.progress-table {
  margin-top: 16px;
  font-size: 16px;
  width: 100%;
  border-collapse: collapse;
}

.progress-table td {
  padding: 8px 16px 8px 0;
  border-top: 1px solid $grey-light;
  text-align: right;
  font-size: 18px;
}

.progress-table td.no-padding {
  padding-right: 0;
}

.progress-table th {
  padding: 0 0 8px 0;
  font-weight: normal;
  text-align: left;
  font-size: 14px;
}

.progress-table  .row-label {
  padding-left: 6px;
  text-align: left;
  font-weight: normal;
}

.progress-table .total td {
  background: #F5F9FD;
  color: #174A57;
}

.progress-table .total.green td {
  background: #E4FFEF;
  color: #00A541;
}

.progress-table .total td,
.progress-table .total + tr td {
  border-color: #77A6D2;
}

.progress-table .total.green td,
.progress-table .total.green + tr td {
  border-color: #00A541;
}

span.percent {
  font-size: 14px;
  display: inline-block;
  background: #E4FFEF;
  color: #00A541;
  border-radius: 100px;
  padding: 5px 6px;
  text-align: center;
  min-width: 3em;
  margin: -3px 0;
}

.updated-date {
  text-align: center;
  font-size: 14px;
  color: rgba(0,0,0,0.6);
  padding: 6px 0 16px 0;
  clear: both;

  span {
    letter-spacing: 1px;
  }
}

p.control-desc {
    line-height: 1.5;
    font-size: 18px;
    
    .green {
        color: $green;
        font-size: 32px;
        font-weight: bold;
    }
}

.footnotes {
    li {
         margin: 0 16px 1.5em 0;
        line-height: 1.3;
    }
}

.bar-chart {
    width: 100%;
    margin-bottom: 8px;
    background-image: linear-gradient(to top, 
        #fff 35px, $grey-lightest 35px, #fff 36px,
        #fff 55px, $grey-light 55px, #fff 56px,
        #fff 75px, $grey-lightest 75px, #fff 76px,
        #fff 95px, $grey-light 95px, #fff 96px,
        #fff 115px, $grey-lightest 115px, #fff 116px,
        #fff 135px, $grey-light 135px, #fff 136px,
        #fff 155px, $grey-lightest 155px, #fff 156px,
        #fff 175px, $grey-light 175px, #fff 176px,
        #fff 195px, $grey-lightest 195px, #fff 196px,
        #fff 215px, $grey-light 215px, #fff 216px,
        #fff 235px, $grey-lightest 235px, #fff 236px,
        #fff 255px, $grey-light 255px, #fff 256px,
    );
    
    tbody td {
        height: 160px;
        vertical-align: bottom;
        text-align: center;
    }
    
    .bar {
        background: $green-light;
        width: 12px;
        margin: 0 auto;
        position: relative;
        border-radius: 100px;
        
        &.current {
            background: #78E0A0;
        }
        
        span {
            display: block;
            background: #fff;
            border: 2px solid $green;
            height: 10px;
            width: 10px;
            border-radius: 100px;
            margin-left: -1px;
        }
    }
    
    .bar-value {
        position: relative;
        height: 30px;
        width: 10px;
        margin: 0 auto 16px auto;
        
        span {
            font-size: 14px;
            transform: rotate(90deg);
            display: block;
            color: $green;
        }
    }
}

.trophies {
  text-align: center;
  padding-top: 30px;
}

footer p {
  text-align: center;
  font-size: 18px;
}

.trophy {
  display: inline-block;
  text-align: center;
  margin: 0 8px 30px 8px;
  font-size: 18px;
  line-height: 1.3;
  position: relative;
  padding: 140px 0 0 0;
}

.trophy svg.ribbon {
  position: absolute;
  top: 1px;
  left: 50%;
  margin-left: -65px;
}

.trophy svg.lock {
  position: relative;
  top: 4px;
}

.trophy span {
  display: block;
  border-radius: 400px;
  width: 94px;
  height: 94px;
  position: absolute;
  top: 19px;
  left: 50%;
  margin-left: -47px;
  line-height: 94px;
  font-size: 42px;
  box-sizing: border-box;
  background: #8672F3;
  color: #5844C3;
  font-weight: 900;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  letter-spacing: -0.03em;
}

.trophy em {
  position: absolute;
  top: 22px;
  left: 50%;
  width: 86px;
  height: 86px;
  margin-left: -44px;
  border-radius: 400px;
  border: 1px solid #fff;
  z-index: 5000;
}

.trophy div {
  font-size: 90%;
}

.trophy-10 span {
  background: #E8F8EF;
  color: #30BB67;
  text-indent: -3px;
}

.trophy-25 span {
  background: #F1D8FD;
  color: #AA61CF;
}

.trophy-50 span {
  background: #D7E8F8;
  color: #77A6D2;
}

.trophy-100 span,
.trophy-250 span,
.trophy-500 span {
  background: #FFC800;
  color: #A38310;
  font-size: 38px;
}

.trophy-1000 span,
.trophy-2000 span {
  background: #FF3355;
  color: #B00C35;
}

.trophy-upcoming span {
  color: rgba(0,0,0,0.3);
  background: #eee;
}

.trophy-upcoming svg.ribbon {
  opacity: 0.4;
}

.card .counts {
  display: flex;
  justify-content: space-between;
  clear: both;
  padding-top: 16px;
}

.card .count {
  display: block;
  padding: 30px 0 30px 0;
  text-align: center;
  font-size: 18px;
  background: #EEF7FF;
  margin: 0 4px 4px 0;
  border-radius: 10px;

  strong {
    display: block;
    padding-bottom: 8px;
    font-size: 20px;
  }
}

.card .count-1 {
  background: #F3EEFB;
  color: #6640AB;
  flex: 1;
}

.card .count-2 {
  flex: 1;
  background: #EFF7FF;
  color: #44576B;
}

.card .count:last-child {
  margin-right: 0;
}

.card .count-empty svg {
  height: 160px;
  margin-top: 0;
}

.big-number {
  font-weight: 500;
  font-size: 64px;
  padding-bottom: 8px;
  letter-spacing: -0.03em;
}

.next-prev {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1000000;
}

.button-next {
  background: none;
  border: none;
  display: block;
  float: left;
  padding: 6px 24px 6px 16px;
  border-radius: 4px;
}

.button-prev {
  background: none;
  border: none;
  display: block;
  float: right;
  padding: 6px 24px 6px 16px;
  margin-right: -6px;
}

.button-next:active,
.button-prev:active {
  outline: none;
  background: #E9F3FF;
}

.button-next:focus,
.button-prev:focus {
  outline: none;
  background: none;
}

.button-prev:disabled,
.button-next:disabled {
  opacity: 0.1;
}

.day {
  min-height: 250px;
}
