
        <%= render(
          'shared/paginate_and_filter_by_facility',
          form_url: appointments_path,
          current_admin: current_admin,
          facility_id: @facility_id,
          per_page: @per_page
        ) %>
    
    

<div id="overdue-patients" class="card">
<h1>Overdue patients</h1>
<p class="info"><i class="fas fa-question-circle"></i> Patients that are overdue for follow-up BP measure.</p>
    
  <% if @appointments.present? %>
    <% call_result_options = {
        'Patient responded' => [['Agreed to visit', 'agreed_to_visit'], ['Patient has already visited', 'patient_has_already_visited']],
        'No response' => [['Remind to call later', 'remind_to_call_later']],
        'Remove from overdue list' => Appointment.cancel_reasons.map { |key, value| [key.humanize, value] }
    } %>

    <% @appointments.sort_by { |a| a.patient.risk_priority }.each do |appointment| %>
      <%= render(
        'shared/followup_patient_card',
        patient: appointment.patient,
        high_risk: appointment.patient.high_risk?,
        call_result_options: call_result_options,
        days_overdue: appointment.days_overdue,
        show_last_interaction: true,
        show_enrolment_date: true,
        form_model: appointment
      ) %>
    <% end %>
  <% else %>
    <div class="overdue-patient">
      <p class="overdue-title" style="color: #999;">No overdue patients found</p>
    </div>
  <% end %>
</div>

<%= paginate @appointments %>


<div class="downloads">
      <h4>Downloads</h4>
  

        <% if policy(Appointment).download? && @appointments.present? %>
          <% if @facility_id == "All" %>
            <div>
              <i class="far fa-file-excel" style="margin-right: 4px;"></i> Select a facility to download Overdue Patients list
            </div>
          <% else %>
            <i class="far fa-file-excel" style="margin-right: 4px;"></i> <%= link_to "Download Overdue List", appointments_path(facility_id: @facility_id, format: "csv"), class: "", data: { confirm: I18n.t('admin.phi_download_alert') } %>
          <% end %>
        <% end %>
    
</div>