<h1>Overdue patients</h1>
<p>Patients that are overdue for follow-up BP measure.</p>

<div class="row">
  <div class="col-md-6">
    <%= render 'shared/paginate_and_filter_by_facility',
               form_url: appointments_path,
               current_admin: current_admin,
               facility_id: @facility_id,
               per_page: @per_page %>
  </div>
</div>

<div id="overdue-patients">
  <% appointments_with_patients = @appointments.select { |a| a.patient.present? } %>
  <% if appointments_with_patients.present? %>
    <% call_result_options = {
        'Patient responded' => [['Agreed to visit', 'agreed_to_visit']],
        'No response' => [['Remind to call later', 'remind_to_call_later']],
        'Remove from overdue list' => Appointment.cancel_reasons.map { |key, value| [key.humanize, value] } } %>
    <% appointments_with_patients.each do |appointment| %>
      <%= render 'shared/followup_patient_card',
                 patient: appointment.patient,
                 call_result_options: call_result_options,
                 days_overdue: appointment.days_overdue,
                 form_model: appointment %>
    <% end %>
  <% else %>
    <div class="overdue-patient">
      <p class="overdue-title" style="color: #999;">&lt; No overdue patients &gt;</p>
    </div>
  <% end %>
</div>

<%= paginate @appointments if @appointments.present? %>
