<% if @patient_summaries.present? %>
  <h2>
    Patient list
  </h2>
  <% call_result_options = {
    'Agreed to visit' => [['Agreed to visit', 'agreed_to_visit']],
    'Remind to call later' => [['Remind to call later', 'remind_to_call_later']],
    'Remove from overdue list' => [['Patient has already visited', 'already_visited'],
                                   ['Patient is not responding', 'not_responding'],
                                   ['Phone number does not work', 'invalid_phone_number'],
                                   ['Transferred to another public health facility', 'public_hospital_transfer'],
                                   ['Moved to private practitioner', 'moved_to_private'],
                                   ['Moved', 'moved'],
                                   ['Died', 'dead'],
                                   ['Other reason','other']]
  }
  %>
  <% @patient_summaries.each do |patient_summary| %>
    <%= render('overdue_patient_card',
               patient_summary: patient_summary,
               call_result_options: call_result_options,
               form_model: patient_summary.next_appointment) %>
  <% end %>
<% else %>
  <div class="card" title="no overdue patient">
    <p class="no-results">
      No overdue patients found
    </p>
  </div>
<% end %>
<%= paginate @patient_summaries %>
