<%= render "shared/user_approvals" %>

<section class="table-compact" id="facility-groups">
  <div class="table-responsive">
    <table>
      <% @organizations.each do |organization| %>
        <tr>
          <th><h2 style="padding-top: 1em;"><%= organization.name %></h2></th>
        </tr>

        <% policy_scope(organization.facility_groups).order(:name).each do |facility_group| %>
          <tr>
            <td class="row-title">
              <% if FeatureToggle.enabled?('UPDATED_ANALYTICS_VIEWS') %>
                <%= link_to facility_group.name,
                            analytics_facility_group_path(facility_group,
                                                          from_time: analytics_date_format(90.days.ago.yesterday),
                                                          to_time: analytics_date_format(Time.now.yesterday)) %>
              <% else %>
                <%= link_to facility_group.name, [organization, facility_group] %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</section>
