<%= render "shared/user_approvals" %>

<section class="table-compact" id="facility-groups">
  <div class="table-responsive">
    <table>
      <% @organizations.each do |organization| %>
        <tr>
          <th><h2 style="padding-top: 1em;"><%= organization.name %></h2></th>
        </tr>

        <% policy_scope(organization.facility_groups)
               .flat_map(&:facilities)
               .group_by(&:district)
               .keys
               .sort
               .each do |district| %>
          <tr>
            <td class="row-title">
              <%= link_to district, analytics_organization_district_path(organization.id, district) %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</section>
