<div class="container">
  <div class="row">
      
      <div class="col-md mt-md-3">
        <%= render "shared/user_approvals" %>
      </div>
      
      <div class="col-md order-md-first">
        <% @organizations.each do |organization| %>
            <section class="table-compact" id="facility-groups">
              <div class="card table-responsive">
                <h2><%= organization.name %></h2>
                    <table>

                    <% policy_scope(organization.facility_groups)
                           .flat_map(&:facilities)
                           .group_by(&:district)
                           .keys
                           .sort
                           .each do |district| %>
                      <tr>
                        <td class="row-title">
                          <%= link_to district, analytics_organization_district_path(organization.id, district) %>
                          <i class="fas fa-angle-right"></i>
                        </td>
                      </tr>
                    <% end %>
                  
                </table>
              </div>
            </section>
            <% end %>
         </div>
      </div>
</div>