<div class="container">
  <div class="row">
      
      <div class="col-md-7">
        <% @organizations.each do |organization| %>
            <section id="facility-groups">
              <div class="card">
                <h2><%= organization.name %></h2>
                    

                    <% policy_scope(organization.facility_groups)
                           .flat_map(&:facilities)
                           .group_by(&:district)
                           .keys
                           .sort
                           .each do |district| %>
                      
                          <%= link_to "<i class='fas fa-angle-right light'></i> #{district}".html_safe, analytics_organization_district_path(organization.id, district), class: "link-row" %>
                      
                    <% end %>
                  
              </div>
            </section>
            <% end %>
         </div>
         <div class="col-md-5 mt-md-3">
            <%= render "shared/user_approvals" %>
        </div>
  </div>
</div>