<div class="modal fade" id=<%= "deny-access-modal-" + user.id %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Deny access</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <%= bootstrap_form_with(url: admin_user_disable_access_path(user), method: :put, local: true, label_errors: true) do |form| %>
        <div class="modal-body">
          <div class="col-md-12">
            <%= form.text_field :reason_for_denial, id: :reason_for_denial, label: "Reason for denying access to #{user.full_name}", required: true %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= form.primary 'Deny Access' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
