<!DOCTYPE html>
<html>
<head>
  <title>Simple API Documentation</title>
  <!-- needed for adaptive design -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="https://simple.org/images/favicon.png"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!--
  ReDoc doesn't change outer page styles
  -->
  <style>

    body {
      margin: 0;
      padding: 60px 0 0 0;
    }
    body, h1, h2, h3, h4, h5, h6, label {
      font-family: Arial, sans-serif !important;
    }
    label {
      transition: background 0.3s, color 0.3s;
      color: #666 !important;
    }
    label.-depth1 {
      font-weight: bold !important;
      font-size: 0.85rem !important;
      letter-spacing: 1px !important;
      padding-top: 8px !important;
      padding-bottom: 8px !important;
      text-transform: uppercase !important;
    }
    label.-depth2 {
      padding-top: 8px !important;
      padding-bottom: 8px !important;
      line-height: 1.1 !important;
    }
    label.active {
      color: #000 !important;
      background: rgba(0,0,0,0.05) !important;
    }

    label:hover {
      color: rgba(0,0,0,0.7) !important;
    }
    .sc-feJyhm {
      display: none;
    }
    nav.navbar {
      position: fixed;
      width: 100%;
      background: #0C3966 !important;
      top: 0;
      left: 0;
      z-index: 100000000;
      font-size: 14px;
      font-weight: bold;
      padding-top: 12px;
      padding-bottom: 12px;
    }
    nav.navbar a {
      color: #fff !important;
    }

    @media (min-width: 900px) {
      nav.navbar-expand-lg {
        width: 260px !important;
      }

      .sc-iujRgT,
      .kTYKTV,
      .api-content {
        margin-top: -60px;
      }

      .sc-GMQeP,
      .eWtOBi {
        background: #fff;
        margin: 16px;
        border-radius: 100px;
        border-top: 1px solid rgba(0,0,0,0.2);
      }

      .eWtOBi svg {
        display: none;
      }

      .eWtOBi input {
        border: none;
        padding-left: none;
        margin: none !important;
      }

      .bJNzQd {
        margin: 0 !important;
      }
    }

    .navbar-toggler {
      background-color: #666;
    }

    .menu-content ul {
      margin-bottom: 10px;
    }


    h1 {
      color: #000 !important;
      font-weight: 700 !important;
      text-transform: capitalize !important;
    }

    h2, h3 {
      text-transform: uppercase;
      font-size: 1rem !important;
      font-weight: 500 !important;
    }

    h3 {
      margin: 2em 0;
      letter-spacing: 2px;
    }

    li[data-item-id="section/Authentication"] {
      display: none;
    }

    #section\/Authentication {
      margin-top: -40px;
    }

    #section\/Authentication h1 {
      display: none;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="https://simple.org/images/favicon.png" width="28" style="margin-top: -1px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul id="links_container" class="navbar-nav mr-auto"></ul>
  </div>
</nav>

<redoc scroll-y-offset="body > nav"></redoc>
<script src="https://cdn.jsdelivr.net/npm/redoc@next/bundles/redoc.standalone.js"></script>
<script>
    var apis = [
        {
            name: "V4",
            url: "v4/swagger.json"
        },
        {
            name: "V3",
            url: "v3/swagger.json"
        }
    ];
    // initially render first API
    Redoc.init(apis[0].url);

    function onClick() {
        var url = this.getAttribute('data-link');
        Redoc.init(url);
    }

    // dynamically building navigation items
    var $list = document.getElementById('links_container');
    apis.forEach(function (api) {
        console.log(api)
        var $listitem = document.createElement('li');
        $listitem.setAttribute('class', 'nav-item');
        $listitem.setAttribute('data-link', api.url)
        $listitem.innerHTML = "<a class='nav-link' href='#'>" + api.name + "</a>";
        $listitem.addEventListener('click', onClick);
        $list.appendChild($listitem);
    });
</script>
</body>
</html>
