<div class='empty-reports'>
  <%= inline_svg('empty_reports.svg') %>

  <h1>Record your first patient!</h1>

  <h3>You will be able to see progress and recent patients for your clinic here.</h3>
</div>