<head>
  <script type="text/javascript">
    <%= @chartkick_js.html_safe %>
  </script>

  <script type="text/javascript">
    <%= @chart_bundle_js.html_safe %>
  </script>
</head>

<body>
  <h3>How many patients are recorded at CHC Bathinda each week?</h3>
  <%= column_chart @stats_for_user,
                   id: 'new_patients_per_week',
                   library: {scales: {yAxes: [{display: false}]}}%>
</body>