<head>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <!--  date.strftime('%b %-d') => May 5  -->
  <h3>How many patients are recorded at CHC Bathinda each week?</h3>
  <%= column_chart @user_stats,
                   id: 'new_patients_per_week',
                   library: {scales: {yAxes: [{display: false}]}}%>
</body>