<h1>Patient Import</h1>

<a href="#">Patient Import Template</a>

<%= bootstrap_form_tag(url: admin_patient_imports_url, multipart: true) do |f| %>
  <%= f.collection_select :facility_id, current_admin.accessible_facilities(:manage), :id, :name %>
  <%= f.file_field :patient_import_file, required: true, accept: '.csv, .xlsx', label: 'Upload your filled in patient import file' %>
  <%= f.primary 'Upload' %>
<% end %>
