<% tree.each do |organization, org_info| %>
  <ul class="access-item-wrapper">
    <li>
      <div class="access-item organization">
        <%= access_checkbox(
                form,
                :organizations,
                organization,
                page: page,
                checked: page.eql?(:edit) && user_being_edited.visible?(:organization, organization)
            ) %>

        <span class="access-ratio">
          <i class="fas fa-angle-down light"></i>
          <%= access_fraction("facility groups", org_info[:accessible_facility_count], 0) %>
          </span>
      </div>

      <%= render "email_authentications/invitations/facility_group_access_tree",
          tree: org_info[:facility_groups],
          page: page,
          form: form,
          user_being_edited: user_being_edited,
          initial_tree_depth: initial_tree_depth + 1 %>
    </li>
  </ul>
<% end %>
