<% tree.each do |organization, org_info| %>
<ul class="access-item-wrapper">
    <li>
        <div class="access-item organization collapsed">
            <%= access_checkbox(
                form,
                :organizations,
                organization,
                page: page,
                checked_fn: -> { user_being_edited.visible?(:organization, organization) }
            ) %>

            <div class="access-item__padding"></div>

            <span class="access-ratio organization">
                <%= access_fraction("facility groups", org_info[:accessible_facility_count], 0) %>
                <i class="fas fa-caret-up light"></i>
            </span>
        </div>

        <%= render "email_authentications/invitations/facility_group_access_tree",
          tree: org_info[:facility_groups],
          page: page,
          form: form,
          root: root,
          user_being_edited: user_being_edited,
          tree_depth: tree_depth + 1 %>
    </li>
</ul>
<% end %>