<ul class="access-item-wrapper">
  <% tree.each do |facility_group, fg_info| %>
    <li>
      <div class="access-item collapsed">
        <% initial_tree_depth.times do %>
          <span class="spacer"></span>
        <% end %>

        <%= access_checkbox(
                form,
                "facility_group",
                facility_group,
                page: page,
                checked: fg_info.selected) %>

        <span class="access-ratio collapsed">
          <i class="fas fa-angle-down light"></i>

          <%= access_fraction(
                  "facility",
                  fg_info.accessible_facility_count,
                  fg_info.total_facility_count) %>
        </span>
      </div>

      <%= render "email_authentications/invitations/facility_access_tree",
          tree: fg_info.facilities, page: page, form: form, initial_tree_depth: initial_tree_depth + 1 %>
    </li>
  <% end %>
</ul>
