<ul class="access-item-wrapper facility">
  <% tree.each do |facility| %>
    <li>
      <div class="access-item facility collapsed" data-facility-group-id="<%=facility[:facility_group_id]%>">
        <% tree_depth.times do %>
          <span class="spacer"></span>
        <% end %>

        <div class="access-item__dropdown hidden">
          <i class="fas fa-caret-down c-grey-dark"></i>
        </div>

        <div class="form-check <%= "show" if page.eql?(:show) %>">

          <% unless page.eql?(:show) %>
            <% pre_checked = page.eql?(:edit) && @facilities_pre_checks[facility.id] %>
            <%= access_checkbox(:facilities, facility, checked: pre_checked, parent_id: facility[:facility_group_id]) %>
          <% end %>

          <%= access_resource_label(facility) %>
        </div>

        <div class="access-item__padding"></div>
      </div>
    </li>
  <% end %>
</ul>
