<ul class="access-item-wrapper facility">
  <% tree.each do |facility| %>
    <li>
      <div class="access-item facility collapsed">
        <% tree_depth.times do %>
          <span class="spacer"></span>
        <% end %>

        <%= access_controls(
                :facilities,
                facility,
                page: page,
                checked: page.eql?(:edit) && user_being_edited.visible_facilities.include?(facility)
            ) %>

        <div class="access-item__padding"></div>
      </div>
    </li>
  <% end %>
</ul>
