<ul class="access-item-wrapper collapsed">
  <% tree.each do |facility, _facility_info| %>
    <li>
      <div class="access-item collapsed">
        <% tree_depth.times do %>
          <span class="spacer"></span>
        <% end %>

        <%= access_checkbox(
                form,
                :facilities,
                facility,
                page: page,
                checked: page.eql?(:edit) && user_being_edited.visible?(:facility, facility)
            ) %>
      </div>
    </li>
  <% end %>
</ul>
