<ul class="access-item-wrapper facility <%= "collapsed" unless tree_depth.zero? %>">
  <% tree.each do |facility| %>
    <li>
      <div class="access-item facility <%= "collapsed" if root == :organization or root == :facility_group %>">
        <% tree_depth.times do %>
          <span class="spacer"></span>
        <% end %>

        <%= access_checkbox(
                :facilities,
                facility,
                page: page,
                checked_fn: -> { true }
            ) %>

        <div class="access-item__padding"></div>
      </div>
    </li>
  <% end %>
</ul>
