<ul class="access-item-wrapper facility <%= "collapsed" unless tree_depth == 0 %>">
  <% tree.each do |facility, _facility_info| %>
    <li>
      <div class="access-item facility <%= "collapsed" if root == :organization or root == :facility_group %>">
        <% tree_depth.times do %>
          <span class="spacer"></span>
        <% end %>

        <% unless tree_depth.zero? %>
          <div class="dropdown hidden">
            <i class="fas fa-angle-down light"></i>
          </div>
        <% end %>

        <%= access_checkbox(
                form,
                :facilities,
                facility,
                page: page,
                checked_fn: -> { user_being_edited.visible?(:facility, facility) }
            ) %>
      </div>
    </li>
  <% end %>
</ul>
