<h1><%= t "devise.invitations.new.header" %></h1>

<%= bootstrap_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>

  <div class="form-group row">
    <label for="name-input" class="col-md-2 col-form-label">Full name<sup>*</sup></label>
    <div class="col-md-10">
      <input class="form-control" type="text" placeholder="" value="" id="name-input" required>
    </div>
  </div>

  <div class="form-group row">
    <label for="email-input" class="col-md-2 col-form-label">Email<sup>*</sup></label>
    <div class="col-md-10">
      <input class="form-control" type="email" value="" placeholder="email@domain.com" id="email-input">
    </div>
  </div>

  <div class="form-group row">
    <label for="tel-input" class="col-md-2 col-form-label">Mobile<sup>*</sup></label>
    <div class="col-md-10">
      <input class="form-control" type="tel" placeholder="e.g. +91-555-555-5555" id="tel-input">
    </div>
  </div>

  <div class="form-group row">
    <label for="location-input" class="col-md-2 col-form-label">Location</label>
    <div class="col-md-10">
      <input class="form-control" type="tel" placeholder="e.g. District and state" id="location-input">
    </div>
  </div>

  <div class="form-group row">
    <label for="note-input" class="col-md-2 col-form-label">Role</label>
    <div class="col-md-10">
      <input class="form-control" type="tel" placeholder="e.g. State nodal officer" id="note-input">
    </div>
  </div>

  <div class="form-group row">
    <label for="facilities-input" class="col-md-2 col-form-label">Organization<sup>*</sup></label>
    <div class="col-md-10 pt-2">
      <div class="form-check-inline">
        <input class="form-check-input" type="checkbox" value="" id="Check11">
        <label class="form-check-label form-label-light" for="Check11">
          Argonaut Clinics
        </label>
      </div>
      <div class="form-check-inline">
        <input class="form-check-input" type="checkbox" value="" id="Check12">
        <label class="form-check-label form-label-light" for="Check12">
          IHCI
        </label>
      </div>
      <div class="form-check-inline">
        <input class="form-check-input" type="checkbox" value="" id="Check13">
        <label class="form-check-label form-label-light" for="Check13">
          PATH
        </label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="facilities-input" class="col-md-2 col-form-label">Facilities<sup>*</sup></label>
    <div class="col-md-10">
      <input class="form-control" type="text" placeholder="Give access to facilities or districts..." value="" id="name-input" required data-toggle="modal" data-target="#exampleModal">
    </div>
  </div>

  <div class="form-group row">
    <label for="access-input" class="col-md-2 col-form-label">Access level<sup>*</sup></label>
    <div class="col-md-10">
      <select class="form-control" id="access-input">
        <option>Choose access level...</option>
        <option>Call center staff (access to PHI)</option>
        <option>CVHO: Cardiovascular Health Officer (access to PHI)</option>
        <option>Data analyst (anonymized data only)</option>
        <opion>STS: Senior Treatment Supervisor (access to PHI)</opion>
        <option>Super admin</option>
        <option>Custom...</option>
      </select>

      <div class="mt-3 p-3" style="border-radius: 5px; background: rgba(0,0,0,0.05);">
        <div class="row">
          <div class="col-md-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check21">
              <label class="form-check-label form-label-light" for="Check21">
                Approve health workers
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check22">
              <label class="form-check-label form-label-light" for="Check22">
                Invite admins
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check22V">
              <label class="form-check-label form-label-light" for="Check22V">
                Manage admins
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check2J3">
              <label class="form-check-label form-label-light" for="Check2J3">
                Manage organizations
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check2S3">
              <label class="form-check-label form-label-light" for="Check2S3">
                Manage facility groups
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check23">
              <label class="form-check-label form-label-light" for="Check23">
                Manage facilities
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check24">
              <label class="form-check-label form-label-light" for="Check24">
                Manage protocols
              </label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check25">
              <label class="form-check-label form-label-light" for="Check25">
                View cohort reports
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check26">
              <label class="form-check-label form-label-light" for="Check26">
                Access audit logs
                <span class="badge badge-secondary" data-toggle="tooltip" data-placement="top" data-trigger="hover focus click" title="Gives access to 'protect health information' about patients">PHI</span>
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check27">
              <label class="form-check-label form-label-light" for="Check27">
                View health worker activity
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check28">
              <label class="form-check-label form-label-light" for="Check28">
                Overdue patients list
                <span class="badge badge-secondary" data-toggle="tooltip" data-placement="top" data-trigger="hover focus click" title="Gives access to 'protect health information' about patients">PHI</span>
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check29">
              <label class="form-check-label form-label-light" for="Check29">
                Adherence follow-ups
                <span class="badge badge-secondary" data-toggle="tooltip" data-placement="top" data-trigger="hover focus click" title="Gives access to 'protect health information' about patients">PHI</span>
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Check30">
              <label class="form-check-label form-label-light" for="Check30">
                Download overdue patient lists
                <span class="badge badge-secondary" data-toggle="tooltip" data-placement="top" data-trigger="hover focus click" title="Gives access to 'protect health information' about patients">PHI</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Facility Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Select facilities or districts</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by district or facility name...">
          </div>
          <div style="background: rgba(0,0,0,0.05); border-radius: 5px; min-height: 200px;" class="p-3">
            &lt; No facilities selected &gt;
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-success">Give access to all facilities</button>
          <button type="button" class="btn btn-primary">Done</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <%= f.primary t("devise.invitations.new.submit_button") %>
    </div>
  </div>
<% end %>
