<div class="p-4 md:flex md:flex-wrap md:max-w-6xl md:m-auto">
  <div class="md:w-1/2 md:pr-2">
    <div class="mb-4 p-4 rounded-md bg-white shadow-md md:flex md:flex-col md:justify-between md:h-96">
      <div>
        <div class="mb-4">
          <p class="mb-1 font-roboto font-bold text-lg text-black">
            Controlled patients trend
          </p>
          <p class="font-roboto font-normal text-sm text-grey-400">
            Registered patients with BP &lt;140/90 at their most recent visit in the past 90 days.
          </p>
        </div>
        <div>
          <p class="font-roboto font-bold text-4xl text-green-200">
            13,085
          </p>
          <p class="font-roboto font-normal text-sm text-grey-400">
            <span class="font-bold">0.3%</span> of estimated 4,200,000 hypertensive population
          </p>
        </div>
      </div>
      <div>
        <div class="md:relative md:h-32">
          <canvas id="controlledPatientsTrend"></canvas>
        </div>
        <div class="flex justify-between mt-2">
          <div>
            <p class="font-roboto font-bold text-sm text-black">
              Start
            </p>
            <p class="font-roboto font-normal text-sm text-black">
              Jan 2017
            </p>
          </div>
          <div class="text-right">
            <p class="font-roboto font-bold text-sm text-black">
              Current
            </p>
            <p class="font-roboto font-normal text-sm text-black">
              Apr 2020
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="md:w-1/2 md:pl-2">
    <div class="mb-4 p-4 rounded-md bg-white shadow-md md:flex md:flex-col md:justify-between md:h-96">
      <div class="mb-4">
        <p class="mb-1 font-roboto font-bold text-lg text-black">
          Control rate of all registered HTN patients
        </p>
        <p class="font-roboto font-normal text-sm text-grey-400">
          Proportion of registered patients with BP &gt;140/90 at their most recent visit in the past 90 days
        </p>
      </div>
      <div class="mt-8 md:flex-grow md:flex md:items-center md:justify-between md:mt-0">
        <div class="mb-6 text-center md:flex-grow md:mb-0">
          <p class="font-roboto font-bold leading-tight text-6xl text-green-200 md:h-20 md:mb-4">
            48.9%
          </p>
          <p class="font-roboto font-bold text-xl text-black md:text-base">
            13,085 of 26,784 patients
          </p>
        </div>
        <div class="md:flex md:flex-col md:items-center md:flex-grow">
          <div class="relative h-40 md:h-20 md:w-2/3 md:mb-4">
            <canvas id="controlRateOfAllRegisteredPatients"></canvas>
          </div>
          <p class="font-roboto font-bold text-sm text-black md:text-base md:font-medium md:text-grey-400">
            Last 12 months
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="md:w-1/2 md:pr-2">
    <div class="mb-4 p-4 rounded-md bg-white shadow-md md:flex md:flex-col md:justify-between md:h-96">
      <div>
        <div class="mb-4">
          <p class="mb-1 font-roboto font-bold text-lg text-black">
            Cumulative registration
          </p>
          <p class="font-roboto font-normal text-sm text-grey-400">
            Total number of patient registrations in all state facilities
          </p>
        </div>
        <div>
          <p class="font-roboto font-bold text-4xl text-purple-200">
            26,784
          </p>
          <p class="font-roboto font-normal text-sm text-grey-400">
            <span class="font-bold">0.6%</span> of estimated 4,200,000 hypertensive population
          </p>
        </div>
      </div>
      <div>
        <div class="md:relative md:h-32">
          <canvas id="cumulativeRegistrations"></canvas>
        </div>
        <div class="flex justify-between mt-2">
          <div>
            <p class="font-roboto font-bold text-sm text-black">
              Start
            </p>
            <p class="font-roboto font-normal text-sm text-black">
              Jan 2017
            </p>
          </div>
          <div class="text-right">
            <p class="font-roboto font-bold text-sm text-black">
              Current
            </p>
            <p class="font-roboto font-normal text-sm text-black">
              May 2020
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="md:w-1/2 md:pl-2">
    <div class="p-4 rounded-md bg-white shadow-md md:h-96">
      <div class="mb-6">
        <div class="mb-2">
          <p class="mb-1 font-roboto font-bold text-lg text-black">
            Quarterly cohort trend
          </p>
          <p class="font-roboto font-normal text-sm text-grey-400">
            The result for patients registered in a quarter at their follow-up visit in the following quarter
          </p>
        </div>
        <div class="flex">
          <div class="flex items-center mr-6">
            <div class="h-2 w-2 mr-2 rounded-full bg-green-200"></div>
            <p class="font-roboto font-bold text-xs text-green-200">
              Visited and BP &gt;140/90
            </p>
          </div>
          <div class="flex items-center mr-6">
            <div class="h-2 w-2 mr-2 rounded-full bg-yellow-300"></div>
            <p class="font-roboto font-bold text-xs text-yellow-300">
              Visited and BP &ge;140/90
            </p>
          </div>
          <div class="flex items-center">
            <div class="h-2 w-2 mr-2 rounded-full bg-red-200"></div>
            <p class="font-roboto font-bold text-xs text-red-200">
              No BP measure
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="mb-4 md:flex md:items-center">
          <div class="mb-2 md:flex-grow-2">
            <p class="font-roboto font-bold text-sm text-black">
              Results in Q3-2019
            </p>
            <p class="font-roboto font-normal text-sm text-black">
              patients registered Q2-2019
            </p>
          </div>
          <div class="relative h-12 md:w-1/2" style="height: 140px;">
            <canvas id="quarterlyCohortResults1"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var controlledPatientsTrendCanvas =
    document.getElementById("controlledPatientsTrend").getContext("2d");
  var greenGradientFill =
    controlledPatientsTrendCanvas.createLinearGradient(0, 400, 0, -300);
  greenGradientFill.addColorStop(0, "rgba(81, 205, 130, 0)");
  greenGradientFill.addColorStop(1, "rgba(81, 205, 130, 0.2)");
  var controlledPatientsTrendChart = new Chart(
    controlledPatientsTrendCanvas,
    {
      type: "line",
      data: {
        labels: [
          "May 2019",
          "Jun 2019",
          "Jul 2019",
          "Aug 2019",
          "Sep 2019",
          "Oct 2019",
          "Nov 2019",
          "Dec 2019",
          "Jan 2020",
          "Feb 2020",
          "Mar 2020",
          "Apr 2020",
        ],
        lineTension: 0,
        datasets: [{
          backgroundColor: greenGradientFill,
          borderColor: "rgba(81, 205, 130, 1)",
          pointStyle: "dash",
          data: [
            3409,
            4120,
            5051,
            6512,
            6935,
            8045,
            8513,
            9024,
            10004,
            10505,
            10890,
            13085,
          ],
        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        elements: {
          line: {
            tension: 0,
          },
        },
        legend: {
          display: false,
        },
        scales: {
          xAxes: [{
            display: false,
            gridLines: {
              display: false,
              drawBorder: false,
            },
          }],
          yAxes: [{
            display: false,
            gridLines: {
              display: false,
              drawBorder: false,
            },
          }],
        },
        tooltips: {
          titleFontFamily: "Roboto",
          bodyFontFamily: "Roboto",
          backgroundColor: "rgb(0, 0, 0)",
          titleFontSize: 16,
          bodyFontSize: 14,
          displayColors: false,
          yPadding: 12,
          xPadding: 12,
          callbacks: {
            label: function(tooltipItem, data) {
              var value = tooltipItem.value.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
              value += " controlled patients";
              return value;
            },
          },
        }
      }
    }
  );

  var cumulativeRegistrationsCanvas =
    document.getElementById("cumulativeRegistrations").getContext("2d");
  var purpleGradientFill =
    cumulativeRegistrationsCanvas.createLinearGradient(0, 400, 0, -300);
    purpleGradientFill.addColorStop(0, "rgba(157, 74, 199, 0)");
    purpleGradientFill.addColorStop(1, "rgba(157, 74, 199, 0.2)");
  var cumulativeRegistrationsChart = new Chart(
    cumulativeRegistrationsCanvas,
    {
      type: "line",
      data: {
        labels: [
          "May 2019",
          "Jun 2019",
          "Jul 2019",
          "Aug 2019",
          "Sep 2019",
          "Oct 2019",
          "Nov 2019",
          "Dec 2019",
          "Jan 2020",
          "Feb 2020",
          "Mar 2020",
          "Apr 2020",
        ],
        lineTension: 0,
        datasets: [{
          backgroundColor: purpleGradientFill,
          borderColor: "rgba(157, 74, 199, 1)",
          pointStyle: "dash",
          data: [
            8489,
            9001,
            11182,
            13498,
            14491,
            16591,
            17041,
            20550,
            21029,
            23401,
            25678,
            26784,
          ],
        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        elements: {
          line: {
            tension: 0,
          },
        },
        legend: {
          display: false,
        },
        scales: {
          xAxes: [{
            display: false,
            gridLines: {
              display: false,
              drawBorder: false,
            },
          }],
          yAxes: [{
            display: false,
            gridLines: {
              display: false,
              drawBorder: false,
            },
          }],
        },
        tooltips: {
          titleFontFamily: "Roboto",
          bodyFontFamily: "Roboto",
          backgroundColor: "rgb(0, 0, 0)",
          titleFontSize: 16,
          bodyFontSize: 14,
          displayColors: false,
          yPadding: 12,
          xPadding: 12,
          callbacks: {
            label: function(tooltipItem, data) {
              var value = tooltipItem.value.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
              value += " registered patients";
              return value;
            },
          },
        }
      }
    }
  );

  var controlRateOfAllRegisteredPatientsCanvas =
    document.getElementById("controlRateOfAllRegisteredPatients").getContext("2d");
  var controlRateOfAllRegisteredPatientsChart = new Chart(
    controlRateOfAllRegisteredPatientsCanvas,
    {
      type: "line",
      data: {
        labels: [
          "May 2019",
          "Jun 2019",
          "Jul 2019",
          "Aug 2019",
          "Sep 2019",
          "Oct 2019",
          "Nov 2019",
          "Dec 2019",
          "Jan 2020",
          "Feb 2020",
          "Mar 2020",
          "Apr 2020",
        ],
        lineTension: 0,
        datasets: [{
          backgroundColor: "#ffffff",
          borderColor: "rgba(81, 205, 130, 1)",
          pointStyle: "dash",
          data: [
            16.8,
            16.9,
            17.4,
            16.8,
            17.0,
            17.2,
            17.9,
            18.2,
            17.6,
            18.5,
            19.2,
            19.4,
          ],
        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          display: false,
        },
        scales: {
          xAxes: [{
            display: false,
            gridLines: {
              display: false,
              drawBorder: false,
            },
          }],
          yAxes: [{
            display: false,
            gridLines: {
              display: false,
              drawBorder: false,
            },
          }],
        },
        tooltips: {
          enabled: false,
        }
      }
    }
  );

  var quarterlyCohortResults1Canvas =
    document.getElementById("quarterlyCohortResults1").getContext("2d");
  var quarterlyCohortResults1Chart = new Chart(
    quarterlyCohortResults1Canvas,
    {
      type: "horizontalBar",
      data: {
        labels: ["Results in Q3-2019"],
        datasets: [
          {
            backgroundColor: "#3db26c",
            data: [37]
          },
          {
            backgroundColor: "#e0b000",
            data: [31]
          },
          {
            backgroundColor: "#ff3355",
            data: [32]
          },
        ]
      },
      options: {
        tooltips: {
          position: "nearest",
          bodyAlign: "left",
          callbacks: {
            label: function(tooltipItem, data) {
              return tooltipItem.value + "%";
            },
          },
        },
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          display: false,
        },
        scales: {
          xAxes: [{
            display: false,
            stacked: true,
            gridLines: {
              display: false,
              drawBorder: false,
            },
          }],
          yAxes: [{
            stacked: true,
            display: false,
            gridLines: {
              display: false,
              drawBorder: false,
            },
          }],
        },
      }
    }
  );
</script>