version: v1.0
name: India Production Deployment
blocks:
  - name: Deploy to India Production
    task:
      secrets:
        - name: semaphore-deploy-key
        - name: sentry-release-auth-token
      jobs:
        - name: Deploy to India Production
          commands:
            - checkout
            - sem-version ruby 2.7.4
            - cache restore
            - yarn install
            - bundle install --deployment --path vendor/bundle
            - cache store
            - 'BRANCH=$SEMAPHORE_GIT_SHA bundle exec cap india:production deploy'
      prologue:
        commands:
          - chmod 600 ~/.ssh/semaphore_id_rsa
          - ssh-add ~/.ssh/semaphore_id_rsa
agent:
  machine:
    type: e1-standard-2
    os_image: ubuntu1804
