version: v1.0
name: India Production Deployment
blocks:
  - name: Deploy to India Production
    task:
      secrets:
        - name: sentry-release-auth-token
        - name: argocd
      jobs:
        - name: Deploy to India Production
          commands:
            - checkout
            - script/argocd_deployment.sh $IN_PROD_ARGOCD_ENDPOINT $ARGOCD_USERNAME $IN_PROD_ARGOCD_PASSWORD $SEMAPHORE_GIT_SHA
agent:
  machine:
    type: e1-standard-2
    os_image: ubuntu2004
