name: Review Mobile App Build

on: workflow_dispatch
  inputs:
    pr_number:
      description: 'PR number'
      required: true

jobs:
  build_app:
    runs-on: [ ubuntu-latest ]
    env:
      PR_NUMBER: ${{ github.event.inputs.name }}
    steps:
      - name: Checkout simple-android
        uses: actions/checkout@v2
        with:
          repository: simpledotorg/simple-android
          path: simple-android

      - name: Setup JDK
        uses: actions/setup-java@v1
        with:
          java-version: '11'

      - name: Build APK
        run: simple-android/gradlew -p simple-android -PmanifestEndpoint="https://simple-review-pr-$PR_NUMBER.herokuapp.com/api/" app:assembleQaDebug

      - name: Upload APK
        uses: actions/upload-artifact@v1
        with:
          name: review-mobile-app-$PR_NUMBER
          path: simple-android/app/build/outputs/apk/qa/debug/app-qa-debug.apk
