---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC009716268a00cb71364038c500d17ff2/Messages.json
    body:
      encoding: UTF-8
      string: Body=We+missed+you+for+your+scheduled+BP+check-up+at+Simple+Facility+on+1+January%2C+2018.+Please+come+between+9.30+AM+and+2+PM.&From=%2B15005550006&To=%2B918553427344
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMwMDk3MTYyNjhhMDBjYjcxMzY0MDM4YzUwMGQxN2ZmMjoyM2JiMTlkNWY1NDZkNzYyMDJmNzJmYWQ4MmFlMWNjZQ==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ41a0b3155fcd481a8b1d6e88b2124bc9
      Twilio-Request-Duration:
      - '0.031'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"sid": "SM27a3ff500b53446bb36b9582c25cd957", "date_created": "Mon,
        15 Apr 2019 12:26:28 +0000", "date_updated": "Mon, 15 Apr 2019 12:26:28 +0000",
        "date_sent": null, "account_sid": "AC009716268a00cb71364038c500d17ff2", "to":
        "+918553427344", "from": "+15005550006", "messaging_service_sid": null, "body":
        "We missed you for your scheduled BP check-up at Simple Facility on 1 January,
        2018. Please come between 9.30 AM and 2 PM.", "status": "queued", "num_segments":
        "1", "num_media": "0", "direction": "outbound-api", "api_version": "2010-04-01",
        "price": null, "price_unit": "USD", "error_code": null, "error_message": null,
        "uri": "/2010-04-01/Accounts/AC009716268a00cb71364038c500d17ff2/Messages/SM27a3ff500b53446bb36b9582c25cd957.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/AC009716268a00cb71364038c500d17ff2/Messages/SM27a3ff500b53446bb36b9582c25cd957/Media.json"}}'
  recorded_at: Mon, 15 Apr 2019 12:26:28 GMT
recorded_with: VCR 4.0.0
